Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

UI: Usage Stats (#2519)
  static/js/common.js
  static/js/usage-stats.js
  static/usage-stats.html
Owners: @sunitakawane, @sonamgupta21

Fix : Metrics Explorer Legends/Series Height
  static/css/metrics-explorer.css
Owners: @sonamgupta21

Fix : Metrics Explorer Legends/Series Height (#2520)
  static/css/metrics-explorer.css
Owners: @sonamgupta21

Fix usage stats graph issue (#2521)
  pkg/health/clusterStatsHandler.go
  pkg/hooks/hooks.go
Owners: @Macbeth98, @AndrewHess

switch to using array instead of map for blockOffSetsLength
  pkg/segment/metadata/segmentmicroindex.go
  pkg/segment/query/metadata/blockmeta.go
  pkg/segment/query/metadata/metamocks.go
  pkg/segment/query/metadata/metareader_test.go
  pkg/segment/query/metadata/unrotatedmeta.go
  pkg/segment/query/processor/searcher.go
  pkg/segment/query/processor/searcher_test.go
  pkg/segment/query/segquery.go
  pkg/segment/reader/microreader/microreader.go
  pkg/segment/reader/record/recordreader.go
  pkg/segment/reader/record/rrcreader_test.go
  pkg/segment/reader/segread/multicolreader.go
  pkg/segment/reader/segread/multicolreader_test.go
  pkg/segment/reader/segread/segreader/segreader.go
  pkg/segment/reader/segread/segreader/tests/segreader_test.go
  pkg/segment/reader/segread/timereader.go
  pkg/segment/reader/segread/timereader_test.go
  pkg/segment/search/searchstatus_test.go
  pkg/segment/search/segsearch.go
  pkg/segment/search/segsearch_test.go
  pkg/segment/segexecution_test.go
  pkg/segment/structs/segsearchstructs.go
  pkg/segment/writer/packer.go
  pkg/segment/writer/packer_test.go
  pkg/segment/writer/segstore.go
  pkg/segment/writer/unrotatedquery.go
Owners: @Macbeth98, @AndrewHess

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2523)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2525)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Add check to not remove empty column if query index is races/service-dependency/red-traces
  pkg/ast/pipesearch/searchQueryParser.go
  pkg/segment/query/segquery.go
  pkg/segment/structs/segstructs.go
Owners: @Macbeth98, @AndrewHess

pr comments
  pkg/segment/query/metadata/blockmeta.go
  pkg/segment/reader/segread/multicolreader.go
  pkg/segment/reader/segread/multicolreader_test.go
  pkg/segment/reader/segread/segreader/segreader.go
  pkg/segment/reader/segread/segreader/tests/segreader_test.go
  pkg/segment/reader/segread/timereader_test.go
  pkg/segment/search/segsearch_test.go
Owners: @Macbeth98, @AndrewHess

fix ssm size calculations
  pkg/segment/metadata/segmentmicroindex.go
Owners: @Macbeth98, @AndrewHess

if found smi then save the ssm info for future use
  pkg/segment/metadata/segmentmicroindex.go
Owners: @Macbeth98, @AndrewHess

safety check
  pkg/segment/reader/segread/segreader/segreader.go
Owners: @Macbeth98, @AndrewHess

Fix usage stats graph issue
  pkg/health/clusterStatsHandler.go
  pkg/hooks/hooks.go
Owners: @Macbeth98, @AndrewHess

Fix usage stats timestamp issue (#2526)
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

Removing redundant org extraciton from request when processing usage stats
  pkg/health/clusterStatsHandler.go
Owners: @Macbeth98, @AndrewHess

use allBmi during unrotated, efficient float parsing
  pkg/segment/reader/segread/multicolreader.go
  pkg/segment/reader/segread/timereader.go
  pkg/segment/writer/segstore.go
  pkg/segment/writer/segwriter.go
  pkg/segment/writer/unrotatedquery.go
Owners: @Macbeth98, @AndrewHess

efficient float parsing
  pkg/segment/writer/packer.go
  pkg/utils/sliceutils.go
  pkg/utils/sliceutils_test.go
Owners: @Macbeth98, @AndrewHess

lint
  pkg/segment/writer/segstore.go
  pkg/utils/numutils_test.go
Owners: @Macbeth98, @AndrewHess

fix
  pkg/utils/numutils.go
Owners: @Macbeth98, @AndrewHess

Removing redundant org extraciton from request when processing usage stats (#2527)
  pkg/health/clusterStatsHandler.go
Owners: @Macbeth98, @AndrewHess

Setup reading from disk
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/query/metricsevaluator/evaluator.go
  pkg/segment/query/metricsevaluator/mockreader.go
  pkg/segment/query/metricsevaluator/seriesstream.go
  pkg/segment/query/metricsquery.go
  pkg/segment/query/metricsquery_test.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

Fix typo
  pkg/segment/query/metricsquery.go
Owners: @Macbeth98, @AndrewHess

Fix downsampling issue
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

Add tags dynamically
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/query/metricsquery.go
Owners: @Macbeth98, @AndrewHess

Fix tests
  pkg/segment/query/metricsquery_test.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

Disable failing test
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
