Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

add unrotated Next and Itr functions for unrotated tagstree
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/writer/metrics/tagstree.go
Owners: @Macbeth98, @AndrewHess

Fix: Timestamp Inconsistencies in Trace Scatter Chart
  static/css/tracing.css
  static/js/search-traces.js
Owners: @sonamgupta21, @sunitakawane

Fixed typo mistake
  static/css/metrics-explorer.css
Owners: @sonamgupta21

Removed extra code
  static/js/log-search.js
Owners: @sunitakawane, @sonamgupta21

Made some changes
  static/js/search.js
Owners: @sunitakawane, @sonamgupta21

Made some changes
  static/js/common.js
  static/js/log-search.js
Owners: @sunitakawane, @sonamgupta21

Added functionality to write compressed data to WAL file
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metricswal/wal.go
Owners: @Macbeth98, @AndrewHess

some simplification
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

make some func private
  pkg/segment/reader/metrics/tagstree/tagstree_test.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

Added a button so that the number gets updated for dashboard query
  static/js/common.js
  static/js/dashboard-charts.js
  static/js/edit-panel-screen.js
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Managed Visibility of fields-sidebar and expansion of Table (#2309)
  static/css/siglens.css
  static/index.html
  static/js/common.js
  static/js/event-handlers.js
  static/js/log-search.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

Refactor filter query validator for longevity test
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Made a change
  static/css/metrics-explorer.css
Owners: @sonamgupta21

Sig 2609 UI show cross hairline and details tab (#2326)
  static/css/metrics-explorer.css
  static/js/metrics-explorer.js
  static/metrics-explorer.html
Owners: @sonamgupta21, @sunitakawane

add getOrInserttsids for unrotated
  pkg/segment/reader/metrics/tagstree/tagstree_test.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/writer/metrics/tagstree.go
Owners: @Macbeth98, @AndrewHess

lint
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/writer/metrics/tagstree.go
Owners: @Macbeth98, @AndrewHess

Refactor filter query validator for longevity test (#2375)
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

fix: response of math function for negative Values
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
Owners: @Macbeth98, @AndrewHess

pr feedback
  pkg/segment/query/metricsquery.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

Fixed a bug
  static/js/edit-panel-screen.js
Owners: @sunitakawane, @sonamgupta21

Fix - prevent panic by safely handling dynamic time value types in tracehandler
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

Fix - Added unit test for the convertTimeToUint64 function
  pkg/segment/tracing/handler/tracehandler.go
  pkg/segment/tracing/handler/tracehandler_test.go
Owners: @Macbeth98, @AndrewHess

Fixed a bug
  static/js/edit-panel-screen.js
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Fix - Added unit test for the convertTimeToUint64 function
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

Fix - prevent panic by safely handling dynamic time value types in tracehandler (#2377)
  pkg/segment/tracing/handler/tracehandler.go
  pkg/segment/tracing/handler/tracehandler_test.go
Owners: @Macbeth98, @AndrewHess

small naming change
  pkg/segment/query/metricsquery.go
Owners: @Macbeth98, @AndrewHess

get unrotated tagtree search working
  pkg/segment/query/metricsquery.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/tagstree.go
Owners: @Macbeth98, @AndrewHess

add tagtree reading for unrotated (#2376)
  pkg/segment/query/metricsquery.go
  pkg/segment/reader/metrics/tagstree/tagstree_test.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/tagstree.go
Owners: @Macbeth98, @AndrewHess

remove some unnecessary code
  static/js/common.js
Owners: @sunitakawane, @sonamgupta21

added new test cases and updated comments
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Fix metric tag filter query (#2372)
  cicd/metrics_test.csv
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

WalMetrics - Added unit test - Code refactor
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/metricssegment_test.go
  pkg/segment/writer/segwriter.go
  pkg/segment/writer/wal/wal.go
  pkg/segment/writer/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

WalMetrics - Added unit test - Code refactor
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/segment/writer/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

Added functionality to write compressed data to WAL file WalMetrics - Added unit test - Code refactor
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/metricssegment_test.go
  pkg/segment/writer/segwriter.go
  pkg/segment/writer/wal/wal.go
  pkg/segment/writer/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

do not thrown err when tags tree file does not exist
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/writer/metrics/tagstree.go
  pkg/utils/errorutils.go
Owners: @Macbeth98, @AndrewHess

Fix Error symbolSize
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

Added metrics WAL functionality added unit test for the WAL
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

Fix: Tracing Scatter Chart Timeline (#2380)
  static/css/tracing.css
  static/js/search-traces.js
Owners: @sonamgupta21, @sunitakawane

Added Binary and ZSDT Compression -Updated unit test
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

Added open telemetry tab
  static/js/test-data.js
  static/test-data.html
Owners: @sunitakawane, @sonamgupta21

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
