Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

chore: refac small if fix
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

refac: remove decrement and increment and use a variable
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

test: add additional no query test case
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

removed log lines from blobstorage
  pkg/blob/blobStorage.go
Owners: @Macbeth98, @AndrewHess

removed log lines from blobstorage (#2417)
  pkg/blob/blobStorage.go
Owners: @Macbeth98, @AndrewHess

fix UT
  pkg/segment/query/metadatafilter_test.go
Owners: @Macbeth98, @AndrewHess

Add debugging util to show stack callers
  pkg/utils/debugutils.go
Owners: @Macbeth98, @AndrewHess

Add helper function to get segkey from filename
  pkg/utils/segutils.go
  pkg/utils/segutils_test.go
Owners: @Macbeth98, @AndrewHess

fixup
  pkg/utils/segutils_test.go
Owners: @Macbeth98, @AndrewHess

Add util functions (#2419)
  pkg/utils/debugutils.go
  pkg/utils/segutils.go
  pkg/utils/segutils_test.go
Owners: @Macbeth98, @AndrewHess

fix UT (#2418)
  pkg/segment/query/metadatafilter_test.go
Owners: @Macbeth98, @AndrewHess

refac: decrement and increment of index
  pkg/e2etests/metrics_e2e_test.go
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

Promql instant query Support (#2415)
  pkg/e2etests/metrics_e2e_test.go
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Shift + Enter to run query
  static/js/event-handlers.js
  static/js/log-search.js
Owners: @sunitakawane, @sonamgupta21

Added version field in the wal file
  cmd/startup/startup.go
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
Owners: @Macbeth98, @AndrewHess

Added Comments
  pkg/health/clusterStatsHandler.go
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

increase METRICS_BLK_FLUSH_SLEEP_DURATION
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

code refactor
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Added debuggers
  Release.key
  static/css/siglens.css
  static/js/common.js
  static/js/dashboard-charts.js
  static/js/dashboard.js
  static/js/edit-panel-screen.js
  static/js/metrics-explorer.js
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Added all fields params in url and preserved the state on page reload.The UI state reflects url
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

Now the date picker change reflects in the url and state is preserved on refresh
  static/js/service-health-overview.js
Owners: @sunitakawane, @sonamgupta21

The time range state is preserved on refresh for dependency graph page
  static/js/dependency-graph.js
Owners: @sunitakawane, @sonamgupta21

Added field to .sfm to track upload status
  pkg/segment/structs/segmeta.go
  pkg/segment/writer/segmetarw.go
  pkg/segment/writer/segwriter.go
Owners: @Macbeth98, @AndrewHess

Added Clear Wal File Format Code Refactored
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

Fix a util to get all files in a dir
  pkg/common/fileutils/fileutils.go
  pkg/common/fileutils/fileutils_test.go
Owners: @Macbeth98, @AndrewHess

Make WriteSfm public
  pkg/segment/writer/segmetarw.go
  pkg/segment/writer/segwriter.go
Owners: @Macbeth98, @AndrewHess

Remove redundant parameter
  pkg/segment/query/metadata/metamocks.go
  pkg/segment/writer/segmetarw.go
  pkg/segment/writer/segstore.go
  pkg/segment/writer/segwriter.go
Owners: @Macbeth98, @AndrewHess

Add precondition check
  pkg/segment/writer/segmetarw.go
Owners: @Macbeth98, @AndrewHess

dont delete timechart query if we had not started it, this removes one log error line that always gets printed
  pkg/ast/pipesearch/searchHandler.go
Owners: @Macbeth98, @AndrewHess

reduce logging
  pkg/segment/query/segquery.go
  pkg/segment/query/segqueryhelpers.go
Owners: @Macbeth98, @AndrewHess

don't delete timechart query if it is not started (#2422)
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/query/segquery.go
  pkg/segment/query/segqueryhelpers.go
Owners: @Macbeth98, @AndrewHess

Restruture writing a SegFullMeta (#2421)
  pkg/common/fileutils/fileutils.go
  pkg/common/fileutils/fileutils_test.go
  pkg/segment/query/metadata/metamocks.go
  pkg/segment/structs/segmeta.go
  pkg/segment/writer/segmetarw.go
  pkg/segment/writer/segstore.go
  pkg/segment/writer/segwriter.go
Owners: @Macbeth98, @AndrewHess

Add option to skip upload
  pkg/segment/writer/segmetarw.go
  pkg/segment/writer/segstore.go
Owners: @Macbeth98, @AndrewHess

Add option to skip upload (#2423)
  pkg/segment/writer/segmetarw.go
  pkg/segment/writer/segstore.go
Owners: @Macbeth98, @AndrewHess

safety check
  pkg/segment/query/summary/querysummary.go
Owners: @Macbeth98, @AndrewHess

safety check (#2424)
  pkg/segment/query/summary/querysummary.go
Owners: @Macbeth98, @AndrewHess

Added Unit Test
  pkg/health/clusterStatsHandler_test.go
Owners: @Macbeth98, @AndrewHess

Added timeBased wal data point Flush
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

Added Submenu dropdown for Infrastructure
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Added Usage Stats Screen (#2401)
  pkg/health/clusterStatsHandler.go
  pkg/health/clusterStatsHandler_test.go
  pkg/usageStats/stats.go
  static/assets/usage-stats-active.svg
  static/assets/usage-stats-regular.svg
  static/css/siglens.css
  static/js/cluster-stats.js
  static/js/common.js
  static/js/navbar.js
  static/js/usage-stats.js
  static/usage-stats.html
Owners: @Macbeth98, @AndrewHess, @sonamgupta21, @sunitakawane
