Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Spacing
  static/component/dashboard/sort-dropdown.js
  static/component/infrastructure/header-component.js
  static/component/infrastructure/search-dropdown-component.js
  static/index.html
  static/kubernetes-overview.html
  static/kubernetes-view.html
  static/metric-summary.html
  static/pqs-settings.html
  static/query-stats.html
  static/service-health-overview.html
Owners: @sunitakawane, @sonamgupta21

Updated Font Family
  static/component/single-box/single-box.css
  static/css/dashboard.css
  static/css/fonts/Inter/Inter_18pt-Bold.ttf
  static/css/fonts/Inter/Inter_18pt-Medium.ttf
  static/css/fonts/Inter/Inter_18pt-Regular.ttf
  static/css/fonts/RobotoMono/RobotoMono-Bold.ttf
  static/css/fonts/RobotoMono/RobotoMono-Regular.ttf
  static/css/fonts/SourceCodePro-Light.ttf
  static/css/metrics-explorer.css
  static/css/query-builder.css
  static/css/siglens.css
  static/css/tracing.css
  static/js/common.js
  static/js/dependency-graph.js
Owners: @sonamgupta21, @nkunal, @sunitakawane, @AndrewHess

Fix JSON Popup
  static/css/query-builder.css
  static/js/common.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

Preserved the URL state, and a more shorter flag
  static/css/siglens.css
  static/js/common.js
  static/js/event-handlers.js
  static/js/log-search.js
Owners: @sonamgupta21, @sunitakawane

Added dark Theme for svg
  static/css/siglens.css
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

Update interface
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Add util to check map equality
  tools/sigclient/go.mod
  tools/sigclient/go.sum
  tools/sigclient/pkg/utils/maps.go
  tools/sigclient/pkg/utils/maps_test.go
Owners: @Macbeth98, @AndrewHess

Add a query validator for simple filter queries
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Add simple test case
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Add more thorough testing
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Add simple concurrency test
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

refac: address comments and support -le value extractions
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/metricresults_test.go
Owners: @Macbeth98, @AndrewHess

PromQL Histogram quantile Implementation (#2333)
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/results/mresults/histogram.go
  pkg/segment/results/mresults/histogram_test.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/metricresults_test.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/utils/segconsts.go
Owners: @Macbeth98, @AndrewHess

Setup new longevity command
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

Add ingestion callback
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/ingest/ingest.go
Owners: @Macbeth98, @AndrewHess

add activeseries count, some code simplication, remove some unused bloom and some unused code
  pkg/instrumentation/ssgauges.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/tagstree.go
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

add timeout support for metric queries
  pkg/segment/query/metricsquery.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/segexecution.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Finish the callback plumbing
  tools/sigclient/pkg/ingest/ingest.go
Owners: @Macbeth98, @AndrewHess

Add function requirement to interface
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

fix: lint errors
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess

pr comments
  pkg/segment/writer/metrics/metricssegment.go
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

Make metrics format name case-insensitive in ingestion Converted metricsFormat to lowercase before comparison to allow case-insensitive matching of supported formats (OTSDB, Prometheus).
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

Implemented support to ingest Prometheus Remote Write format Metrics data into SigLens. (#2331)
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/go.mod
  tools/sigclient/go.sum
  tools/sigclient/pkg/ingest/ingest.go
Owners: @Macbeth98, @AndrewHess

Fixed interval calculation for log histograms to properly limit bucket size
  pkg/ast/spl/spl.go
  pkg/ast/spl/spl.peg
  pkg/segment/aggregations/timechartagg.go
Owners: @Macbeth98, @AndrewHess

Changes to improve prometheus metrics ingesion. Only compiles
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/metricssegment_test.go
Owners: @Macbeth98, @AndrewHess

Remove Default Dashboards
  defaultDBs/allids.json
  defaultDBs/details/10329b95-47a8-48df-8b1d-0a0a01ec6c42.json
  defaultDBs/details/53cb3dde-fd78-4253-808c-18e4077ef0f1.json
  defaultDBs/details/a28f485c-4747-4024-bb6b-d230f101f852.json
  defaultDBs/details/bd74f11e-26c8-4827-bf65-c0b464e1f2a4.json
  defaultDBs/folder_structure.json
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Playwright Test
  playwright-tests/tests/dashboards-home-1.test.js
Owners: @sunitakawane, @sonamgupta21

Show Vertical Line on Metrics Graphs
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Additional error handling
  pkg/integrations/prometheus/ingest/putmetrics.go
Owners: @Macbeth98, @AndrewHess

Fix: Update legends color when theme is updated
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

FIx: Navbar and Available Fields CSS
  static/css/siglens.css
  static/index.html
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Fix Dark Theme
  static/css/metrics-explorer.css
Owners: @sonamgupta21

Fix: Parse Loki labels as JSON key-value pairs instead of strings
  pkg/integrations/loki/loki.go
Owners: @Macbeth98, @AndrewHess

Remove Default Dashboards (#2337)
  defaultDBs/allids.json
  defaultDBs/details/10329b95-47a8-48df-8b1d-0a0a01ec6c42.json
  defaultDBs/details/53cb3dde-fd78-4253-808c-18e4077ef0f1.json
  defaultDBs/details/a28f485c-4747-4024-bb6b-d230f101f852.json
  defaultDBs/details/bd74f11e-26c8-4827-bf65-c0b464e1f2a4.json
  defaultDBs/folder_structure.json
  playwright-tests/tests/dashboards-home-1.test.js
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Setup structure of query manager
  tools/sigclient/pkg/query/querymanager.go
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

add active series count (#2334)
  pkg/instrumentation/ssgauges.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/tagstree.go
  pkg/segment/writer/segstore.go
  pkg/usageStats/compressedstats.go
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

Improvements to metrics ingestion. Dont do unnecessary stuff - checkpoint for profiling
  pkg/integrations/prometheus/ingest/putmetrics.go
Owners: @Macbeth98, @AndrewHess

Fix: Parse Loki labels as JSON key-value pairs instead of strings (#2339)
  pkg/integrations/loki/loki.go
Owners: @Macbeth98, @AndrewHess

Add timeout support for metric queries (#2335)
  pkg/segment/query/metricsquery.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/segexecution.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Further refactoring
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess
