Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Count function in PromQL matches expected behavior - now no longer operates on all time series by default
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/integrations/prometheus/promql/parser.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/tests/metricsresults_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Added parser for metrics label replace function
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/utils/segconsts.go
Owners: @Macbeth98, @AndrewHess

Setup basics of mTLS
  pkg/config/config.go
  pkg/server/ingest/server.go
  pkg/server/query/server.go
  pkg/server/utils/utils.go
Owners: @Macbeth98, @AndrewHess

Add config options for mTLS settings
  pkg/config/common/common.go
  pkg/config/config.go
Owners: @Macbeth98, @AndrewHess

Require setting the ClientCA when mTLS is enabled
  pkg/server/utils/utils.go
  server.yaml
Owners: @Macbeth98, @AndrewHess, @nkunal, @sunitakawane, @sonamgupta21

Update config tests for mTLS
  pkg/config/config_test.go
Owners: @Macbeth98, @AndrewHess

fixup
  server.yaml
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Add support for mTLS (#2183)
  pkg/config/common/common.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/server/ingest/server.go
  pkg/server/query/server.go
  pkg/server/utils/utils.go
  server.yaml
Owners: @Macbeth98, @AndrewHess, @nkunal, @sunitakawane, @sonamgupta21

Changed the font type and color for logs text
  static/css/query-builder.css
  static/css/siglens.css
  static/js/event-handlers.js
Owners: @sonamgupta21, @sunitakawane

Setup framework for e2e tests
  pkg/e2etests/e2e_utils.go
Owners: @Macbeth98, @AndrewHess

Implementation for label replace function
  pkg/e2etests/metrics_e2e_test.go
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/aggregations/segaggs.go
  pkg/segment/query/processor/rexcommand.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
  pkg/segment/structs/evaluationstructs.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

not ignoring the second arg in tests
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

Begin setting up e2e framework
  pkg/e2etests/e2e_utils.go
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

Fixed linting error
  static/js/event-handlers.js
Owners: @sunitakawane, @sonamgupta21

fixed typo in class name
  static/js/event-handlers.js
Owners: @sunitakawane, @sonamgupta21

Worked and made changes on Alerts.go and alertutils.go
  pkg/alerts/alertutils/alertutils.go
  tools/sigclient/pkg/alerts/alerts.go
Owners: @Macbeth98, @AndrewHess

changed files alertutils.go and alerts.go
  pkg/alerts/alertutils/alertutils.go
  tools/sigclient/pkg/alerts/alerts.go
Owners: @Macbeth98, @AndrewHess

changed selIndexName
  pkg/ast/pipesearch/searchHandler.go
  static/js/search.js
Owners: @Macbeth98, @AndrewHess, @sunitakawane, @sonamgupta21

.
  static/js/search.js
Owners: @sunitakawane, @sonamgupta21

handled indexName = 'otel-index-logs'
  pkg/ast/pipesearch/searchHandler.go
Owners: @Macbeth98, @AndrewHess

Moved the font type css to only logs grid text
  static/css/query-builder.css
  static/css/siglens.css
Owners: @sonamgupta21

Changed the font type and color for logs text (#2184)
  static/css/siglens.css
  static/js/event-handlers.js
Owners: @sonamgupta21, @sunitakawane

Moved the custom query builder elements at top (#2173)
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
Owners: @sonamgupta21

Added expand icon in timestamp cells
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Added box for expand icon
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Changed the expand icon button box size and minor css changes
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

trial commit
  pkg/alerts/alertutils/alertutils.go
  tools/sigclient/pkg/alerts/alerts.go
Owners: @Macbeth98, @AndrewHess

APM is showing on UI
  pkg/alerts/alertutils/alertutils.go
  tools/sigclient/pkg/alerts/alerts.go
Owners: @Macbeth98, @AndrewHess

Added expand icon next to timestamp (#2190)
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Added hover for log lines
  static/css/siglens.css
Owners: @sonamgupta21

Added a popup box for json content
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Changed the size of the overlay box and added diff colors to key and value for json content
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Added hover for log lines (#2192)
  static/css/siglens.css
Owners: @sonamgupta21

removed commented and unused code
  static/css/siglens.css
Owners: @sonamgupta21

Update saved-query.js
  static/js/saved-query.js
Owners: @sunitakawane, @sonamgupta21

Improve UX for dashboard modals
  static/component/dashboard/add-new.js
Owners: @sunitakawane, @sonamgupta21

github actions: style: format files
  static/js/event-handlers.js
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Add tests for sync segmeta and fix mock column segstore function and fix relevant test cases
  pkg/segment/query/metadata/metamocks.go
  pkg/segment/query/metadatafilter_test.go
  pkg/segment/query/segquery_test.go
  pkg/segment/reader/record/rrcreader_test.go
  pkg/segment/segexecution_test.go
  pkg/segment/segexecutionsort_test.go
  pkg/segment/writer/packer.go
  pkg/segment/writer/segstore.go
  pkg/segment/writer/segwriter.go
Owners: @Macbeth98, @AndrewHess

Added the ability to mock ingest multiple ids and indexes
  pkg/segment/query/metadata/metamocks.go
Owners: @Macbeth98, @AndrewHess

refac: the initsyncsegmeta to take AllSegmetasHook as an argument
  pkg/segment/query/segquery.go
Owners: @Macbeth98, @AndrewHess
