Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

potential race condition fix
  pkg/segment/query/summary/querysummary.go
Owners: @Macbeth98, @AndrewHess

Added Correct Lock in time based wal Data Point flush
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Added submenu for alerts menu
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Added some design
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Made mentioned changes
  static/js/dependency-graph.js
Owners: @sunitakawane, @sonamgupta21

Added popstate event listener for service-health-overview
  static/js/service-health-overview.js
Owners: @sunitakawane, @sonamgupta21

Add keyboard shortcut for metrics raw query search
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

nit
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

created url for search-traces
  static/js/search-traces.js
  static/search-traces.html
Owners: @sunitakawane, @sonamgupta21

Added metrics WAL functionality added unit test for the WAL (#2381)
  cmd/startup/startup.go
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

Made some changes
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Added keyboard shortcut for Metrics raw query search (#2426)
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Added dropdown submenu for alerts and infrastructure menu
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Add initial queries
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

fixup
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

Avoid potential divide by 0
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

Add initial queries to longevity test (#2429)
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

Refactor filters in the longevity test (#2430)
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Fix bug copying dynamic filters
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Add unit tests
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Fix issue caching invalid query
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Add queries that use the dynamic filter
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

Add a dynamically generated filter
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Add comment to clarify intent
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Add longer queries
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

fixup
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

Add dynamic queries to the longevity suite (#2431)
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Add option to allow all start times
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Handle the new flag
  tools/sigclient/pkg/query/querymanager.go
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Add unit tests
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Add instances of the new query type to the suite
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

Include validation level in logs
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Fix bug in Copy method
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Fix a bug
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

Add optimization to avoid needless computation
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Add queries with long time range to longevity suite (#2432)
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/querymanager.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

fix: label replace with no source label
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

fix: last_over_time function
  pkg/integrations/prometheus/promql/parser.go
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

remove unneeded log line
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

fix: parser for nested query containing binary expr and update + add new parser tests
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
