Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

fix: process metric query aggs chain if exist after binary operation
  pkg/integrations/prometheus/promql/metricsSearchHandler_test.go
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/utils/operatorutils.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/tests/metricsresults_test.go
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess

reduce error logging
  pkg/segment/reader/segread/segreader/segreader.go
  pkg/segment/reader/segread/timereader.go
  pkg/segment/search/filtersearch.go
Owners: @Macbeth98, @AndrewHess

add debug profiler to sigclient. increase perf of longevity client
  tools/sigclient/go.mod
  tools/sigclient/go.sum
  tools/sigclient/pkg/ingest/ingest.go
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

lint
  tools/sigclient/pkg/ingest/ingest.go
Owners: @Macbeth98, @AndrewHess

avoid map lookups and conversion for ts field to increase client perf
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/ingest/ingest.go
  tools/sigclient/pkg/query/querymanager.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
  tools/sigclient/pkg/utils/metricsreader.go
  tools/sigclient/pkg/utils/reader.go
Owners: @Macbeth98, @AndrewHess

Fix - Closed of closed panic
  pkg/segment/query/summary/querysummary.go
Owners: @Macbeth98, @AndrewHess

K8 Submenu Table Working
  static/js/kubernetes-queries.js
  static/js/kubernetes-view.js
  static/kubernetes-view.html
Owners: @sunitakawane, @sonamgupta21

pr feedback
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Fix infinite loop in error path
  pkg/segment/reader/segread/timereader.go
Owners: @Macbeth98, @AndrewHess

Nested submenu for kubernetes
  static/css/siglens.css
  static/js/navbar.js
  static/js/search-traces.js
Owners: @sonamgupta21, @sunitakawane

reduce error logging (#2435)
  pkg/segment/reader/segread/segreader/segreader.go
  pkg/segment/reader/segread/timereader.go
  pkg/segment/search/filtersearch.go
Owners: @Macbeth98, @AndrewHess

Increase sigclient perf and add debug profiler to client (#2434)
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/go.mod
  tools/sigclient/go.sum
  tools/sigclient/pkg/ingest/ingest.go
  tools/sigclient/pkg/query/querymanager.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
  tools/sigclient/pkg/utils/metricsreader.go
  tools/sigclient/pkg/utils/reader.go
Owners: @Macbeth98, @AndrewHess

Fix infinite loop in error path (#2438)
  pkg/segment/reader/segread/timereader.go
Owners: @Macbeth98, @AndrewHess

Fix - Closed of closed panic (#2436)
  pkg/segment/query/summary/querysummary.go
Owners: @Macbeth98, @AndrewHess

fix: timewindow to be left-opend and right close; fix: respective tests
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
Owners: @Macbeth98, @AndrewHess

refac: nit fixes
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/utils/operatorutils.go
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess

Fix slice out of range panic
  pkg/segment/reader/segread/timereader.go
Owners: @Macbeth98, @AndrewHess

Log Metrics Query Summary With Query State
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/query/querystatus.go
  pkg/segment/query/summary/querysummary.go
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess

remove debug print logs
  pkg/otlp/logs_test.go
  pkg/segment/query/summary/querysummary.go
Owners: @Macbeth98, @AndrewHess

update last query state for logs
  pkg/ast/pipesearch/searchHandler.go
Owners: @Macbeth98, @AndrewHess

Fix slice out of range panic (#2439)
  pkg/segment/reader/segread/timereader.go
Owners: @Macbeth98, @AndrewHess

Log Metrics Query Summary With Query State (#2440)
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
  pkg/ast/pipesearch/searchHandler.go
  pkg/otlp/logs_test.go
  pkg/segment/query/querystatus.go
  pkg/segment/query/summary/querysummary.go
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess

dont log error instead return the err in handleBlock
  pkg/segment/reader/record/recordreader.go
  pkg/utils/sliceutils.go
  pkg/utils/sliceutils_test.go
Owners: @Macbeth98, @AndrewHess

propogate error instead of printing
  pkg/segment/reader/record/recordreader.go
Owners: @Macbeth98, @AndrewHess

remove info log line
  pkg/segment/reader/record/recordreader.go
Owners: @Macbeth98, @AndrewHess

reduce logging
  pkg/segment/reader/record/rrcreader.go
  pkg/segment/reader/segread/agiletreereader.go
Owners: @Macbeth98, @AndrewHess

reduce logging
  pkg/segment/reader/segread/dechecker.go
  pkg/segment/reader/segread/multicolreader.go
  pkg/segment/reader/segread/rollupreader.go
Owners: @Macbeth98, @AndrewHess

reduce logging
  pkg/segment/reader/segread/segreader/segreader.go
  pkg/segment/reader/segread/segstatsreader.go
  pkg/segment/reader/segread/timereader.go
Owners: @Macbeth98, @AndrewHess

fix: PromQL Metrics Nested Queries with Binary Expr Plus other Misc fixes (#2433)
  pkg/integrations/prometheus/promql/metricsSearchHandler_test.go
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/integrations/prometheus/utils/operatorutils.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
  pkg/segment/results/mresults/tests/metricsresults_test.go
  pkg/segment/segexecution.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Avoid silent failure
  pkg/segment/reader/segread/segstatsreader.go
Owners: @Macbeth98, @AndrewHess

reduce error logging (#2441)
  pkg/segment/reader/record/recordreader.go
  pkg/segment/reader/record/rrcreader.go
  pkg/segment/reader/segread/agiletreereader.go
  pkg/segment/reader/segread/dechecker.go
  pkg/segment/reader/segread/multicolreader.go
  pkg/segment/reader/segread/rollupreader.go
  pkg/segment/reader/segread/segreader/segreader.go
  pkg/segment/reader/segread/segstatsreader.go
  pkg/segment/reader/segread/timereader.go
  pkg/utils/sliceutils.go
  pkg/utils/sliceutils_test.go
Owners: @Macbeth98, @AndrewHess

Implemented WAL support for metric names
  cmd/startup/startup.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

Fix panic on bad record number
  pkg/segment/reader/segread/segreader/segreader.go
Owners: @Macbeth98, @AndrewHess

Fix panic on bad record number (#2443)
  pkg/segment/reader/segread/segreader/segreader.go
Owners: @Macbeth98, @AndrewHess

feat: enter for submit, Shift + enter for soft return
  static/js/common.js
  static/js/event-handlers.js
Owners: @sunitakawane, @sonamgupta21

fix: interchanged the SVGs for collapse panel icon and expand panel icon
  static/js/log-search.js
Owners: @sunitakawane, @sonamgupta21

Bump to 1.0.31
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.31 (#2444)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.32d
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.32d (#2446)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
