Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Created separate JS file for alert details
  static/alert-details.html
  static/js/alert-details.js
  static/js/alert.js
Owners: @sonamgupta21, @sunitakawane

Begin adding channel multiplexer
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
Owners: @Macbeth98, @AndrewHess

Fix Card Gradient
  static/component/infrastructure/big-number-card-component.js
  static/component/infrastructure/container-image-card-component.js
  static/css/siglens.css
Owners: @sunitakawane, @sonamgupta21

Fix Card Gradient (#2208)
  static/component/infrastructure/big-number-card-component.js
  static/component/infrastructure/container-image-card-component.js
  static/css/siglens.css
Owners: @sunitakawane, @sonamgupta21

Handle the various state messages
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
  pkg/segment/structs/resultStructs.go
Owners: @Macbeth98, @AndrewHess

Cleanup
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
  pkg/segment/structs/resultStructs.go
Owners: @Macbeth98, @AndrewHess

Send extra required info on completion
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
Owners: @Macbeth98, @AndrewHess

UI : Added side panel to display logs JSON
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Cleanup
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Lint Fix
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

UI : Displaying Logs JSON Data in Split View (#2209)
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Get span and trace IDs from otel log attributes
  pkg/otlp/logs.go
Owners: @Macbeth98, @AndrewHess

Get span and trace IDs from otel log attributes (#2210)
  pkg/otlp/logs.go
Owners: @Macbeth98, @AndrewHess

Fix bug causing nil errors to be sent
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess

Run the timechart query as well when on websocket
  pkg/ast/pipesearch/addTimechart_test.go
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
  pkg/ast/pipesearch/searchHandler.go
  pkg/ast/pipesearch/wsSearchHandler.go
Owners: @Macbeth98, @AndrewHess

Re-organized the alerts flow
  static/alert-landing.html
  static/alert-rules-landing.html
  static/alert.html
  static/contacts.html
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Handle Key Value List Value Type
  pkg/otlp/utils.go
Owners: @Macbeth98, @AndrewHess

Enhanced css of metrics submenu cards, removed the outer orange vertical line for dropdown, added active class for submenus, fixed the bug of metric dropdown collapsing after clicking on other menus
  static/css/siglens.css
  static/js/navbar.js
  static/metrics.html
  static/traces-ingestion.html
Owners: @sonamgupta21, @sunitakawane

Removed outer vertical orange line for dropdown, added active class for submenus, fixed the bug of metric dropdown collapsing after clicking on other menus
  static/css/siglens.css
Owners: @sonamgupta21

Integrate multiplexer with websocket handler
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
  pkg/ast/pipesearch/searchHandler.go
Owners: @Macbeth98, @AndrewHess

Add simple test for multiplexer
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer_test.go
Owners: @Macbeth98, @AndrewHess

Add test for completing main query first
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer_test.go
Owners: @Macbeth98, @AndrewHess

Refactor
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer_test.go
Owners: @Macbeth98, @AndrewHess

Add test for timechart completing first
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer_test.go
Owners: @Macbeth98, @AndrewHess

Add test for update messages
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer_test.go
Owners: @Macbeth98, @AndrewHess

Refactor
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer_test.go
Owners: @Macbeth98, @AndrewHess

Added active class for submenus, fixed the bug of metric dropdown collapsing after clicking on other menus
  static/css/siglens.css
Owners: @sonamgupta21

Test correct qid is propagated
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer_test.go
Owners: @Macbeth98, @AndrewHess

fixed the bug of metric dropdown collapsing after clicking on other menus
  static/css/siglens.css
Owners: @sonamgupta21

Test that an error prevents future messages
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer_test.go
Owners: @Macbeth98, @AndrewHess

Fix: Logs JSON Popup Scrolling
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
Owners: @sonamgupta21

made some changes
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Fix time window for trace view (±15min)
  static/js/search-traces.js
  static/js/trace.js
Owners: @sunitakawane, @sonamgupta21

made some changes
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Add support for OTEL Metrics
  pkg/otlp/metrics.go
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/segwriter.go
Owners: @Macbeth98, @AndrewHess

minor changes
  pkg/alerts/alertsHandler/cronJobHandler.go
  pkg/segment/tracing/handler/tracehandler.go
  pkg/segment/tracing/handler/tracehandler_test.go
  tools/sigclient/pkg/alerts/alerts.go
Owners: @Macbeth98, @AndrewHess

Add support for OLTP Metrics
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/segwriter.go
  pkg/server/ingest/entryHandlers.go
  pkg/server/ingest/server.go
Owners: @Macbeth98, @AndrewHess

Add support for OLTP Metrics
  pkg/otlp/metrics.go
Owners: @Macbeth98, @AndrewHess

Two different indices can have same column names. Need to distinguish between the two. We need to also account for timestamp column per index - not one for ALL indices.
  pkg/health/clusterStatsHandler.go
Owners: @Macbeth98, @AndrewHess

Fix: Logs JSON Popup Scrolling (#2213)
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
Owners: @sonamgupta21
