Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Refactor part of the first aggregation
  pkg/metrics/taggedseries.go
  pkg/metrics/taggedseries_test.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

Fully handle the downsampling aggregation
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Add support for PromQL without Aggregation operator
  pkg/integrations/prometheus/promql/parser.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/metricresults_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

refac: promql result.Value slice operations
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Convert TaggedSeries to old timeseries format
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Added PauseMode param to test data
  pkg/config/config_test.go
Owners: @Macbeth98, @AndrewHess

Update Docker Compose to V2
  install.sh
  install_with_docker.sh
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

In this PR, Jaeger-Grafana-Plugin 1) Services API /api/services /api/services/{serviceName}/operations
  pkg/segment/tracing/handler/jaegerHandler.go
Owners: @Macbeth98, @AndrewHess

In this PR, Jaeger-Grafana-Plugin 1) Services API /api/services /api/services/{serviceName}/operations
  pkg/segment/tracing/handler/jaegerHandler.go
Owners: @Macbeth98, @AndrewHess

Jaeger grafana plugin (#2285)
  pkg/segment/tracing/handler/jaegerHandler.go
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
  pkg/server/utils/utils.go
Owners: @Macbeth98, @AndrewHess

Promql range query fixes (#2289)
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

Get most CICD tests passing
  pkg/metrics/taggedseries.go
  pkg/metrics/taggedseries_test.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

Implement the "group" function
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

Fixed bugs
  static/css/query-builder.css
  static/css/siglens.css
  static/js/histo.js
  static/js/navbar.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

Fixed few bugs
  static/css/siglens.css
Owners: @sonamgupta21

Separate response structs for PromQL Range and Instant Queries
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/structs/metricsstructs_test.go
Owners: @Macbeth98, @AndrewHess

test: Add test for promql parser
  pkg/integrations/prometheus/promql/parser_test.go
Owners: @Macbeth98, @AndrewHess

Check for nil in iterator
  pkg/utils/iterator.go
  pkg/utils/iterator_test.go
Owners: @Macbeth98, @AndrewHess

test: Added e2e tests for metric without query
  pkg/e2etests/metrics_e2e_test.go
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

fix: parser tests
  pkg/integrations/prometheus/promql/parser_test.go
Owners: @Macbeth98, @AndrewHess

Fix group by
  cicd/metrics_test.csv
  pkg/metrics/taggedseries.go
  pkg/metrics/taggedseries_test.go
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Separate response structs for PromQL Range and Instant Queries (#2292)
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/structs/metricsstructs_test.go
Owners: @Macbeth98, @AndrewHess

remove debug print logs
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

refac: variable name and update comments
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/metricresults_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

refac: remove groupbyfieldset when without is given
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/metricresults_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Sanitize float values
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Add support for PromQL without Aggregation operator (#2290)
  pkg/e2etests/metrics_e2e_test.go
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/metricresults_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Set minimum step value to 1 second
  pkg/integrations/prometheus/promql/parser.go
Owners: @Macbeth98, @AndrewHess

temp changes
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/tracing/handler/jaegerHandler.go
Owners: @Macbeth98, @AndrewHess

Update Docker Compose V2
  install.sh
  install_with_docker.sh
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Fix Metrics URL
  static/js/kubernetes-overview.js
Owners: @sunitakawane, @sonamgupta21

Fix metrics explorer bugs
  eslint.config.mjs
  static/css/dashboard.css
  static/css/metrics-explorer.css
  static/js/common.js
  static/js/metrics-explorer.js
  static/metrics-explorer.html
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Fix the library error
  static/alert.html
  static/dashboard.html
Owners: @sonamgupta21

Fix CSS and Lint
  static/dashboard.html
  static/js/common.js
  static/js/metrics-explorer.js
Owners: @sonamgupta21, @sunitakawane

Fix adding multiple metric queries to dashboard
  static/css/siglens.css
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

Css Fix
  static/index.html
  static/metrics-explorer.html
Owners: @sonamgupta21

Changed active states os menu items
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

1. Removed dummy code 2. Fixed the service condition to replace it with '*' if it is empty.
  pkg/segment/tracing/handler/jaegerHandler.go
Owners: @Macbeth98, @AndrewHess

1. Removed dummy code
  pkg/segment/tracing/handler/jaegerHandler.go
Owners: @Macbeth98, @AndrewHess

Added Tooltip for Formula Button On Alerts Screen
  static/js/alert.js
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
