Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Fix: Dashboard Data Table and Log Lines View (#2304)
  static/css/dashboard.css
  static/css/siglens.css
  static/js/common.js
  static/js/dashboard-logs-results-grid.js
  static/js/edit-panel-screen.js
Owners: @sonamgupta21, @sunitakawane

Fix: Handles both signed and unsigned integers for epoch conversion.
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

dont accumulate all tsids when only cardinality was asked, removes unwanted map inserts
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/query/metricsquery.go
  pkg/segment/reader/metrics/tagstree/tagstree_test.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

Made the sidebar scrollable with nav-header and nav-footer intact, Added a seperator for nav-footer
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Added a little padding for arrow
  static/css/siglens.css
Owners: @sonamgupta21

Made few changes
  static/css/siglens.css
Owners: @sonamgupta21

Made few changes
  static/css/siglens.css
Owners: @sonamgupta21

use card for tagkey pairs
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

Sidebar UI - Submenu Toggle Dropdown for menuItem (#2301)
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Fix: Handles both signed and unsigned integers for epoch conversion.
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

use cardinality for tagkeysWithMostSeries as well
  pkg/e2etests/metrics_e2e_test.go
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
Owners: @Macbeth98, @AndrewHess

update comment and better func name
  pkg/segment/reader/metrics/tagstree/tagstree_test.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

Fix: log the error with val and type
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

Update TSO format and increment current version
  pkg/segment/reader/metrics/series/seriesreader.go
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Clean up unit test
  pkg/segment/writer/metrics/metricssegment_test.go
Owners: @Macbeth98, @AndrewHess

Fix bugs causing failing test
  pkg/segment/reader/metrics/series/seriesreader.go
  pkg/segment/utils/segconsts.go
Owners: @Macbeth98, @AndrewHess

Test reading old TSO file
  pkg/segment/writer/metrics/metricssegment_test.go
Owners: @Macbeth98, @AndrewHess

Fix: Handle missing "startEpoch" and "endEpoch" keys (#2303)
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

dont accumulate all tsids when only cardinality was asked, removes un… (#2305)
  pkg/e2etests/metrics_e2e_test.go
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/query/metricsquery.go
  pkg/segment/reader/metrics/tagstree/tagstree_test.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

Fix issue not adding some tags to tags tree
  pkg/segment/writer/metrics/tagstree.go
Owners: @Macbeth98, @AndrewHess

fixup
  pkg/segment/writer/metrics/tagstree.go
Owners: @Macbeth98, @AndrewHess

Fix issue not adding some tags to tags tree (#2307)
  pkg/segment/writer/metrics/tagstree.go
Owners: @Macbeth98, @AndrewHess

Fix overflow issue in TSO file (#2306)
  pkg/segment/reader/metrics/series/seriesreader.go
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/metricssegment_test.go
Owners: @Macbeth98, @AndrewHess

Updated scripts based on a few runs on ec2
  tools/cb_post/benchmark.sh
  tools/cb_post/queries.spl
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Added results and benchmark script output against release 1.0.25
  tools/cb_post/result.csv
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

fix todo
  pkg/integrations/prometheus/ingest/putmetrics.go
Owners: @Macbeth98, @AndrewHess

fix todo (#2308)
  pkg/integrations/prometheus/ingest/putmetrics.go
Owners: @Macbeth98, @AndrewHess

Managed Visibility of fields-sidebar and expansion of Table
  static/css/siglens.css
  static/index.html
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

Changed the icon design
  static/css/siglens.css
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

Added tooltips for the icon
  static/js/common.js
Owners: @sunitakawane, @sonamgupta21

Update siglens.css
  static/css/siglens.css
Owners: @sonamgupta21

In this pr fixes the splunk panic, when a query like below is received ... * | stats avg(dropped_attributes_count) BY attributes.quantity
  pkg/segment/results/segresults/segresults.go
Owners: @Macbeth98, @AndrewHess

In this pr fixes the splunk panic, when a query like below is received ... * | stats avg(dropped_attributes_count) BY attributes.quantity
  pkg/segment/results/segresults/segresults.go
Owners: @Macbeth98, @AndrewHess

audit events module
  Audit Events Module/audit.go
  Audit Events Module/main.go
Owners: @Macbeth98, @AndrewHess

fix panic in SplunkQL query due to Index out of range (#2310)
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/segment/results/segresults/segresults.go
Owners: @Macbeth98, @AndrewHess

write UTs to check rw of metrics at scale
  pkg/e2etests/metrics_e2e_test.go
  pkg/segment/reader/metrics/tagstree/tagstree_test.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

fix: PromQL rate and increase implementation
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
Owners: @Macbeth98, @AndrewHess

update rate and increase queries in cicd
  cicd/metrics_test.csv
Owners: @Macbeth98, @AndrewHess

Interview process : Audit package creation
  pkg/audit/audit.go
  pkg/audit/main.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Updates to README, benchmark script and added results of benchmark run on SigLens 1.0.25 release
  tools/cb_post/README.md
  tools/cb_post/benchmark.sh
  tools/cb_post/results/c6a.4xlarge.json
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess
