Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Removed unnecessary steps of encoding and decoding. Deleted unused function
  pkg/otlp/metrics.go
Owners: @Macbeth98, @AndrewHess

Fixed Lint Error
  pkg/otlp/metrics.go
Owners: @Macbeth98, @AndrewHess

Chenged menu and submenu navigation and dropdown behavior
  static/apm.html
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Fixed playwright
  playwright-tests/tests/navbar-1.test.js
  playwright-tests/tests/navbar-2.test.js
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

menu cards for ingestion page
  static/ingestion.html
Owners: @sonamgupta21

fixed playwright
  playwright-tests/tests/navbar-2.test.js
Owners: @sunitakawane, @sonamgupta21

Cleanup
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Fixed playwright
  static/css/siglens.css
Owners: @sonamgupta21

Added ingestion page
  static/ingestion.html
Owners: @sonamgupta21

Fixed playwright
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

prealloc nodepool size in smaller chunks
  pkg/segment/writer/agiletree.go
Owners: @Macbeth98, @AndrewHess

Added ingestion page (#2495)
  static/ingestion.html
Owners: @sonamgupta21

prealloc nodepool size in smaller chunks (#2496)
  pkg/segment/writer/agiletree.go
Owners: @Macbeth98, @AndrewHess

UI Changes
  pkg/hooks/hooks.go
  static/cluster-stats.html
  static/index.html
  static/js/navbar.js
  static/js/settings.js
  static/org-settings.html
  static/pqs-settings.html
  static/query-stats.html
Owners: @Macbeth98, @AndrewHess, @sonamgupta21, @sunitakawane

Fix Lint
  pkg/hooks/hooks.go
Owners: @Macbeth98, @AndrewHess

Added breadcrumbs for new pages
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Fixed icon behavior for submenu active and hover
  static/js/test-data.js
Owners: @sunitakawane, @sonamgupta21

✅ added generic WAL
  cmd/startup/startup.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

UI Changes (#2497)
  pkg/hooks/hooks.go
  static/cluster-stats.html
  static/index.html
  static/js/navbar.js
  static/js/settings.js
  static/org-settings.html
  static/pqs-settings.html
  static/query-stats.html
Owners: @Macbeth98, @AndrewHess, @sonamgupta21, @sunitakawane

✅ Fix unit Test
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

Removed total sensitivity of help menu
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Cleanup
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

✅ Fix unit Test
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

Fixed side nav closing issue
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

✅ Increase Retention Time to the 30 days
  pkg/config/config.go
Owners: @Macbeth98, @AndrewHess

✅ Fix unit test
  pkg/config/config_test.go
Owners: @Macbeth98, @AndrewHess

✅ Increase Retention Time to the 30 days (#2498)
  pkg/config/config.go
  pkg/config/config_test.go
Owners: @Macbeth98, @AndrewHess

metrics: execution flow
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/metadata/tsmeta.go
  pkg/segment/query/metricsevaluator/evaluator.go
  pkg/segment/query/metricsevaluator/seriesstream.go
  pkg/segment/query/metricsquery.go
  pkg/segment/query/metricsquery_test.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

use flexible pools
  pkg/segment/reader/metrics/series/seriesreader.go
  pkg/utils/fileutils.go
Owners: @Macbeth98, @AndrewHess

remove unused param
  pkg/segment/utils/segconsts.go
Owners: @Macbeth98, @AndrewHess

lint
  pkg/segment/utils/segconsts.go
Owners: @Macbeth98, @AndrewHess

better memory pools for metrics reading (#2500)
  pkg/segment/reader/metrics/series/seriesreader.go
  pkg/segment/utils/segconsts.go
  pkg/utils/fileutils.go
Owners: @Macbeth98, @AndrewHess

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2501)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2503)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

simplification, dont use the rbuf if it is not being reused
  benchmark_test.go
  pkg/segment/metadata/metadata.go
  pkg/segment/metadata/segmentmicroindex.go
  pkg/segment/query/metadata/metareader_test.go
  pkg/segment/reader/microreader/microreader.go
  pkg/segment/reader/segread/segreader/tests/segreader_test.go
  pkg/segment/reader/segread/timereader_test.go
  pkg/segment/search/segsearch.go
  pkg/segment/search/segsearch_test.go
  pkg/segment/segexecution_test.go
Owners: @Macbeth98, @AndrewHess

use string interning to avoid temp string conversions
  pkg/segment/reader/microreader/microreader.go
Owners: @Macbeth98, @AndrewHess

combine Offset and Length into one map to reduce mem usage
  pkg/segment/reader/microreader/microreader.go
  pkg/segment/reader/segread/segreader/segreader.go
  pkg/segment/reader/segread/timereader.go
  pkg/segment/segexecution_test.go
  pkg/segment/structs/segsearchstructs.go
  pkg/segment/writer/packer.go
  pkg/segment/writer/packer_test.go
  pkg/segment/writer/segstore.go
Owners: @Macbeth98, @AndrewHess

nit
  pkg/segment/metadata/segmentmicroindex.go
Owners: @Macbeth98, @AndrewHess
