Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Check timestamp on match-all queries
  pkg/segment/search/filtersearch.go
Owners: @Macbeth98, @AndrewHess

Add match-all stats queries to longevity test
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Check timestamp on match-all queries (#2396)
  pkg/segment/search/filtersearch.go
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Refactor Code
  pkg/segment/writer/metrics/wal/wal.go
Owners: @Macbeth98, @AndrewHess

fix: min/max duration parsing into nano-seconds for search traces
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

fix: Group By with tag filters and count agg with no group by
  pkg/integrations/otsdb/query/queryparser.go
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/tests/metricsresults_test.go
Owners: @Macbeth98, @AndrewHess

Remove outdated comment
  pkg/segment/search/filtersearch.go
Owners: @Macbeth98, @AndrewHess

fix: e2e tests
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

Wait 60 seconds to query after ingestion
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

Adjust Granularity
  pkg/health/clusterStatsHandler.go
  pkg/usageStats/stats.go
  static/js/usage-stats.js
Owners: @Macbeth98, @AndrewHess, @sunitakawane, @sonamgupta21

Add flag to fail on first error
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

Keep track of last failure
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

Persist longevity on failure (#2398)
  pkg/segment/search/filtersearch.go
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

fix: count(group agg) issue
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

updated cicd test cases
  cicd/metrics_test.csv
Owners: @Macbeth98, @AndrewHess

updated cicd test cases with correct values
  cicd/metrics_test.csv
Owners: @Macbeth98, @AndrewHess

Reduce logging on each query
  pkg/ast/pipesearch/searchQueryParser.go
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess

Reduce logging on each query (#2400)
  pkg/ast/pipesearch/searchQueryParser.go
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess

Lint Fix and Cleanup
  static/js/usage-stats.js
  static/usage-stats.html
Owners: @sunitakawane, @sonamgupta21

Fix - Updated Default Color Palette for Metrics Explorer
  static/dashboard.html
  static/js/metrics-explorer.js
  static/metrics-explorer.html
Owners: @sonamgupta21, @sunitakawane

Updated the CrossHair Style
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

chore: rename variable name
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Fix metric group by queries with Tag Filters And Count without group by (#2399)
  cicd/metrics_test.csv
  pkg/e2etests/metrics_e2e_test.go
  pkg/integrations/otsdb/query/queryparser.go
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/tests/metricsresults_test.go
Owners: @Macbeth98, @AndrewHess

Add abstraction to handle filter and match-all
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Use the new abstraction
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Add tests
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Refactor
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Rename for clarity
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Fix - Updated Default Color Palette for Metrics Explorer (#2402)
  static/dashboard.html
  static/js/metrics-explorer.js
  static/metrics-explorer.html
Owners: @sonamgupta21, @sunitakawane

added audit code
  pkg/alerts/alertsHandler/alertsHandler.go
  pkg/audit/audit.go
Owners: @Macbeth98, @AndrewHess

Added WAL Caller For the Metrics
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

dont run GH workflows on merge to main
  .github/workflows/jsformat.yml
  .github/workflows/playwright-test.yml
  .github/workflows/uts.yml
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

reduce log flood
  pkg/otlp/logs.go
  pkg/otlp/utils.go
  pkg/segment/query/queryrefresh.go
  pkg/segment/writer/segmetarw.go
Owners: @Macbeth98, @AndrewHess

keep track of querysummary instances, log with lesser granularity after 5 mins
  pkg/segment/query/summary/querysummary.go
Owners: @Macbeth98, @AndrewHess

Enhanced the design
  static/css/a.css
  static/css/siglens.css
  static/js/try.js
  static/try.html
Owners: @sonamgupta21, @sunitakawane

Addressed Comments
  pkg/health/clusterStatsHandler.go
Owners: @Macbeth98, @AndrewHess

Enhanced the ingestion tabs design
  static/css/siglens.css
  static/js/test-data.js
  static/js/try.js
  static/test-data.html
  static/try.html
Owners: @sonamgupta21, @sunitakawane

Enhanced the ingestion tabs design
  static/css/a.css
  static/js/try.js
  static/try.html
Owners: @sonamgupta21, @sunitakawane

Send test data functionality restored
  static/css/siglens.css
  static/js/test-data.js
  static/test-data.html
Owners: @sonamgupta21, @sunitakawane

Made some changes
  static/css/siglens.css
Owners: @sonamgupta21

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
