Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Move common code
  static/js/cluster-stats.js
  static/js/common.js
Owners: @sunitakawane, @sonamgupta21

refac: use the var properly and rename it
  pkg/segment/query/metricsquery.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/unrotatedquery.go
Owners: @Macbeth98, @AndrewHess

Fixed the flickering issue and added a shared crossline and proximity function
  static/js/metrics-explorer.js
  static/js/try.js
Owners: @sunitakawane, @sonamgupta21

added a shared crossline and proximity function
  static/js/try.js
Owners: @sunitakawane, @sonamgupta21

Update pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

refac: remove the use for return var for unrotated metric block search, renamed function names
  pkg/segment/query/metricsquery.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/unrotatedquery.go
Owners: @Macbeth98, @AndrewHess

pr comments
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

simplify FindTSIDs (#2365)
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

Update pkg/segment/query/metricsquery.go
  pkg/segment/query/metricsquery.go
Owners: @Macbeth98, @AndrewHess

Update pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

pr feedback
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/query/metricsquery.go
Owners: @Macbeth98, @AndrewHess

use existing pkg for percentile calculations
  pkg/segment/query/metricsquery.go
Owners: @Macbeth98, @AndrewHess

pr feedback
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/tagstree.go
Owners: @Macbeth98, @AndrewHess

Handle wildcard searches
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Disallow wildcards for stats count queries
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

minor naming change
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

Handle values with spaces
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Add wildcard searches to the longevity test
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

refac: abstracted the info about unrotated block and rotated block search by calling a single metrics search which handles both cases
  pkg/segment/query/metricsquery.go
  pkg/segment/search/metricssearch.go
Owners: @Macbeth98, @AndrewHess

test: refac tests for consistency
  pkg/e2etests/metrics_e2e_test.go
  pkg/segment/writer/metrics/compress/compressor_test.go
Owners: @Macbeth98, @AndrewHess

refac: compressor clone function
  pkg/segment/writer/metrics/compress/bit_writer.go
  pkg/segment/writer/metrics/compress/compressor.go
  pkg/segment/writer/metrics/compress/compressor_test.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Anchor wildcard searches
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

pr feedback
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Add wildcard searches to the longevity test (#2370)
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

usage stats to count active series counts, unrotated tagtrees (#2366)
  pkg/ingest/ingestionStats.go
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/query/metricsquery.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/tagstree.go
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

Search through Unrotated metrics block (#2364)
  pkg/e2etests/metrics_e2e_test.go
  pkg/segment/query/metricsquery.go
  pkg/segment/search/metricssearch.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/writer/metrics/compress/bit_reader.go
  pkg/segment/writer/metrics/compress/bit_writer.go
  pkg/segment/writer/metrics/compress/compressor.go
  pkg/segment/writer/metrics/compress/compressor_test.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/unrotatedquery.go
Owners: @Macbeth98, @AndrewHess

no functional change, move searching tsid into tagstree
  pkg/segment/query/metricsquery.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

Add test for sorting on non-timestamp column
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Handle a custom sort column
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
  tools/sigclient/pkg/utils/numbers.go
Owners: @Macbeth98, @AndrewHess

Add sort queries to the longevity test
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

Fixed the url param bug for the code tab when search btn is clicked, tooltip bug, and changed the icon
  static/css/siglens.css
  static/js/common.js
  static/js/log-search.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

Update the query for sort queries
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

fixup
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Add test for returned logs with no sort column
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Make the failing test pass
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Add sort queries to the longevity test (#2371)
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
  tools/sigclient/pkg/utils/numbers.go
Owners: @Macbeth98, @AndrewHess

fix: Parser for Metrics query with Tag filters
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

do not throw err on negative values
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

update metric queries with tag filter fix
  cicd/metrics_test.csv
Owners: @Macbeth98, @AndrewHess

part 1 of unrotated interface for unrotated tag tree
  pkg/segment/reader/metrics/tagstree/tagstree_test.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/writer/metrics/tagstree.go
Owners: @Macbeth98, @AndrewHess
