Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

set the max semaphore rety time to 2 mins with every 10 seconds check
  pkg/segment/search/metricssearch.go
  pkg/utils/semaphore/semaphore.go
Owners: @Macbeth98, @AndrewHess

Setup longevity testing framework for logs (#2346)
  .github/workflows/uts.yml
  tools/sigclient/README.md
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/go.mod
  tools/sigclient/go.sum
  tools/sigclient/pkg/ingest/ingest.go
  tools/sigclient/pkg/query/query.go
  tools/sigclient/pkg/query/querymanager.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
  tools/sigclient/pkg/utils/maps.go
  tools/sigclient/pkg/utils/maps_test.go
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

add timeout and listen to state immediately after start query
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess

revert: change in the order go routine listening to state
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess

Handle unexpected but valid sorting order
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Add set utils
  tools/sigclient/pkg/utils/maps.go
  tools/sigclient/pkg/utils/maps_test.go
Owners: @Macbeth98, @AndrewHess

Add slice utils
  tools/sigclient/pkg/utils/slices.go
  tools/sigclient/pkg/utils/slices_test.go
Owners: @Macbeth98, @AndrewHess

Revert "Add set utils"
  tools/sigclient/pkg/utils/maps.go
  tools/sigclient/pkg/utils/maps_test.go
Owners: @Macbeth98, @AndrewHess

Fixed tooltip behavior
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Handle all valid sorting orders in longevity test (#2354)
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
  tools/sigclient/pkg/utils/slices.go
  tools/sigclient/pkg/utils/slices_test.go
Owners: @Macbeth98, @AndrewHess

Fixed tooltip behavior
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Cleanup
  tools/sigclient/pkg/query/querymanager.go
  tools/sigclient/pkg/utils/numbers.go
Owners: @Macbeth98, @AndrewHess

Fix bug when expected logs are ambiguous
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Decrease concurrency test iterations
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

fixup
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Handle ambiguous expected results (#2355)
  tools/sigclient/pkg/query/querymanager.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
  tools/sigclient/pkg/utils/numbers.go
Owners: @Macbeth98, @AndrewHess

Only send columns that have data for logs query
  pkg/segment/query/iqr/intermediateQueryResult.go
Owners: @Macbeth98, @AndrewHess

Don't validate allColumns in longevity test
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Don't validate allColumns in longevity test (#2357)
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Fix bug moving queries from in progress to running
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

Remove dead code
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

refac: pullqueries to use context
  cmd/startup/startup.go
  pkg/segment/query/querystatus.go
Owners: @Macbeth98, @AndrewHess

fix: tests to use pull queries with context
  pkg/integrations/otsdb/metricsquery_test.go
  pkg/segment/query/processor/queryprocessor_test.go
  pkg/segment/query/processor/scroller_test.go
  pkg/segment/segexecution_test.go
  pkg/segment/segexecutionsort_test.go
Owners: @Macbeth98, @AndrewHess

fix: issue with data folder, use pull queries with context, and qid error
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

Cleanup logging
  tools/sigclient/pkg/query/querymanager.go
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Fix metrics e2e tests (#2358)
  cmd/startup/startup.go
  pkg/e2etests/metrics_e2e_test.go
  pkg/integrations/otsdb/metricsquery_test.go
  pkg/segment/query/processor/queryprocessor_test.go
  pkg/segment/query/processor/scroller_test.go
  pkg/segment/query/querystatus.go
  pkg/segment/segexecution_test.go
  pkg/segment/segexecutionsort_test.go
Owners: @Macbeth98, @AndrewHess

Fixed a bug
  static/css/siglens.css
  static/js/common.js
  static/js/log-search.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

UI reflects the URL state
  static/js/common.js
  static/js/log-search.js
Owners: @sunitakawane, @sonamgupta21

Fixes Metrics Query Delete Issue and Change Metric semaphore wait time frequency (#2353)
  pkg/segment/search/metricssearch.go
  pkg/segment/segexecution.go
  pkg/utils/semaphore/semaphore.go
Owners: @Macbeth98, @AndrewHess

some debug log line changes and fix unused return vars
  pkg/segment/query/summary/querysummary.go
  pkg/segment/reader/microreader/microreader.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/metricssegment_test.go
Owners: @Macbeth98, @AndrewHess

fix lint
  pkg/segment/query/summary/querysummary.go
Owners: @Macbeth98, @AndrewHess

go fmt
  pkg/segment/reader/metrics/tagstree/tagstree_test.go
Owners: @Macbeth98, @AndrewHess

some debug log line changes and fix unused return vars (#2359)
  pkg/segment/query/summary/querysummary.go
  pkg/segment/reader/microreader/microreader.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/metricssegment_test.go
Owners: @Macbeth98, @AndrewHess

remove unused mnames bloom
  pkg/segment/metadata/metricsmetadata.go
  pkg/segment/metadata/metricsmetadata_test.go
  pkg/segment/reader/metrics/series/seriesreader.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

remove unused mnames bloom (#2360)
  pkg/segment/metadata/metricsmetadata.go
  pkg/segment/metadata/metricsmetadata_test.go
  pkg/segment/reader/metrics/series/seriesreader.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Cleanup longevity (#2361)
  tools/sigclient/pkg/query/querymanager.go
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Make test pass
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Test when there are matches
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Add failing unit test
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Add basics of stats count query validator
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
