Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Fixed the issues with PR
  static/index.html
  static/js/histo.js
Owners: @sonamgupta21, @sunitakawane

github actions: style: format files
  static/js/histo.js
Owners: @sunitakawane, @sonamgupta21

listen on both ipv4 and ipv6 addresses
  pkg/server/query/server.go
  server.yaml
Owners: @Macbeth98, @AndrewHess, @nkunal, @sunitakawane, @sonamgupta21

ingest should should also do ipv6
  pkg/server/ingest/server.go
  pkg/server/query/server.go
Owners: @Macbeth98, @AndrewHess

fix default configs
  pkg/config/config.go
  pkg/config/config_test.go
  playground.yaml
Owners: @Macbeth98, @AndrewHess, @nkunal, @sunitakawane, @sonamgupta21

listen on both ipv4 and ipv6 addresses (#2247)
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/server/ingest/server.go
  pkg/server/query/server.go
  playground.yaml
  server.yaml
Owners: @Macbeth98, @AndrewHess, @nkunal, @sunitakawane, @sonamgupta21

Avoid nil results panic
  pkg/segment/query/querystatus.go
Owners: @Macbeth98, @AndrewHess

Avoid nil results panic (#2248)
  pkg/segment/query/querystatus.go
Owners: @Macbeth98, @AndrewHess

Bump version to 1.0.23
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump version to 1.0.23 (#2249)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.24d
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.24d (#2251)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Initial Pagination
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
  static/js/log-results-grid.js
  static/js/log-search.js
  static/js/pagination.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

Pagination for logs-query
  static/js/common.js
  static/js/event-handlers.js
  static/js/log-results-grid.js
  static/js/pagination.js
  static/js/search.js
Owners: @sunitakawane, @sonamgupta21

Pagination for aggs and seg-stats query
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
  static/js/ag-grid-seg-stats.js
  static/js/log-search.js
  static/js/pagination.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

github actions: style: format files
  static/js/ag-grid-seg-stats.js
  static/js/event-handlers.js
  static/js/log-results-grid.js
  static/js/search.js
Owners: @sunitakawane, @sonamgupta21

Clean Up
  static/css/siglens.css
  static/index.html
  static/js/ag-grid-seg-stats.js
  static/js/common.js
  static/js/event-handlers.js
  static/js/log-results-grid.js
  static/js/pagination.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

Fix CSS
  static/css/query-builder.css
  static/css/siglens.css
  static/js/common.js
  static/js/pagination.js
Owners: @sonamgupta21, @sunitakawane

Add support for OTEL Metrics.
  pkg/otlp/metrics.go
  pkg/otlp/metrics_test.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Expand Icon Fix
  static/css/siglens.css
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

Show Loading
  static/js/log-results-grid.js
  static/js/pagination.js
Owners: @sunitakawane, @sonamgupta21

Fix Resizing of Grid
  static/js/log-results-grid.js
  static/js/pagination.js
Owners: @sunitakawane, @sonamgupta21

Lint Fix
  eslint.config.mjs
  static/js/log-results-grid.js
  static/js/pagination.js
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Revert Resizing changes
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Fix for the JSON Popup
  static/js/common.js
Owners: @sunitakawane, @sonamgupta21

nit
  static/css/dashboard.css
  static/css/siglens.css
  static/js/common.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

UI: Added Pagination to Logs Screen (#2252)
  eslint.config.mjs
  static/css/dashboard.css
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
  static/js/ag-grid-seg-stats.js
  static/js/common.js
  static/js/event-handlers.js
  static/js/log-results-grid.js
  static/js/log-search.js
  static/js/pagination.js
  static/js/search.js
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Replace min/max helpers with built-in min/max
  pkg/memorypool/memorypool.go
  pkg/segment/query/processor/inputlookupcommand.go
  pkg/segment/reader/segread/agiletreereader.go
  pkg/segment/results/blockresults/blockresult.go
  pkg/segment/utils/aggutils.go
  pkg/segment/utils/number.go
  pkg/segment/utils/segutils.go
  pkg/segment/writer/segstore.go
  pkg/segment/writer/segwriter.go
  pkg/segment/writer/segwriter_test.go
  pkg/segment/writer/startree_test.go
  pkg/utils/buffer.go
  pkg/utils/mathutils.go
  pkg/utils/segutils.go
Owners: @Macbeth98, @AndrewHess

Fix: Dashboard Data Table
  eslint.config.mjs
  static/css/dashboard.css
  static/dashboard.html
  static/js/dashboard-logs-results-grid.js
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Fix: Dashboard Data Table (#2254)
  eslint.config.mjs
  static/css/dashboard.css
  static/dashboard.html
  static/js/dashboard-logs-results-grid.js
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Bump Version to 1.0.24
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump Version to 1.0.24 (#2255)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.25d
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.25d (#2257)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Read SFM files in parallel on startup
  pkg/segment/writer/segmetarw.go
Owners: @Macbeth98, @AndrewHess

Bump version to 1.0.25
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Read SFM files in parallel on startup (#2258)
  pkg/segment/writer/segmetarw.go
Owners: @Macbeth98, @AndrewHess

Version/1.0.25 (#2259)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.25d
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.25d (#2261)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
