Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Sig 2384 reorder the ingestion tabs (#2467)
  playwright-tests/tests/test-data.test.js
  static/css/siglens.css
  static/js/navbar.js
  static/js/test-data.js
  static/metrics-ingestion.html
  static/test-data.html
  static/trace.html
  static/traces-ingestion.html
Owners: @sunitakawane, @sonamgupta21

fix: metric instant query for range vector queries (#2474)
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/utils/dateutils.go
Owners: @Macbeth98, @AndrewHess

Added dropdown submenu for alerts and infrastructure menu (#2428)
  package-lock.json
  package.json
  playwright-tests/tests/navbar-1.test.js
  playwright-tests/tests/navbar-2.test.js
  static/css/siglens.css
  static/js/navbar.js
  static/js/search-traces.js
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2476)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

✅ Removed empty columns being sent to the UI
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/query/iqr/intermediateQueryResult.go
  pkg/segment/query/iqr/intermediateQueryResult_test.go
  pkg/segment/query/processor/queryprocessor.go
  pkg/segment/query/segquery.go
Owners: @Macbeth98, @AndrewHess

✅ Removed empty columns being sent to the UI
  pkg/segment/query/processor/queryprocessor.go
  pkg/segment/query/segquery.go
Owners: @Macbeth98, @AndrewHess

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2479)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Addressed the comments
  static/js/common.js
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Made some changes
  static/js/dashboard-charts.js
Owners: @sunitakawane, @sonamgupta21

Fixed eslint
  static/js/common.js
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

continue with the rest of segkeys for calculating indexstats if some sfm has problem
  pkg/segment/writer/segmetarw.go
Owners: @Macbeth98, @AndrewHess

Usage Stats UI Fix
  static/usage-stats.html
Owners: @sonamgupta21

Custom Time Picker
  static/css/dashboard.css
  static/css/siglens.css
  static/js/dashboard.js
  static/js/date-picker.js
  static/js/dependency-graph.js
  static/js/event-handlers.js
  static/js/kubernetes-overview.js
  static/js/kubernetes-view.js
  static/js/metric-summary.js
  static/js/metrics-cardinality.js
  static/js/service-health.js
  static/js/usage-stats.js
  static/metric-cardinality.html
Owners: @sonamgupta21, @sunitakawane

Fix Lint
  static/js/date-picker.js
Owners: @sunitakawane, @sonamgupta21

UI: Custom Time Picker (#2481)
  static/css/dashboard.css
  static/css/siglens.css
  static/js/dashboard.js
  static/js/date-picker.js
  static/js/dependency-graph.js
  static/js/event-handlers.js
  static/js/kubernetes-overview.js
  static/js/kubernetes-view.js
  static/js/metric-summary.js
  static/js/metrics-cardinality.js
  static/js/service-health.js
  static/js/usage-stats.js
  static/metric-cardinality.html
  static/usage-stats.html
Owners: @sonamgupta21, @sunitakawane

Update search-traces.html
  static/search-traces.html
Owners: @sonamgupta21

continue with the rest of segkeys for calculating indexstats if some sfm has problem (#2480)
  pkg/segment/writer/segmetarw.go
Owners: @Macbeth98, @AndrewHess

Changed name of the clusterIngestStats api to usageStats
  pkg/health/clusterStatsHandler.go
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
  static/js/usage-stats.js
Owners: @Macbeth98, @AndrewHess, @sunitakawane, @sonamgupta21

Add basics of checksum file reader/writer
  pkg/utils/checksumfile.go
Owners: @Macbeth98, @AndrewHess

Add simple unit test
  pkg/utils/checksumfile.go
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Test backward compatibility
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Fixed the custom time issue and x-axis shows timestamp in ascending order now
  static/js/service-health-overview.js
Owners: @sunitakawane, @sonamgupta21

Add comment
  pkg/utils/checksumfile.go
Owners: @Macbeth98, @AndrewHess

Fix lint
  pkg/utils/checksumfile.go
Owners: @Macbeth98, @AndrewHess

Addressed comments and made some additional changes
  pkg/health/clusterStatsHandler.go
  static/js/usage-stats.js
Owners: @Macbeth98, @AndrewHess, @sunitakawane, @sonamgupta21

Add more info to errors
  pkg/utils/checksumfile.go
Owners: @Macbeth98, @AndrewHess

Add test for invalid access pattern
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Add test for reading non-initial block
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Solved the loading issue
  static/css/dashboard.css
  static/js/common.js
  static/js/metrics-explorer.js
Owners: @sonamgupta21, @sunitakawane

Cleanup
  pkg/utils/checksumfile.go
Owners: @Macbeth98, @AndrewHess

Add helper to read/write files in checksummed chunks (#2484)
  pkg/utils/checksumfile.go
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Update constructor
  pkg/utils/checksumfile.go
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Remove unneeded Close method
  pkg/utils/checksumfile.go
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Use the checksum file reader for reading .csg
  pkg/segment/reader/segread/segreader/segreader.go
Owners: @Macbeth98, @AndrewHess

Add method to write a partial chunk
  pkg/utils/checksumfile.go
Owners: @Macbeth98, @AndrewHess

Add unit test for partial writes
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Refactor
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Remove the constructor
  pkg/segment/reader/segread/segreader/segreader.go
  pkg/utils/checksumfile.go
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
