Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Refactor: Define RecsAggregator & RecsAggResults
  pkg/segment/structs/segstructs.go
Owners: @Macbeth98, @AndrewHess

Refactor: Column PerformAggsOnRecs
  pkg/segment/aggregations/segaggs.go
  pkg/segment/reader/record/rrcreader.go
  pkg/segment/search/searchaggs.go
  pkg/segment/search/searchaggs_test.go
  pkg/segment/writer/segwriter_test.go
Owners: @Macbeth98, @AndrewHess

Refactor: Column RecsAggsType -> RecsAggregator.RecsAggsType
  pkg/ast/pipesearch/searchHandler.go
Owners: @Macbeth98, @AndrewHess

Refactor: GroupByRequest -> RecsAggregator.GroupByRequest
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/aggregations/segaggs.go
  pkg/segment/search/searchaggs.go
Owners: @Macbeth98, @AndrewHess

Refactor: NodeResult -> RecsAggregator, RecsAggResults
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/aggregations/segaggs.go
  pkg/segment/reader/record/rrcreader.go
  pkg/segment/search/searchaggs.go
  pkg/segment/search/searchaggs_test.go
Owners: @Macbeth98, @AndrewHess

Fix: Lint errors & Renaming
  pkg/segment/aggregations/segaggs.go
  pkg/segment/search/searchaggs.go
  pkg/segment/search/searchaggs_test.go
Owners: @Macbeth98, @AndrewHess

Fix: Lint issues
  pkg/segment/search/searchaggs_test.go
  pkg/segment/structs/segstructs.go
  pkg/segment/writer/segwriter_test.go
Owners: @Macbeth98, @AndrewHess

Remove unwanted testcase
  pkg/segment/writer/segwriter_test.go
Owners: @Macbeth98, @AndrewHess

Define structs by default
  pkg/segment/search/searchaggs.go
  pkg/segment/structs/segstructs.go
Owners: @Macbeth98, @AndrewHess

Fix Testcase Different recs type specified during refactor
  pkg/segment/search/searchaggs_test.go
Owners: @Macbeth98, @AndrewHess

Pagination Fix
  static/js/event-handlers.js
Owners: @sunitakawane, @sonamgupta21

Pagination Fix (#2263)
  static/js/event-handlers.js
Owners: @sunitakawane, @sonamgupta21

Replace min/max helpers with built-in min/max (#2253)
  pkg/memorypool/memorypool.go
  pkg/segment/query/processor/inputlookupcommand.go
  pkg/segment/reader/segread/agiletreereader.go
  pkg/segment/results/blockresults/blockresult.go
  pkg/segment/utils/aggutils.go
  pkg/segment/utils/number.go
  pkg/segment/utils/segutils.go
  pkg/segment/writer/segstore.go
  pkg/segment/writer/segwriter.go
  pkg/segment/writer/segwriter_test.go
  pkg/segment/writer/startree_test.go
  pkg/utils/buffer.go
  pkg/utils/mathutils.go
  pkg/utils/segutils.go
Owners: @Macbeth98, @AndrewHess

Available Fields New UI
  static/css/siglens.css
  static/index.html
  static/js/available-fields.js
  static/js/common.js
  static/js/event-handlers.js
  static/js/log-results-grid.js
  static/js/query-builder.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

Reset Available Fields
  static/js/available-fields.js
  static/js/event-handlers.js
Owners: @sunitakawane, @sonamgupta21

Fix COlumn Count and Arrow Img
  static/js/available-fields.js
  static/js/search.js
Owners: @sunitakawane, @sonamgupta21

Remove Previous Hide Null Column Code
  static/index.html
  static/js/common.js
  static/js/event-handlers.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

Replace Null Value with `-` on table view
  static/js/event-handlers.js
Owners: @sunitakawane, @sonamgupta21

Improve CSS and show Fields in Alphabetical Order
  static/css/siglens.css
  static/js/available-fields.js
  static/js/event-handlers.js
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Fix: Available fields for Dashboards
  static/dashboard.html
  static/js/available-fields-dashboard.js
Owners: @sonamgupta21, @sunitakawane

Remove Unwanted Code and Fix ES Lint
  eslint.config.mjs
  static/js/available-fields.js
  static/js/event-handlers.js
  static/js/log-results-grid.js
  static/js/search.js
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Clear Selected Fields if index changes
  static/js/common.js
Owners: @sunitakawane, @sonamgupta21

Playwright Test and CSS
  playwright-tests/tests/index-2.test.js
  static/css/siglens.css
Owners: @sunitakawane, @sonamgupta21

Fix
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

added unit tests for addToBlockBloomBothCases function
  pkg/segment/writer/segwriter_test.go
Owners: @Macbeth98, @AndrewHess

Revamped Available Fields UI (#2264)
  eslint.config.mjs
  playwright-tests/tests/index-2.test.js
  static/css/siglens.css
  static/dashboard.html
  static/index.html
  static/js/available-fields-dashboard.js
  static/js/available-fields.js
  static/js/common.js
  static/js/event-handlers.js
  static/js/log-results-grid.js
  static/js/query-builder.js
  static/js/search.js
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Added unit tests for group-by aggregation with rex columns
  pkg/segment/search/searchaggs_test.go
Owners: @Macbeth98, @AndrewHess

formatted changes
  pkg/segment/search/searchaggs_test.go
Owners: @Macbeth98, @AndrewHess

Fix bug in PromQL query for a metric
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
Owners: @Macbeth98, @AndrewHess

Remove invalid CICD tests
  cicd/metrics_test.csv
Owners: @Macbeth98, @AndrewHess

Update comments
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Fix E2E tests
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

Fix bug in PromQL query for a metric (#2267)
  cicd/metrics_test.csv
  pkg/e2etests/metrics_e2e_test.go
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Implemented the timechart integration
  static/index.html
  static/js/histo.js
  static/js/log-results-grid.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

Rename metrics aggregation functions
  pkg/integrations/otsdb/metricsquery_test.go
  pkg/integrations/otsdb/query/expqueryparser.go
  pkg/integrations/otsdb/query/queryparser.go
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Add clarifying comments on Function vs Aggregator
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Add TODO to remove unneeded Function field
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Move related fields closer
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

In this PR, removed invalid characters from metric names and tag keys, and removed some unnecessary key-value pairs.
  pkg/otlp/metrics.go
  pkg/otlp/metrics_test.go
Owners: @Macbeth98, @AndrewHess

Fix lint
  pkg/segment/results/mresults/tests/metricsresults_test.go
Owners: @Macbeth98, @AndrewHess
