Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

added unit tests for addToBlockBloomBothCases function (#2265)
  pkg/segment/writer/segwriter_test.go
Owners: @Macbeth98, @AndrewHess

[STORY] Refactor NodeResult Struct by cleaning up the RecsAggs Fields. (#2262)
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/aggregations/segaggs.go
  pkg/segment/reader/record/rrcreader.go
  pkg/segment/search/searchaggs.go
  pkg/segment/search/searchaggs_test.go
  pkg/segment/structs/segstructs.go
Owners: @Macbeth98, @AndrewHess

Cleanup metrics query (#2269)
  pkg/integrations/otsdb/metricsquery_test.go
  pkg/integrations/otsdb/query/expqueryparser.go
  pkg/integrations/otsdb/query/queryparser.go
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/tests/metricsresults_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

In this PR, removed invalid characters from metric names and tag keys, and removed some unnecessary key-value pairs.
  pkg/otlp/metrics.go
Owners: @Macbeth98, @AndrewHess

In this PR, removed invalid characters from metric names and tag keys, and removed some unnecessary key-value pairs.
  pkg/otlp/metrics.go
Owners: @Macbeth98, @AndrewHess

fix: Aggregation(sum, avg, min, max) over time queries
  pkg/integrations/prometheus/promql/parser.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

fix: count over time metrics query
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
Owners: @Macbeth98, @AndrewHess

refac: aggregation over time function switch case
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

test: fix tests
  pkg/integrations/prometheus/promql/parser_test.go
Owners: @Macbeth98, @AndrewHess

Addressing PR comments
  cmd/startup/startup.go
  pkg/config/config.go
Owners: @Macbeth98, @AndrewHess

[fixed issue Implement test metrics generation in sigclient for k8s #2181]
  go.mod
  go.sum
  pkg/config/config.go
  tools/sigclient/cmd/root.go
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/datafiles/node-exporter.txt
  tools/sigclient/main.go
  tools/sigclient/pkg/ingest/ingest.go
  tools/sigclient/pkg/ingest/k8s_generator.go
  tools/sigclient/pkg/utils/metricsreader.go
Owners: @Macbeth98, @AndrewHess, @nkunal, @sunitakawane, @sonamgupta21

Added zoom in functionality for more time Granularity
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
  static/js/histo.js
Owners: @sonamgupta21, @sunitakawane

fixes-[STORY] Implement test metrics generation in sigclient for k8s #2181
  tools/sigclient/datafiles/node-exporter.txt
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Made some changes
  static/css/query-builder.css
  static/index.html
Owners: @sonamgupta21

Removed commented code
  static/css/query-builder.css
  static/js/histo.js
  static/js/log-results-grid.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

Add simple Series interface
  pkg/segment/structs/series.go
Owners: @Macbeth98, @AndrewHess

Add basic series implementation
  pkg/segment/structs/series.go
  pkg/segment/structs/series_test.go
Owners: @Macbeth98, @AndrewHess

Add simple unit test
  pkg/segment/structs/series_test.go
Owners: @Macbeth98, @AndrewHess

Change design
  pkg/segment/structs/series.go
  pkg/segment/structs/series_test.go
Owners: @Macbeth98, @AndrewHess

Add windowedTimeseries
  pkg/segment/structs/series.go
  pkg/segment/structs/series_test.go
Owners: @Macbeth98, @AndrewHess

Rename files
  pkg/segment/structs/timeseries.go
  pkg/segment/structs/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Add timeBasedSeries
  pkg/segment/structs/timeseries.go
  pkg/segment/structs/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

[removed unnecessary code - fixes(#2181)]
  tools/sigclient/pkg/ingest/ingest.go
  tools/sigclient/pkg/ingest/k8s_generator.go
  tools/sigclient/pkg/utils/metricsreader.go
Owners: @Macbeth98, @AndrewHess

fixes-[STORY] Implement test metrics generation in sigclient for k8s #2181
  tools/sigclient/README.md
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

tests-for-[STORY] Implement test metrics generation in sigclient for k8s #2181
  pkg/config/config.go
  tools/sigclient/cmd/root.go
  tools/sigclient/main.go
  tools/sigclient/pkg/ingest/ingest.go
  tools/sigclient/pkg/ingest/k8s_generator.go
  tools/sigclient/pkg/utils/metricsreader.go
  tools/sigclient/pkg/utils/reader.go
Owners: @Macbeth98, @AndrewHess

rebase [STORY] Implement test metrics generation in sigclient for k8s #2181
  tools/sigclient/README.md
  tools/sigclient/cmd/root.go
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/main.go
  tools/sigclient/pkg/ingest/ingest.go
  tools/sigclient/pkg/ingest/k8s_generator.go
  tools/sigclient/pkg/utils/metricsreader.go
  tools/sigclient/pkg/utils/reader.go
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

[STORY] Implement test metrics generation in sigclient for k8s #2181
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

Made some changes
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

K8 Overview Panel Explore Button
  static/component/infrastructure/big-number-card-component.js
  static/component/infrastructure/container-image-card-component.js
  static/component/infrastructure/usage-line-chart-component.js
  static/css/siglens.css
  static/js/kubernetes-overview.js
Owners: @sunitakawane, @sonamgupta21

Fix Lint
  static/js/kubernetes-overview.js
Owners: @sunitakawane, @sonamgupta21

K8 Overview Panel Explore Button (#2275)
  static/component/infrastructure/big-number-card-component.js
  static/component/infrastructure/container-image-card-component.js
  static/component/infrastructure/usage-line-chart-component.js
  static/css/siglens.css
  static/js/kubernetes-overview.js
Owners: @sunitakawane, @sonamgupta21

Add iterator util
  pkg/utils/iterator.go
  pkg/utils/iterator_test.go
Owners: @Macbeth98, @AndrewHess

Change iterator exports
  pkg/utils/iterator.go
  pkg/utils/iterator_test.go
Owners: @Macbeth98, @AndrewHess

Make timeseries use iterators
  pkg/segment/structs/timeseries.go
  pkg/segment/structs/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Implement the downsampler
  pkg/segment/structs/timeseries.go
Owners: @Macbeth98, @AndrewHess

Changed the arrow
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Update tests
  pkg/segment/structs/timeseries.go
  pkg/segment/structs/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Rename types
  pkg/segment/structs/timeseries.go
  pkg/segment/structs/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Rearrange functions
  pkg/segment/structs/timeseries.go
Owners: @Macbeth98, @AndrewHess

Refactor tests
  pkg/segment/structs/timeseries_test.go
Owners: @Macbeth98, @AndrewHess
