Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Service Health Graphs UI Fix
  static/css/siglens.css
  static/css/tracing.css
  static/js/service-health-overview.js
  static/service-health-overview.html
Owners: @sonamgupta21, @sunitakawane

reduce error logs
  pkg/segment/writer/agiletree.go
Owners: @Macbeth98, @AndrewHess

add a func to read just the block summaries to save on mem
  pkg/segment/metadata/segmentmicroindex.go
  pkg/segment/query/metadata/metareader_test.go
  pkg/segment/reader/microreader/microreader.go
  pkg/segment/search/segsearch.go
Owners: @Macbeth98, @AndrewHess

continue calculating index stats if some sfm files are nil
  pkg/health/clusterStatsHandler.go
  pkg/ingest/ingestionStats.go
Owners: @Macbeth98, @AndrewHess

minor simplification
  pkg/segment/metadata/segmentmicroindex.go
Owners: @Macbeth98, @AndrewHess

Add shell.nix
  shell.nix
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Update the contributing guide with Nix
  CONTRIBUTING.md
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

implement chunking template for subquery expr
  pkg/segment/query/metricsevaluator/evaluator.go
  pkg/segment/query/metricsevaluator/seriesstream.go
  pkg/segment/query/metricsquery.go
Owners: @Macbeth98, @AndrewHess

Add Loading Visual
  static/css/tracing.css
  static/js/service-health-overview.js
Owners: @sonamgupta21, @sunitakawane

Code Refactoring
  static/js/service-health-overview.js
Owners: @sunitakawane, @sonamgupta21

Reload functionality fixed
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

Made some changes
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

Theme Fix
  eslint.config.mjs
  static/js/alert.js
  static/js/common.js
  static/js/metrics-explorer.js
  static/js/service-health-overview.js
  static/js/usage-stats.js
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Sig 2706 fix nav links dropdown and navigation behavior (#2493)
  playwright-tests/tests/navbar-1.test.js
  static/apm.html
  static/css/siglens.css
  static/js/navbar.js
  static/js/test-data.js
Owners: @sunitakawane, @sonamgupta21

UI: Added Loading Indicator for Service Health Overview Graphs (#2507)
  eslint.config.mjs
  static/css/siglens.css
  static/css/tracing.css
  static/js/alert.js
  static/js/common.js
  static/js/metrics-explorer.js
  static/js/service-health-overview.js
  static/js/usage-stats.js
  static/service-health-overview.html
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Get dependencies via nix (#2505)
  CONTRIBUTING.md
  shell.nix
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Fixed logo alignment
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Sig 2704 remove the sensitivity of the help and support menu (#2488)
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Added url params and reload functionality for dependency graph and service health overview pages
  static/js/dependency-graph.js
  static/js/service-health-overview.js
Owners: @sunitakawane, @sonamgupta21

✅ code refactor
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
Owners: @Macbeth98, @AndrewHess

Remove query node dir uploads
  pkg/dashboards/dashboards.go
  pkg/dashboards/folders.go
  pkg/querytracker/querytracker.go
  pkg/usersavedqueries/usqueries.go
Owners: @Macbeth98, @AndrewHess

Remove query node dir uploads (#2509)
  pkg/dashboards/dashboards.go
  pkg/dashboards/folders.go
  pkg/querytracker/querytracker.go
  pkg/usersavedqueries/usqueries.go
Owners: @Macbeth98, @AndrewHess

Fixed eslint
  static/js/service-health-overview.js
Owners: @sunitakawane, @sonamgupta21

Metrics meta entry wal (#2486)
  cmd/startup/startup.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

pr feedback
  benchmark_test.go
  pkg/segment/metadata/segmentmicroindex.go
  pkg/segment/query/metadata/metareader_test.go
  pkg/segment/query/metadatafilter_test.go
  pkg/segment/reader/microreader/microreader.go
  pkg/segment/reader/segread/segreader/tests/segreader_test.go
  pkg/segment/reader/segread/timereader_test.go
  pkg/segment/search/segsearch.go
  pkg/segment/search/segsearch_test.go
  pkg/segment/segexecution_test.go
Owners: @Macbeth98, @AndrewHess

code simplification, mem improvements (#2504)
  benchmark_test.go
  pkg/health/clusterStatsHandler.go
  pkg/ingest/ingestionStats.go
  pkg/segment/metadata/metadata.go
  pkg/segment/metadata/segmentmicroindex.go
  pkg/segment/query/metadata/metareader_test.go
  pkg/segment/query/metadatafilter_test.go
  pkg/segment/reader/microreader/microreader.go
  pkg/segment/reader/segread/segreader/segreader.go
  pkg/segment/reader/segread/segreader/tests/segreader_test.go
  pkg/segment/reader/segread/timereader.go
  pkg/segment/reader/segread/timereader_test.go
  pkg/segment/search/segsearch.go
  pkg/segment/search/segsearch_test.go
  pkg/segment/segexecution_test.go
  pkg/segment/structs/segsearchstructs.go
  pkg/segment/writer/agiletree.go
  pkg/segment/writer/packer.go
  pkg/segment/writer/packer_test.go
  pkg/segment/writer/segstore.go
Owners: @Macbeth98, @AndrewHess

Update HTML File Name `test-data` to `log-ingestion`
  playwright-tests/tests/test-data.test.js
  static/js/navbar.js
  static/js/test-data.js
  static/log-ingestion.html
Owners: @sunitakawane, @sonamgupta21

Nit
  static/js/test-data.js
Owners: @sunitakawane, @sonamgupta21

Fix
  static/css/siglens.css
  static/log-ingestion.html
Owners: @sonamgupta21

Have separate section for the verification curl command
  static/css/siglens.css
  static/js/test-data.js
  static/log-ingestion.html
Owners: @sonamgupta21, @sunitakawane

Refactor Code
  static/js/test-data.js
Owners: @sunitakawane, @sonamgupta21

Fix: HTML and CSS and Breadcrumb
  static/css/siglens.css
  static/js/navbar.js
  static/js/test-data.js
  static/metrics-ingestion.html
  static/test-data.html
  static/traces-ingestion.html
Owners: @sonamgupta21, @sunitakawane

Fix Test Data
  static/js/test-data.js
Owners: @sunitakawane, @sonamgupta21

Update `test-data.js` to `ingestion.js`
  .prettierignore
  eslint.config.mjs
  static/js/ingestion.js
  static/log-ingestion.html
  static/metrics-ingestion.html
  static/traces-ingestion.html
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Small Fix
  static/css/siglens.css
  static/ingestion.html
  static/log-ingestion.html
Owners: @sonamgupta21

Fix: Copy Functionality
  static/js/test-data.js
  static/log-ingestion.html
Owners: @sunitakawane, @sonamgupta21

Trace Open Telemetry
  static/js/test-data.js
  static/log-ingestion.html
  static/metrics-ingestion.html
  static/traces-ingestion.html
Owners: @sunitakawane, @sonamgupta21

Some Icon Updates and Section of Trace Ingestion
  static/test-data.html
  static/traces-ingestion.html
Owners: @sonamgupta21

Playwright Test FIx
  playwright-tests/tests/ingestion.test.js
Owners: @sunitakawane, @sonamgupta21

Ingestion UI Fix (#2510)
  .prettierignore
  eslint.config.mjs
  playwright-tests/tests/ingestion.test.js
  static/css/siglens.css
  static/ingestion.html
  static/js/ingestion.js
  static/js/navbar.js
  static/js/test-data.js
  static/log-ingestion.html
  static/metrics-ingestion.html
  static/test-data.html
  static/traces-ingestion.html
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess
