Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

*.go @sunitakawane @AndrewHess
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

make the popup window center
  static/css/siglens.css
Owners: @sonamgupta21

make loading window center
  static/css/siglens.css
Owners: @sonamgupta21

Added grammar and evaluation logic of cidrmatch
  pkg/ast/spl/spl.go
  pkg/ast/spl/spl.peg
  pkg/segment/structs/evaluationstructs.go
Owners: @sunitakawane, @AndrewHess, @nkunal, @sonamgupta21

Allow parsing top/rare block
  pkg/ast/pipesearch/searchQueryParser.go
  pkg/ast/spl/spl.go
  pkg/ast/spl/spl.peg
Owners: @sunitakawane, @AndrewHess, @nkunal, @sonamgupta21

Rename functions
  pkg/segment/reader/record/rrcreader.go
Owners: @sunitakawane, @AndrewHess

Process top/rare block
  pkg/segment/aggregations/segaggs.go
  pkg/segment/structs/evaluationstructs.go
  pkg/segment/structs/segstructs.go
Owners: @sunitakawane, @AndrewHess

Override previous block's aggGroupByCols
  pkg/segment/query/querystatus.go
  pkg/segment/results/segresults/segresults.go
Owners: @sunitakawane, @AndrewHess

Added test cases
  cicd/ingest.csv
  cicd/restart.csv
  pkg/ast/spl/tests/splParser_test.go
  pkg/segment/structs/evaluationstructs.go
  pkg/segment/structs/evaluationstructs_test.go
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Allow parsing rename block
  pkg/ast/spl/spl.go
  pkg/ast/spl/spl.peg
Owners: @sunitakawane, @AndrewHess, @nkunal, @sonamgupta21

Implement Rename block without groupby
  pkg/segment/reader/record/rrcreader.go
  pkg/segment/segexecution.go
  pkg/segment/segexecutionbench_test.go
  pkg/segment/structs/segstructs.go
Owners: @sunitakawane, @AndrewHess

Implement Rename block that follows a groupby
  pkg/ast/pipesearch/searchQueryParser.go
  pkg/segment/aggregations/segaggs.go
  pkg/segment/structs/evaluationstructs.go
Owners: @sunitakawane, @AndrewHess
