Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

JS Cache Busting
  static/alert-details.html
  static/alert.html
  static/all-alerts.html
  static/all-slos.html
  static/application-version.html
  static/cluster-stats.html
  static/contacts.html
  static/dashboard.html
  static/dashboards-home.html
  static/dependency-graph.html
  static/diagnostics.html
  static/folder.html
  static/index.html
  static/infrastructure.html
  static/kubernetes-overview.html
  static/kubernetes-view.html
  static/lookups.html
  static/metric-cardinality.html
  static/metric-summary.html
  static/metrics-explorer.html
  static/metrics-ingestion.html
  static/minion-searches.html
  static/org-settings.html
  static/pqs-settings.html
  static/query-stats.html
  static/saved-queries.html
  static/search-traces.html
  static/service-health-overview.html
  static/service-health.html
  static/test-data.html
  static/trace.html
  static/traces-ingestion.html
Owners: @sonamgupta21

CSS Cache Busting (Updating the variable name)
  static/alert-details.html
  static/alert.html
  static/all-alerts.html
  static/all-slos.html
  static/application-version.html
  static/cluster-stats.html
  static/contacts.html
  static/dashboard.html
  static/dashboards-home.html
  static/dependency-graph.html
  static/diagnostics.html
  static/feedback.html
  static/folder.html
  static/index.html
  static/infrastructure.html
  static/kubernetes-overview.html
  static/kubernetes-view.html
  static/lookups.html
  static/metric-cardinality.html
  static/metric-summary.html
  static/metrics-explorer.html
  static/metrics-ingestion.html
  static/minion-searches.html
  static/org-settings.html
  static/pqs-settings.html
  static/query-stats.html
  static/saved-queries.html
  static/search-traces.html
  static/service-health-overview.html
  static/service-health.html
  static/test-data.html
  static/trace.html
  static/traces-ingestion.html
Owners: @sonamgupta21

Update `CSSVersion` hook to more generic name `AppVersion` so it can be used for both CSS and JS files
  cmd/startup/startup.go
Owners: @Macbeth98, @AndrewHess

Updated RELEASE_README
  RELEASE_README.md
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Default Page to 50
  static/js/pagination.js
Owners: @sunitakawane, @sonamgupta21

In this PR, Jaeger-Grafana-Plugin 1) Services API /api/services /api/services/{serviceName}/operations
  pkg/segment/tracing/handler/jaegergrafanaplugin.go
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
  pkg/server/utils/utils.go
Owners: @Macbeth98, @AndrewHess

Fix the Playwright Test
  playwright-tests/tests/all-slos.test.js
  playwright-tests/tests/common-functions.js
Owners: @sunitakawane, @sonamgupta21

Update Metrics Explorer CSS
  static/metrics-explorer.html
Owners: @sonamgupta21

JS Cache Busting (#2281)
  RELEASE_README.md
  cmd/startup/startup.go
  static/alert-details.html
  static/alert.html
  static/all-alerts.html
  static/all-slos.html
  static/application-version.html
  static/cluster-stats.html
  static/contacts.html
  static/dashboard.html
  static/dashboards-home.html
  static/dependency-graph.html
  static/diagnostics.html
  static/feedback.html
  static/folder.html
  static/index.html
  static/infrastructure.html
  static/kubernetes-overview.html
  static/kubernetes-view.html
  static/lookups.html
  static/metric-cardinality.html
  static/metric-summary.html
  static/metrics-explorer.html
  static/metrics-ingestion.html
  static/minion-searches.html
  static/org-settings.html
  static/pqs-settings.html
  static/query-stats.html
  static/saved-queries.html
  static/search-traces.html
  static/service-health-overview.html
  static/service-health.html
  static/test-data.html
  static/trace.html
  static/traces-ingestion.html
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

UI fixes pr (#2283)
  playwright-tests/tests/all-slos.test.js
  playwright-tests/tests/common-functions.js
  static/css/siglens.css
  static/js/navbar.js
  static/js/pagination.js
  static/js/trace.js
  static/metrics-explorer.html
Owners: @sunitakawane, @sonamgupta21

Made few changes
  static/js/histo.js
Owners: @sunitakawane, @sonamgupta21

Commit few changes
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

In this PR, Jaeger-Grafana-Plugin 1) Services API /api/services /api/services/{serviceName}/operations
  pkg/segment/tracing/handler/jaegerHandler.go
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
  pkg/server/utils/utils.go
Owners: @Macbeth98, @AndrewHess

Try and print a redable representation of line in case
  pkg/es/writer/esBulkHandler.go
Owners: @Macbeth98, @AndrewHess

In this PR, Jaeger-Grafana-Plugin 1) Services API /api/services /api/services/{serviceName}/operations
  pkg/segment/tracing/handler/jaegerHandler.go
Owners: @Macbeth98, @AndrewHess

In this PR, Jaeger-Grafana-Plugin 1) Services API /api/services /api/services/{serviceName}/operations
  pkg/server/query/entryHandlers.go
Owners: @Macbeth98, @AndrewHess

Remove unneeded complexity
  pkg/metrics/taggable.go
  pkg/metrics/taggable_test.go
  pkg/metrics/taggedseries.go
  pkg/metrics/taggedseries_test.go
  pkg/metrics/timeseries.go
Owners: @Macbeth98, @AndrewHess

Added Support for PromQL Metrics response for Scalar Queries
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Try and print a redable representation of line in case (#2284)
  pkg/es/writer/esBulkHandler.go
Owners: @Macbeth98, @AndrewHess

remove debug print logs
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

chore: fix comments typo
  pkg/segment/results/mresults/seriesresult_test.go
Owners: @Macbeth98, @AndrewHess

Fix agg over time Metric Queries (#2270)
  cicd/metrics_test.csv
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
  pkg/segment/structs/metricsstructs.go
  tools/sigclient/pkg/query/otsdbquery.go
Owners: @Macbeth98, @AndrewHess

fix: promql cicd test queries
  cicd/promql_test.csv
Owners: @Macbeth98, @AndrewHess

Update year on copyright
  pkg/metrics/taggedseries.go
  pkg/metrics/taggedseries_test.go
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Add refactored metrics query structs (#2286)
  pkg/metrics/taggedseries.go
  pkg/metrics/taggedseries_test.go
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
  pkg/utils/iterator.go
  pkg/utils/iterator_test.go
Owners: @Macbeth98, @AndrewHess

Rename field
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/tests/metricsresults_test.go
Owners: @Macbeth98, @AndrewHess

Make some types public
  pkg/metrics/taggedseries.go
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Ensure TaggedSeries implements timeseries
  pkg/metrics/taggedseries_test.go
Owners: @Macbeth98, @AndrewHess

Add timeseries constructors
  pkg/metrics/timeseries.go
Owners: @Macbeth98, @AndrewHess

Add new field for all series
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Fix Response format for Promql scalar queries (#2287)
  cicd/promql_test.csv
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

fix: promql response format for Instant queries
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/results/mresults/metricresults.go
  pkg/utils/dateutils.go
Owners: @Macbeth98, @AndrewHess

In this PR, Jaeger-Grafana-Plugin 1) Services API /api/services /api/services/{serviceName}/operations
  pkg/segment/tracing/handler/jaegerHandler.go
Owners: @Macbeth98, @AndrewHess

Use the new series type for downsampling
  pkg/metrics/taggedseries.go
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

In this PR, Jaeger-Grafana-Plugin 1) Services API /api/services /api/services/{serviceName}/operations
  pkg/segment/tracing/handler/jaegerHandler.go
Owners: @Macbeth98, @AndrewHess

fix: bug for idx!=0 when extracting in promql format
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

fix: Sort results and fix panic
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

Pass groupToSeries to the aggregator
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

fix: index should be at least 0
  pkg/segment/results/mresults/seriesresult.go
Owners: @Macbeth98, @AndrewHess

fix: promql response format for Instant queries (#2288)
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/results/mresults/metricresults.go
  pkg/utils/dateutils.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
