Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Cleanup tests
  pkg/segment/structs/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Add tests for range series
  pkg/segment/structs/timeseries.go
  pkg/segment/structs/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Remove heading from HTML files
  static/alert-details.html
  static/alert.html
  static/all-slos.html
  static/cluster-stats.html
  static/dependency-graph.html
  static/kubernetes-overview.html
  static/kubernetes-view.html
  static/lookups.html
  static/metric-cardinality.html
  static/metric-summary.html
  static/metrics-explorer.html
  static/metrics-ingestion.html
  static/minion-searches.html
  static/org-settings.html
  static/saved-queries.html
  static/service-health-overview.html
  static/service-health.html
  static/test-data.html
  static/trace.html
  static/traces-ingestion.html
Owners: @sonamgupta21

Navbar Toggle and Breadcrum
  static/component/dashboard/breadcrum.js
  static/component/infrastructure/breadcrumb-component.js
  static/component/upper-navbar/upper-navbar.js
  static/js/alert-details.js
  static/js/alert.js
  static/js/common.js
  static/js/dashboard.js
  static/js/kubernetes-overview.js
  static/js/kubernetes-view.js
  static/js/navbar.js
  static/js/service-health-overview.js
Owners: @sunitakawane, @sonamgupta21

Fix Playwright Tests
  playwright-tests/tests/all-slos.test.js
  playwright-tests/tests/common-functions.js
  playwright-tests/tests/minion-searches.test.js
  playwright-tests/tests/navbar.test.js
Owners: @sunitakawane, @sonamgupta21

Fix ESLint
  eslint.config.mjs
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

CSS Changes
  static/css/dashboard.css
  static/css/siglens.css
Owners: @sonamgupta21

Cleanup
  static/js/dashboard.js
Owners: @sunitakawane, @sonamgupta21

Add tagging
  pkg/segment/structs/taggable.go
  pkg/segment/structs/taggable_test.go
Owners: @Macbeth98, @AndrewHess

Move files to new package
  pkg/metrics/taggable.go
  pkg/metrics/taggable_test.go
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Add a tagged series
  pkg/metrics/taggedseries.go
  pkg/metrics/taggedseries_test.go
Owners: @Macbeth98, @AndrewHess

UI: Navbar Toggle & Breadcrumb (#2276)
  eslint.config.mjs
  playwright-tests/tests/all-slos.test.js
  playwright-tests/tests/common-functions.js
  playwright-tests/tests/minion-searches.test.js
  playwright-tests/tests/navbar.test.js
  static/alert-details.html
  static/alert.html
  static/all-slos.html
  static/cluster-stats.html
  static/component/dashboard/breadcrum.js
  static/component/infrastructure/breadcrumb-component.js
  static/component/upper-navbar/upper-navbar.js
  static/css/dashboard.css
  static/css/siglens.css
  static/dependency-graph.html
  static/js/alert-details.js
  static/js/alert.js
  static/js/common.js
  static/js/dashboard.js
  static/js/kubernetes-overview.js
  static/js/kubernetes-view.js
  static/js/navbar.js
  static/js/service-health-overview.js
  static/kubernetes-overview.html
  static/kubernetes-view.html
  static/lookups.html
  static/metric-cardinality.html
  static/metric-summary.html
  static/metrics-explorer.html
  static/metrics-ingestion.html
  static/minion-searches.html
  static/org-settings.html
  static/saved-queries.html
  static/service-health-overview.html
  static/service-health.html
  static/test-data.html
  static/trace.html
  static/traces-ingestion.html
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Remove unneeded boilerplate
  pkg/metrics/taggedseries.go
Owners: @Macbeth98, @AndrewHess

added the ability to skip otsdb cicd queries
  cicd/metrics_test.csv
  tools/sigclient/pkg/query/otsdbquery.go
Owners: @Macbeth98, @AndrewHess

Add framework for aggregating many series into one
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

fix: count command query for metrics
  pkg/integrations/prometheus/promql/parser.go
Owners: @Macbeth98, @AndrewHess

Add series that maps values to new values
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

fix: issue with getalllabels
  pkg/integrations/prometheus/promql/parser.go
  pkg/segment/query/metricsquery.go
Owners: @Macbeth98, @AndrewHess

Add support for OTEL Metrics (#2203)
  pkg/grpc/grpc.go
  pkg/otlp/metrics.go
  pkg/otlp/metrics_test.go
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/segwriter.go
  pkg/server/ingest/entryHandlers.go
  pkg/server/ingest/server.go
Owners: @Macbeth98, @AndrewHess

fix: promql parser tests
  pkg/integrations/prometheus/promql/parser_test.go
Owners: @Macbeth98, @AndrewHess

Generalize downsampling
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Test window mapping series with small step
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Add the downsampler back
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Test a window sliding series constructor
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Create Audit logs for user activity
  pkg/audit/audit.json
  pkg/audit/audit_logger.py
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Create Audit Event for user activity
  pkg/audit/audit_logger.go
  pkg/audit/audit_logger.py
Owners: @Macbeth98, @AndrewHess, @nkunal, @sunitakawane, @sonamgupta21

Update audit_logger.go
  pkg/audit/audit_logger.go
Owners: @Macbeth98, @AndrewHess

Update audit_logger.go
  pkg/audit/audit_logger.go
Owners: @Macbeth98, @AndrewHess

Test a larger steps size than window size
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Add error logging
  pkg/metrics/timeseries.go
  pkg/metrics/timeseries_test.go
Owners: @Macbeth98, @AndrewHess

Made some changes
  static/index.html
Owners: @sonamgupta21

UI: Improving Login Error Messages
  static/css/siglens.css
Owners: @sonamgupta21

Tracing UI: Show Error For Gantt Chart
  static/js/trace.js
Owners: @sunitakawane, @sonamgupta21

Navbar Fix
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Resolved all bugs
  static/css/query-builder.css
  static/index.html
  static/js/a.js
  static/js/histo.js
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Solved conflicts
  static/js/a.js
  static/js/histo.js
Owners: @sunitakawane, @sonamgupta21

Removed unnecessary Comments
  static/css/query-builder.css
Owners: @sonamgupta21

Resolved merge conflicts
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Made some changes
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

SIG-2501: Made few changes
  static/js/histo.js
Owners: @sunitakawane, @sonamgupta21
