Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Made some changes
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Log the active and waiting query queue sizes
  pkg/segment/query/querystatus.go
Owners: @Macbeth98, @AndrewHess

Tidy
  pkg/segment/query/querystatus.go
Owners: @Macbeth98, @AndrewHess

Cleanup
  pkg/segment/query/querystatus.go
Owners: @Macbeth98, @AndrewHess

Log number of active and waiting queries (#2407)
  pkg/segment/query/querystatus.go
Owners: @Macbeth98, @AndrewHess

fix flaky metadatafilter test
  pkg/segment/query/metadatafilter_test.go
Owners: @Macbeth98, @AndrewHess

dont run workflow on main, some debug log lines change (#2404)
  .github/workflows/jsformat.yml
  .github/workflows/playwright-test.yml
  .github/workflows/uts.yml
  pkg/otlp/logs.go
  pkg/otlp/utils.go
  pkg/segment/query/queryrefresh.go
  pkg/segment/writer/segmetarw.go
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

pr comments
  pkg/segment/query/summary/querysummary.go
Owners: @Macbeth98, @AndrewHess

fix test
  pkg/segment/query/metadatafilter_test.go
Owners: @Macbeth98, @AndrewHess

Track query summary threads and log less frequently (#2406)
  pkg/segment/query/metadatafilter_test.go
  pkg/segment/query/summary/querysummary.go
Owners: @Macbeth98, @AndrewHess

log fixes
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/query/querystatus.go
  pkg/segment/query/segquery.go
Owners: @Macbeth98, @AndrewHess

reduce logs
  pkg/ast/pipesearch/wsSearchHandler.go
  pkg/segment/query/querystatus.go
Owners: @Macbeth98, @AndrewHess

reduce logging (#2408)
  pkg/ast/pipesearch/searchHandler.go
  pkg/ast/pipesearch/wsSearchHandler.go
  pkg/segment/query/querystatus.go
  pkg/segment/query/segquery.go
Owners: @Macbeth98, @AndrewHess

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2409)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2411)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

remove auto deploy to PG
  .github/workflows/release-deploy.yml
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

remove auto deploy to PG (#2412)
  .github/workflows/release-deploy.yml
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Display Error
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

Enhancement in config design
  static/css/siglens.css
  static/js/test-data.js
Owners: @sonamgupta21, @sunitakawane

Changed scrollbar's design for dark theme
  static/css/siglens.css
Owners: @sonamgupta21

Checking endEpoch
  pkg/health/clusterStatsHandler.go
Owners: @Macbeth98, @AndrewHess

Fix intToGranularity Function
  pkg/health/clusterStatsHandler.go
Owners: @Macbeth98, @AndrewHess

Lint Fix
  pkg/health/clusterStatsHandler.go
Owners: @Macbeth98, @AndrewHess

Sig 2609 UI show cross hairline and details tab (#2405)
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Changed vector tab design
  static/css/siglens.css
  static/js/test-data.js
  static/test-data.html
Owners: @sonamgupta21, @sunitakawane

Changed scrollbar's design for dark theme (#2413)
  static/css/siglens.css
Owners: @sonamgupta21

fix: min/max duration parsing into nano-seconds for search traces (#2397)
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

All ingestion tabs changed
  static/css/siglens.css
  static/js/test-data.js
Owners: @sonamgupta21, @sunitakawane

Made some changes
  static/js/test-data.js
Owners: @sunitakawane, @sonamgupta21

Refactor WAL Caller Module
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Add idempotent QuerySummary cleanup method
  pkg/segment/query/summary/querysummary.go
  pkg/segment/query/summary/querysummary_test.go
Owners: @Macbeth98, @AndrewHess

Call QuerySummary.Cleanup() on errors
  pkg/segment/query/processor/queryprocessor.go
  pkg/segment/query/segquery.go
  pkg/segment/query/summary/querysummary.go
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess

Fix panic on stopped ticker
  pkg/segment/query/summary/querysummary.go
Owners: @Macbeth98, @AndrewHess

Fix race condition on stopping ticker
  pkg/segment/query/summary/querysummary.go
  pkg/segment/query/summary/querysummary_test.go
Owners: @Macbeth98, @AndrewHess

Fix goroutine leak in query summary (#2414)
  pkg/segment/query/processor/queryprocessor.go
  pkg/segment/query/segquery.go
  pkg/segment/query/summary/querysummary.go
  pkg/segment/query/summary/querysummary_test.go
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess

PromQL instant query Execution support
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Added Wal Recovery Module
  cmd/startup/startup.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

test: add instant query test
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess
