Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Timestamp cleanup fixes the metrics ingestion.
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Remove comment
  pkg/integrations/prometheus/ingest/putmetrics.go
Owners: @Macbeth98, @AndrewHess

Updated log line
  pkg/integrations/prometheus/ingest/putmetrics.go
Owners: @Macbeth98, @AndrewHess

Fix: Added unit test to check that all necessary fields are initialized properly before execution.
  pkg/ast/spl/tests/splParser_test.go
Owners: @Macbeth98, @AndrewHess

Removed the unused ConvertToOTSDBFormat function
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/integrations/prometheus/ingest/putmetrics_test.go
Owners: @Macbeth98, @AndrewHess

fixed formatting
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Implement the query manager
  tools/sigclient/pkg/query/query.go
  tools/sigclient/pkg/query/querymanager.go
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Removed unused funcion in test
  pkg/integrations/prometheus/ingest/putmetrics_test.go
Owners: @Macbeth98, @AndrewHess

Update Font Family Across UI (#2332)
  static/component/dashboard/sort-dropdown.js
  static/component/infrastructure/header-component.js
  static/component/infrastructure/search-dropdown-component.js
  static/component/single-box/single-box.css
  static/css/dashboard.css
  static/css/fonts/Inter/Inter_18pt-Bold.ttf
  static/css/fonts/Inter/Inter_18pt-Medium.ttf
  static/css/fonts/Inter/Inter_18pt-Regular.ttf
  static/css/fonts/RobotoMono/RobotoMono-Bold.ttf
  static/css/fonts/RobotoMono/RobotoMono-Regular.ttf
  static/css/fonts/SourceCodePro-Light.ttf
  static/css/metrics-explorer.css
  static/css/query-builder.css
  static/css/siglens.css
  static/css/tracing.css
  static/index.html
  static/js/cluster-stats.js
  static/js/common.js
  static/js/dependency-graph.js
  static/js/search.js
  static/js/service-health-overview.js
  static/kubernetes-overview.html
  static/kubernetes-view.html
  static/metric-summary.html
  static/pqs-settings.html
  static/query-stats.html
  static/service-health-overview.html
Owners: @sunitakawane, @sonamgupta21, @nkunal, @AndrewHess

Update color
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Metrics Ingestion improvement (#2340)
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/integrations/prometheus/ingest/putmetrics_test.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Fixed interval calculation for log histograms to properly limit bucket size (#2336)
  pkg/ast/spl/spl.go
  pkg/ast/spl/spl.peg
  pkg/ast/spl/tests/splParser_test.go
  pkg/segment/aggregations/timechartagg.go
Owners: @Macbeth98, @AndrewHess

Display Vertical Grid Lines on Metrics Graphs (#2338)
  static/css/metrics-explorer.css
  static/css/siglens.css
  static/index.html
  static/js/metrics-explorer.js
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

fix panic when there are no activeseriescounts
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

fix panic when there are no activeseriescounts (#2341)
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

CreateAuditEvent helper function
  pkg/audit/audit.go
Owners: @Macbeth98, @AndrewHess

Bump version to 1.0.27
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump version to 1.0.27 (#2342)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump version to 1.0.28d
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump version to 1.0.28d (#2345)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Hook up the query manager
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

call createAuditLog after dashboard creation
  pkg/dashboards/dashboards.go
Owners: @Macbeth98, @AndrewHess

save an array of json objects in the audit-log file
  pkg/audit/audit.go
Owners: @Macbeth98, @AndrewHess

Fix issues with callback
  tools/sigclient/pkg/ingest/ingest.go
Owners: @Macbeth98, @AndrewHess

Fix issues with the query manager
  tools/sigclient/pkg/query/query.go
  tools/sigclient/pkg/query/querymanager.go
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Fix queries
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

Run sigclient unit tests in workflow
  .github/workflows/uts.yml
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

helper method for reading audit log
  pkg/audit/audit.go
Owners: @Macbeth98, @AndrewHess

Update readme
  tools/sigclient/README.md
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

call audit log event
  pkg/alerts/alertsHandler/alertsHandler.go
  pkg/audit/audit.go
  pkg/cfghandler/pqsupdate.go
  pkg/cfghandler/querytimeoutupdate.go
  pkg/dashboards/dashboards.go
  pkg/dashboards/folders.go
  pkg/es/writer/esBulkHandler.go
  pkg/lookups/lookups.go
  pkg/querytracker/querytracker.go
  pkg/server/query/entryHandlers.go
  pkg/usersavedqueries/usqueries.go
Owners: @Macbeth98, @AndrewHess

lint fix
  pkg/alerts/alertsHandler/alertsHandler.go
  pkg/audit/audit.go
  pkg/cfghandler/pqsupdate.go
  pkg/cfghandler/querytimeoutupdate.go
  pkg/dashboards/dashboards.go
  pkg/dashboards/folders.go
  pkg/es/writer/esBulkHandler.go
  pkg/lookups/lookups.go
  pkg/querytracker/querytracker.go
  pkg/server/query/entryHandlers.go
  pkg/usersavedqueries/usqueries.go
Owners: @Macbeth98, @AndrewHess

custom tooltip is added
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

fix loki ingestion stats, and fix metric ingestion stats
  pkg/integrations/loki/loki.go
  pkg/otlp/metrics.go
Owners: @Macbeth98, @AndrewHess

Refactor : - Refactor resultMap handling to use reference instead of reassignment (#2349)
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

Added a proximity detection so the tooltip shows the info of closest data point
  static/css/metrics-explorer.css
  static/js/metrics-explorer.js
Owners: @sonamgupta21, @sunitakawane

Fix panic
  tools/sigclient/pkg/ingest/ingest.go
Owners: @Macbeth98, @AndrewHess

pr comments
  pkg/otlp/metrics.go
Owners: @Macbeth98, @AndrewHess

fix loki ingestion stats, and fix metric ingestion stats (#2351)
  pkg/integrations/loki/loki.go
  pkg/otlp/metrics.go
Owners: @Macbeth98, @AndrewHess

Remove InfluxDB ingestion endpoints and related references (#2352)
  pkg/grpc/grpc.go
  pkg/influx/query/query.go
  pkg/influx/writer/putmetrics.go
  pkg/influx/writer/putmetrics_test.go
  pkg/integrations/otsdb/writer/putmetrics.go
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/segwriter.go
  pkg/server/ingest/entryHandlers.go
  pkg/server/ingest/server.go
  pkg/server/utils/utils.go
Owners: @Macbeth98, @AndrewHess

fix: ensure query is deleted when query is cancelled or completed
  pkg/segment/segexecution.go
Owners: @Macbeth98, @AndrewHess
