Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

fix: flooding of error log lines
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/packer.go
Owners: @Macbeth98, @AndrewHess

fix: flooding of error log lines (#2157)
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/packer.go
Owners: @Macbeth98, @AndrewHess

feat: Add API and handler to get logs related to traces
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/tracing/handler/tracehandler.go
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
  pkg/utils/httpserverutils.go
Owners: @Macbeth98, @AndrewHess

refac: const variable name
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

test: add tests for encode and decode json data
  pkg/utils/httpserverutils.go
  pkg/utils/httpserverutils_test.go
Owners: @Macbeth98, @AndrewHess

chore: Make current disk usage function public
  pkg/server/ingest/entryHandlers.go
Owners: @Macbeth98, @AndrewHess

chore: make const as caps
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

feat: Add API and handler to get logs related to traces (#2158)
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/tracing/handler/tracehandler.go
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
  pkg/utils/httpserverutils.go
  pkg/utils/httpserverutils_test.go
Owners: @Macbeth98, @AndrewHess

chore: Make current disk usage function public (#2159)
  pkg/server/ingest/entryHandlers.go
Owners: @Macbeth98, @AndrewHess

Initial code for spanGanttChart
  pkg/segment/tracing/handler/tracehandler.go
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
Owners: @Macbeth98, @AndrewHess

fix: sync SFM With Segmeta on Bootup (#2109)
  pkg/hooks/hooks.go
  pkg/segment/metadata/metadata.go
  pkg/segment/query/queryrefresh.go
  pkg/segment/query/segquery.go
  pkg/segment/writer/segmetarw.go
  pkg/segment/writer/segstore.go
Owners: @Macbeth98, @AndrewHess

Tidy to use switch statement
  pkg/alerts/alertsHandler/alertsHandler.go
Owners: @Macbeth98, @AndrewHess

Extract helper function
  pkg/alerts/alertsHandler/alertsHandler.go
Owners: @Macbeth98, @AndrewHess

remove trace related logs API and handler
  pkg/segment/tracing/handler/tracehandler.go
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
Owners: @Macbeth98, @AndrewHess

determine if this is trace related logs index through ws
  pkg/ast/pipesearch/wsSearchHandler.go
  pkg/segment/structs/querystructs.go
Owners: @Macbeth98, @AndrewHess

Generate gantt chart from a span Id
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

Updated API readme for gantt chart by span ID
  API_README.md
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

UI: View logs for traces/spans
  static/css/siglens.css
  static/css/tracing.css
  static/js/common.js
  static/js/log-results-grid.js
  static/js/search-traces.js
  static/js/trace.js
Owners: @sonamgupta21, @sunitakawane

Tidy alert validation function (#2161)
  pkg/alerts/alertsHandler/alertsHandler.go
Owners: @Macbeth98, @AndrewHess

Use Camel Case
  static/js/common.js
Owners: @sunitakawane, @sonamgupta21

added a hook to trigger eviction
  pkg/hooks/hooks.go
  pkg/server/ingest/entryHandlers.go
Owners: @Macbeth98, @AndrewHess

UI: Correlation b/w Logs and Traces (#2162)
  static/css/siglens.css
  static/css/tracing.css
  static/js/common.js
  static/js/log-results-grid.js
  static/js/search-traces.js
  static/js/trace.js
Owners: @sonamgupta21, @sunitakawane

Use snake case for otel log column names
  pkg/otlp/logs.go
Owners: @Macbeth98, @AndrewHess

remove as go routine and call hook normally and update diskusage bool
  pkg/server/ingest/entryHandlers.go
Owners: @Macbeth98, @AndrewHess

Use snake case for otel log column names (#2164)
  pkg/otlp/logs.go
Owners: @Macbeth98, @AndrewHess

Add unit tests for log alert query validity
  pkg/alerts/alertsHandler/alert_test.go
Owners: @Macbeth98, @AndrewHess

added a hook to trigger eviction (#2163)
  pkg/hooks/hooks.go
  pkg/server/ingest/entryHandlers.go
Owners: @Macbeth98, @AndrewHess

chore: add comments
  pkg/ast/pipesearch/wsSearchHandler.go
Owners: @Macbeth98, @AndrewHess

Changed index name
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

remove IsTraceRelatedLogsIndex field from qc
  pkg/ast/pipesearch/wsSearchHandler.go
  pkg/segment/structs/querystructs.go
Owners: @Macbeth98, @AndrewHess

add support for both ws and http
  pkg/ast/pipesearch/searchHandler.go
  pkg/ast/pipesearch/wsSearchHandler.go
Owners: @Macbeth98, @AndrewHess

refac if condition code block
  pkg/ast/pipesearch/searchHandler.go
Owners: @Macbeth98, @AndrewHess

Uses the 'traces' index instead of the '*' index for finding trace id and generating gantt chart
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

Add failing test
  pkg/alerts/alertsHandler/alert_test.go
Owners: @Macbeth98, @AndrewHess

Add method to extract measure aggs
  pkg/segment/structs/segstructs.go
  pkg/segment/structs/segstructs_test.go
Owners: @Macbeth98, @AndrewHess

Fix failing tests
  pkg/alerts/alertsHandler/alertsHandler.go
Owners: @Macbeth98, @AndrewHess

Add test cases
  pkg/alerts/alertsHandler/alert_test.go
Owners: @Macbeth98, @AndrewHess

Search the correct index(es)
  pkg/ast/pipesearch/searchHandler.go
Owners: @Macbeth98, @AndrewHess

Traces to logs through websocket and http handler (#2165)
  pkg/ast/pipesearch/searchHandler.go
  pkg/ast/pipesearch/wsSearchHandler.go
  pkg/segment/tracing/handler/tracehandler.go
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
Owners: @Macbeth98, @AndrewHess

Bump version to 1.0.19
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess
