Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Use a ChecksumFile for writing
  pkg/segment/writer/segwriter.go
Owners: @Macbeth98, @AndrewHess

Fix typo
  pkg/segment/reader/segread/timereader.go
Owners: @Macbeth98, @AndrewHess

Detect O_APPEND when it causes issues
  pkg/utils/checksumfile.go
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Open file without O_APPEND
  pkg/segment/writer/segwriter.go
Owners: @Macbeth98, @AndrewHess

fixup for reading timestamp
  pkg/segment/reader/segread/timereader.go
Owners: @Macbeth98, @AndrewHess

fixup for reading timestamp on match-all query
  pkg/segment/reader/segread/timereader.go
Owners: @Macbeth98, @AndrewHess

dont pre-create nodes and avoid extra mem usage
  pkg/segment/writer/agiletree.go
Owners: @Macbeth98, @AndrewHess

Fixed the custom time issue and x-axis shows timestamp in ascending order now (#2483)
  static/js/service-health-overview.js
Owners: @sunitakawane, @sonamgupta21

Changed name of the clusterIngestStats api to usageStats (#2482)
  pkg/health/clusterStatsHandler.go
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
  static/js/usage-stats.js
Owners: @Macbeth98, @AndrewHess, @sunitakawane, @sonamgupta21

✅ Added Unit Test
  pkg/segment/query/iqr/intermediateQueryResult.go
  pkg/segment/query/iqr/intermediateQueryResult_test.go
  pkg/segment/query/processor/queryprocessor_test.go
Owners: @Macbeth98, @AndrewHess

✅ If query type is logs then only remove the empty record
  pkg/segment/query/iqr/intermediateQueryResult.go
Owners: @Macbeth98, @AndrewHess

✅ Fix unit test
  pkg/segment/query/iqr/intermediateQueryResult_test.go
Owners: @Macbeth98, @AndrewHess

Sig 2515 show updated query results on dashboards (#2469)
  static/css/dashboard.css
  static/js/common.js
  static/js/metrics-explorer.js
Owners: @sonamgupta21, @sunitakawane

Changed help menu behavior
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

✅ Metrics MetaEntry Wal
  cmd/startup/startup.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

✅ Metrics MetaEntry Wal
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

UI: Show cards for Submenus
  static/alerting.html
  static/apm.html
  static/css/siglens.css
  static/metrics.html
Owners: @sonamgupta21

fix running of cicd twice
  .github/workflows/playwright-test.yml
  .github/workflows/uts.yml
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Redirects
  static/alerting.html
  static/apm.html
  static/metrics.html
Owners: @sonamgupta21

Fix: Create Alert Page
  static/all-alerts.html
Owners: @sonamgupta21

Some CSS Fixes
  static/css/siglens.css
Owners: @sonamgupta21

Cleanup
  static/alerting.html
  static/apm.html
  static/infrastructure.html
  static/metrics.html
Owners: @sonamgupta21

dont pre-create nodes and avoid extra mem usage (#2485)
  .github/workflows/playwright-test.yml
  .github/workflows/uts.yml
  pkg/segment/writer/agiletree.go
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Reduced ssome distance
  static/css/siglens.css
Owners: @sonamgupta21

Fix Test_EncodeDecodeBlockSummary
  pkg/segment/segexecution_test.go
Owners: @Macbeth98, @AndrewHess

Test concurrent reads
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Allow parallel reading
  pkg/utils/checksumfile.go
Owners: @Macbeth98, @AndrewHess

Add test for reading multiple consecutive chunks
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Handle reading multiple chunks in one call
  pkg/utils/checksumfile.go
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Update logging
  pkg/segment/search/segsearch.go
Owners: @Macbeth98, @AndrewHess

Fix bug reading timestamps in consecutive blocks
  pkg/segment/reader/segread/timereader.go
Owners: @Macbeth98, @AndrewHess

Cleanup
  pkg/utils/checksumfile.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.34
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.34 (#2490)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.35d
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.35d (#2492)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

fixup
  pkg/utils/checksumfile.go
Owners: @Macbeth98, @AndrewHess

UI: Show cards for Submenus (#2487)
  static/alerting.html
  static/all-alerts.html
  static/apm.html
  static/css/siglens.css
  static/metrics.html
Owners: @sonamgupta21

Write CSG files in checksummed chunks (#2489)
  pkg/segment/reader/segread/segreader/segreader.go
  pkg/segment/reader/segread/timereader.go
  pkg/segment/search/segsearch.go
  pkg/segment/segexecution_test.go
  pkg/segment/writer/segwriter.go
  pkg/utils/checksumfile.go
  pkg/utils/checksumfile_test.go
Owners: @Macbeth98, @AndrewHess

Remove empty columns,value send to the UI (#2478)
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/query/iqr/intermediateQueryResult.go
  pkg/segment/query/iqr/intermediateQueryResult_test.go
  pkg/segment/query/processor/queryprocessor.go
  pkg/segment/query/processor/queryprocessor_test.go
  pkg/segment/query/segquery.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
