Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

test: Added tests for multiple myids, indexes, and with all segments hook
  pkg/segment/query/segquery_test.go
Owners: @Macbeth98, @AndrewHess

github actions: style: format files
  static/js/event-handlers.js
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

remove commented and unused code blocks
  pkg/segment/query/segquery_test.go
  pkg/segment/writer/packer.go
Owners: @Macbeth98, @AndrewHess

Add support for mTLS (#2183)
  pkg/config/common/common.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/server/ingest/server.go
  pkg/server/query/server.go
  pkg/server/utils/utils.go
  server.yaml
Owners: @Macbeth98, @AndrewHess, @nkunal, @sunitakawane, @sonamgupta21

Moved the custom query builder elements at top (#2173)
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
Owners: @sonamgupta21

Changed the font type and color for logs text (#2184)
  static/css/siglens.css
  static/js/event-handlers.js
Owners: @sonamgupta21, @sunitakawane

Added hover for log lines (#2192)
  static/css/siglens.css
Owners: @sonamgupta21

Added expand icon next to timestamp (#2190)
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

DsResults is no longer set to nil after aggregating results, so that in multiple metrics queries, further queries can use the downsampled results for performing aggregations
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/tests/metricsresults_test.go
Owners: @Macbeth98, @AndrewHess

github actions: style: format files
  static/js/event-handlers.js
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Removed previous incorrect work
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/integrations/prometheus/promql/parser.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/tests/metricsresults_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

github actions: style: format files
  static/js/event-handlers.js
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Fixed error in multiple queries not executing properly
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/tests/metricsresults_test.go
Owners: @Macbeth98, @AndrewHess

UX Improvement (#2193)
  static/component/dashboard/add-new.js
  static/js/saved-query.js
Owners: @sunitakawane, @sonamgupta21

Create hotkey.js
  static/js/hotkey.js
Owners: @sunitakawane, @sonamgupta21

Add tooltips
  static/js/log-search.js
Owners: @sunitakawane, @sonamgupta21

Added hotkey.js script reference
  static/index.html
Owners: @sonamgupta21

Change placeholder
  static/folder.html
Owners: @sonamgupta21

Change placeholder and link script
  static/dashboards-home.html
Owners: @sonamgupta21

Fix dashboard screens padding
  static/css/dashboard.css
  static/css/metrics-explorer.css
  static/dashboard.html
  static/folder.html
Owners: @sonamgupta21

Added Icons
  static/assets/infrastructure-active.svg
  static/assets/infrastructure-inactive.svg
  static/assets/kubernetes.png
Owners: @sonamgupta21

Added Infrastructure Page
  static/infrastructure.html
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Added All Screens and Components
  static/component/infrastructure/big-number-card-component.js
  static/component/infrastructure/breadcrumb-component.js
  static/component/infrastructure/configuration-page-component.js
  static/component/infrastructure/container-image-card-component.js
  static/component/infrastructure/header-component.js
  static/component/infrastructure/search-dropdown-component.js
  static/css/siglens.css
  static/js/kubernetes-overview.js
  static/js/kubernetes-view.js
  static/kubernetes-overview.html
  static/kubernetes-view.html
Owners: @sunitakawane, @sonamgupta21

Resource Indicator
  static/component/infrastructure/usage-indicator-component.js
  static/js/kubernetes-view.js
  static/kubernetes-view.html
Owners: @sunitakawane, @sonamgupta21

github actions: style: format files
  static/js/event-handlers.js
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Changed the submenus for metrics
  static/js/navbar.js
  static/metrics.html
Owners: @sunitakawane, @sonamgupta21

fix: remove unwanted scrollbar in the save query dialog
  static/css/siglens.css
Owners: @sonamgupta21

made some changes
  static/js/navbar.js
  static/metrics.html
Owners: @sunitakawane, @sonamgupta21

made some changes
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Fix ESLint
  eslint.config.mjs
  static/js/kubernetes-overview.js
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

github actions: style: format files
  static/js/kubernetes-overview.js
Owners: @sunitakawane, @sonamgupta21

made some changes
  static/js/navbar.js
  static/metrics.html
Owners: @sunitakawane, @sonamgupta21

made some changes
  static/js/navbar.js
  static/metrics.html
Owners: @sunitakawane, @sonamgupta21

made some changes
  static/js/navbar.js
  static/metrics.html
Owners: @sunitakawane, @sonamgupta21

Changed the json overlay box size
  static/css/siglens.css
Owners: @sonamgupta21

made some changes
  static/js/navbar.js
  static/metrics.html
Owners: @sunitakawane, @sonamgupta21

up/down arrow bug fix
  static/js/navbar.js
  static/metrics.html
Owners: @sunitakawane, @sonamgupta21

github actions: style: format files
  static/js/event-handlers.js
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Added check for if the mbsu file has less than 1 byte so an OOB error wont cause panic.
  pkg/segment/reader/microreader/microreader.go
Owners: @Macbeth98, @AndrewHess

Out of bounds panic fix (#2200)
  pkg/segment/reader/microreader/microreader.go
  static/js/event-handlers.js
  static/js/log-results-grid.js
Owners: @Macbeth98, @AndrewHess, @sunitakawane, @sonamgupta21

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
