Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Stored the dropdown state in localstorage
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Made some changes to Navbar Menu and submenu
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Fix
  playwright-tests/tests/navbar.test.js
  static/css/metrics-explorer.css
Owners: @sunitakawane, @sonamgupta21

Make the cursor spin when a metrics query is taking a while
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

- Added the processes body to the traces payload to include the mapping of process name in the span.
  pkg/segment/tracing/handler/jaegerHandler.go
Owners: @Macbeth98, @AndrewHess

Cleanup
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Removed commented-out code
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Fix duplicate add default panel div creation
  playwright-tests/tests/metrics-explorer.test.js
  static/js/dashboard.js
Owners: @sunitakawane, @sonamgupta21

Sanitize float values (#2294)
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Set minimum step value to 1 second (#2295)
  pkg/integrations/prometheus/promql/parser.go
Owners: @Macbeth98, @AndrewHess

pauseMode configuration support (#2268)
  cmd/startup/startup.go
  pkg/config/common/common.go
  pkg/config/config.go
  pkg/config/config_test.go
  server.yaml
Owners: @Macbeth98, @AndrewHess, @nkunal, @sunitakawane, @sonamgupta21

Make flaky test more rare
  pkg/segment/reader/metrics/tagstree/tagstree_test.go
Owners: @Macbeth98, @AndrewHess

UI: Metrics Explorer Fixes (#2298)
  eslint.config.mjs
  playwright-tests/tests/metrics-explorer.test.js
  playwright-tests/tests/navbar.test.js
  static/alert.html
  static/css/dashboard.css
  static/css/metrics-explorer.css
  static/css/siglens.css
  static/dashboard.html
  static/index.html
  static/js/alert.js
  static/js/common.js
  static/js/dashboard.js
  static/js/kubernetes-overview.js
  static/js/metrics-explorer.js
  static/metrics-explorer.html
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Make flaky test more rare (#2299)
  pkg/segment/reader/metrics/tagstree/tagstree_test.go
Owners: @Macbeth98, @AndrewHess

Handle invalid quantiles
  pkg/segment/results/mresults/histogram.go
  pkg/segment/results/mresults/histogram_test.go
Owners: @Macbeth98, @AndrewHess

Handle cases with insufficient or bad data
  pkg/segment/results/mresults/histogram.go
  pkg/segment/results/mresults/histogram_test.go
Owners: @Macbeth98, @AndrewHess

Verify monotonicity
  pkg/segment/results/mresults/histogram.go
  pkg/segment/results/mresults/histogram_test.go
Owners: @Macbeth98, @AndrewHess

Added unit tests for TestComputeStartTime, TestProcessGetTracesSearch, and TestProcessGetDependencies. Refactored the code to improve readability and maintainability.
  pkg/segment/tracing/handler/jaegerHandler.go
  pkg/segment/tracing/handler/jaegerHandler_test.go
  pkg/utils/errorutils.go
Owners: @Macbeth98, @AndrewHess

Added unit tests for TestComputeStartTime, TestProcessGetTracesSearch, and TestProcessGetDependencies. Refactored the code to improve readability and maintainability.
  pkg/segment/tracing/handler/jaegerHandler_test.go
Owners: @Macbeth98, @AndrewHess

Compute the quantile for normal cases
  pkg/segment/results/mresults/histogram.go
  pkg/segment/results/mresults/histogram_test.go
Owners: @Macbeth98, @AndrewHess

Handle edge cases with quantile in the first bin
  pkg/segment/results/mresults/histogram.go
  pkg/segment/results/mresults/histogram_test.go
Owners: @Macbeth98, @AndrewHess

Handle quantile in the last bucket
  pkg/segment/results/mresults/histogram.go
  pkg/segment/results/mresults/histogram_test.go
Owners: @Macbeth98, @AndrewHess

Test sorting bins
  pkg/segment/results/mresults/histogram_test.go
Owners: @Macbeth98, @AndrewHess

Added error handling to ParseSearchBody function
  pkg/ast/pipesearch/searchHandler.go
  pkg/ast/pipesearch/searchHandler_test.go
  pkg/ast/pipesearch/wsSearchHandler.go
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

Update docker script for v2 compatibility (#2297)
  install.sh
  install_with_docker.sh
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Jaeger grafana plugin api (#2291)
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/tracing/handler/jaegerHandler.go
  pkg/segment/tracing/handler/jaegerHandler_test.go
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
  pkg/utils/errorutils.go
Owners: @Macbeth98, @AndrewHess

Added dropdowns for menuItems
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Made some changes
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Fix: Set Metrics Graph End Time as the Custom End Time
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Fix: Handle missing "startEpoch" and "endEpoch" keys in request body JSON parsing
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

distanced help-options dropdown menu
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Highlighted parent menus on active submenus
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

k8s OTSDB ingestion
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/main.go
  tools/sigclient/pkg/ingest/ingest.go
  tools/sigclient/pkg/ingest/k8s_generator.go
Owners: @Macbeth98, @AndrewHess

Fix: Set Metrics Graph End Time as the Custom End Time (#2302)
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

updated OTSDB metric ingestion, enum handling
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/ingest/ingest.go
  tools/sigclient/pkg/ingest/k8s_generator.go
Owners: @Macbeth98, @AndrewHess

linted_go_code,OTSDB generation,enum_metric_detection,Init_Pending
  tools/sigclient/pkg/ingest/ingest.go
  tools/sigclient/pkg/ingest/k8s_generator.go
Owners: @Macbeth98, @AndrewHess

Fix: Dashboards Data-table Panel Fix
  static/css/dashboard.css
  static/css/siglens.css
  static/js/common.js
  static/js/dashboard-logs-results-grid.js
  static/js/edit-panel-screen.js
Owners: @sonamgupta21, @sunitakawane

comment removeal
  tools/sigclient/pkg/ingest/k8s_generator.go
Owners: @Macbeth98, @AndrewHess

Lint Fix
  static/js/dashboard-logs-results-grid.js
  static/js/edit-panel-screen.js
Owners: @sunitakawane, @sonamgupta21

Fix: Check the type before casting; if it's not a string, convert it accordingly.
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
