Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Remove bucket count
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Run stats count queries in the longevity test
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/queryvalidator.go
Owners: @Macbeth98, @AndrewHess

Add tests for invalid responses
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Fix typo
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Add stats count queries to the longevity test (#2362)
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Remove count queries from longevity test
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

Remove count queries from longevity test (#2363)
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

test: update compresss and decompress test with copy buf
  pkg/segment/writer/metrics/compress/compressor_test.go
Owners: @Macbeth98, @AndrewHess

search for a query through unrotated block
  pkg/segment/query/metricsquery.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/unrotatedquery.go
Owners: @Macbeth98, @AndrewHess

Add todo comments
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

continue even if tagtree is not found without throwing error
  pkg/segment/query/metricsquery.go
Owners: @Macbeth98, @AndrewHess

refactor findtsids func
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

Dynamic Unit Selection for Clusters Volume Graphs
  pkg/health/clusterStatsHandler.go
  static/cluster-stats.html
  static/css/siglens.css
  static/js/cluster-stats.js
  static/js/common.js
Owners: @Macbeth98, @AndrewHess, @sonamgupta21, @sunitakawane

use usage stats to count active series counts
  pkg/ingest/ingestionStats.go
  pkg/segment/query/metricsquery.go
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

some simplications
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

created a function to deep clone the compressor
  pkg/segment/writer/metrics/compress/bit_reader.go
  pkg/segment/writer/metrics/compress/bit_writer.go
  pkg/segment/writer/metrics/compress/compressor.go
  pkg/segment/writer/metrics/compress/compressor_test.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

add unrotated versions for most of the tagtree func calls
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/query/metricsquery.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/tagstree.go
Owners: @Macbeth98, @AndrewHess

test: added e2e test for metrics
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

chore:change licensing to 2025 to new file
  pkg/segment/writer/metrics/unrotatedquery.go
Owners: @Macbeth98, @AndrewHess

fix: lint errors
  pkg/segment/writer/metrics/compress/compressor_test.go
Owners: @Macbeth98, @AndrewHess

Alert and Navbar Screens
  playwright-tests/tests/alert-logs.test.js
  playwright-tests/tests/alert-metrics.test.js
  playwright-tests/tests/navbar-1.test.js
  playwright-tests/tests/navbar-2.test.js
  playwright-tests/tests/navbar.test.js
Owners: @sunitakawane, @sonamgupta21

Alert Test Fixes
  playwright-tests/tests/alert-logs.test.js
  playwright-tests/tests/alert-metrics.test.js
Owners: @sunitakawane, @sonamgupta21

Dashboard 1 Fix
  playwright-tests/tests/dashboard-1.test.js
Owners: @sunitakawane, @sonamgupta21

Dashboard 2 Fix
  playwright-tests/tests/dashboard-2.test.js
Owners: @sunitakawane, @sonamgupta21

Metrics Explorer Fix
  playwright-tests/tests/metrics-explorer.test.js
Owners: @sunitakawane, @sonamgupta21

Dashboard Fix
  playwright-tests/tests/dashboard-1.test.js
Owners: @sunitakawane, @sonamgupta21

Dashboard Fixes
  playwright-tests/tests/dashboard-2.test.js
  playwright-tests/tests/dashboard.test.js
Owners: @sunitakawane, @sonamgupta21

Fix
  playwright-tests/tests/dashboard.test.js
Owners: @sunitakawane, @sonamgupta21

Fix tests
  playwright-tests/tests/alert-metrics.test.js
  playwright-tests/tests/dashboard.test.js
Owners: @sunitakawane, @sonamgupta21

Update the timing
  playwright-tests/tests/dashboard.test.js
Owners: @sunitakawane, @sonamgupta21

Update Fix
  playwright-tests/tests/dashboard.test.js
Owners: @sunitakawane, @sonamgupta21

Fix
  playwright-tests/tests/dashboard.test.js
Owners: @sunitakawane, @sonamgupta21

update flow
  playwright-tests/tests/dashboard.test.js
Owners: @sunitakawane, @sonamgupta21

Playwright Test Fix
  playwright-tests/tests/cluster-stats.test.js
Owners: @sunitakawane, @sonamgupta21

Fix: Playwright Tests (#2368)
  playwright-tests/tests/alert-logs.test.js
  playwright-tests/tests/alert-metrics.test.js
  playwright-tests/tests/dashboard-1.test.js
  playwright-tests/tests/dashboard-2.test.js
  playwright-tests/tests/dashboard.test.js
  playwright-tests/tests/metrics-explorer.test.js
  playwright-tests/tests/navbar-1.test.js
  playwright-tests/tests/navbar-2.test.js
  playwright-tests/tests/navbar.test.js
Owners: @sunitakawane, @sonamgupta21

UI: Dynamic Unit Selection for Clusters Volume Graphs (#2367)
  pkg/health/clusterStatsHandler.go
  playwright-tests/tests/cluster-stats.test.js
  static/cluster-stats.html
  static/css/siglens.css
  static/js/cluster-stats.js
  static/js/common.js
Owners: @Macbeth98, @AndrewHess, @sunitakawane, @sonamgupta21

Added histogram
  static/css/query-builder.css
  static/index.html
  static/js/histo.js
Owners: @sonamgupta21, @sunitakawane

Dragging selection is updated
  static/css/query-builder.css
  static/index.html
  static/js/histo.js
  static/js/search.js
Owners: @sonamgupta21, @sunitakawane

Added Navbar Link
  static/assets/usage-stats-active.svg
  static/assets/usage-stats-regular.svg
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Added HTML and JS Files
  static/js/usage-stats.js
  static/usage-stats.html
Owners: @sunitakawane, @sonamgupta21

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
