Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

replaced close button with close icon
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Removed commented code
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Removed more commented code
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Add passing e2e test for metric names
  pkg/e2etests/e2e_utils.go
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

Removed unused var
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Cleanup redundant terminal functions
  pkg/e2etests/e2e_utils.go
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

Cleanup cd into siglens
  pkg/e2etests/e2e_utils.go
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

Remove unused function
  pkg/e2etests/e2e_utils.go
Owners: @Macbeth98, @AndrewHess

Add build directive to skip e2e tests by default
  .github/workflows/uts.yml
  .golangci.yml
  Makefile
  pkg/e2etests/metrics_e2e_test.go
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Setup E2E testing framework (#2202)
  .github/workflows/uts.yml
  .golangci.yml
  Makefile
  pkg/e2etests/e2e_utils.go
  pkg/e2etests/metrics_e2e_test.go
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

added queries for cicd
  cicd/metrics_test.csv
Owners: @Macbeth98, @AndrewHess

Cpu and Memory Usage Graphs
  static/component/infrastructure/usage-line-chart-component.js
  static/js/kubernetes-overview.js
  static/js/lib/chartjs-plugin-annotation.min.js
  static/kubernetes-overview.html
Owners: @sunitakawane, @sonamgupta21

Few Fixes
  static/component/infrastructure/usage-indicator-component.js
  static/js/kubernetes-view.js
Owners: @sunitakawane, @sonamgupta21

Timerange Fix
  static/component/infrastructure/header-component.js
  static/kubernetes-overview.html
Owners: @sunitakawane, @sonamgupta21

ES Lint Fix
  eslint.config.mjs
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Fix number of cluster query
  static/component/infrastructure/big-number-card-component.js
Owners: @sunitakawane, @sonamgupta21

Cleanup
  static/component/infrastructure/header-component.js
Owners: @sunitakawane, @sonamgupta21

Add support for OTEL Metrics
  pkg/grpc/grpc.go
  pkg/otlp/metrics.go
  pkg/server/ingest/entryHandlers.go
  pkg/server/ingest/server.go
Owners: @Macbeth98, @AndrewHess

Initial code
  pkg/otlp/metrics.go
  pkg/server/ingest/entryHandlers.go
  pkg/server/ingest/server.go
Owners: @Macbeth98, @AndrewHess

added a check for assertions
  pkg/integrations/prometheus/promql/parser.go
Owners: @Macbeth98, @AndrewHess

refac: enum var names, used compile instead of must compile for regex
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
  pkg/segment/utils/segconsts.go
Owners: @Macbeth98, @AndrewHess

Infrastructure UI (#2197)
  eslint.config.mjs
  static/assets/infrastructure-active.svg
  static/assets/infrastructure-inactive.svg
  static/assets/kubernetes.png
  static/component/infrastructure/big-number-card-component.js
  static/component/infrastructure/breadcrumb-component.js
  static/component/infrastructure/configuration-page-component.js
  static/component/infrastructure/container-image-card-component.js
  static/component/infrastructure/header-component.js
  static/component/infrastructure/search-dropdown-component.js
  static/component/infrastructure/usage-indicator-component.js
  static/component/infrastructure/usage-line-chart-component.js
  static/css/dashboard.css
  static/css/metrics-explorer.css
  static/css/siglens.css
  static/dashboard.html
  static/folder.html
  static/infrastructure.html
  static/js/kubernetes-overview.js
  static/js/kubernetes-view.js
  static/js/lib/chartjs-plugin-annotation.min.js
  static/js/navbar.js
  static/kubernetes-overview.html
  static/kubernetes-view.html
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

removed rawRegex field from label function
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/results/mresults/seriesresult_test.go
  pkg/segment/structs/metricsstructs.go
  pkg/utils/gobutils.go
Owners: @Macbeth98, @AndrewHess

Implement PromQL Label_replace function (#2185)
  cicd/metrics_test.csv
  pkg/e2etests/metrics_e2e_test.go
  pkg/integrations/prometheus/promql/parser.go
  pkg/integrations/prometheus/promql/parser_test.go
  pkg/segment/aggregations/segaggs.go
  pkg/segment/query/processor/rexcommand.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
  pkg/segment/structs/evaluationstructs.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/utils/segconsts.go
  pkg/utils/gobutils.go
Owners: @Macbeth98, @AndrewHess

refac: test cases and extracted common functionality
  pkg/segment/query/metadata/metamocks.go
  pkg/segment/query/segquery_test.go
Owners: @Macbeth98, @AndrewHess

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

refac: use existing function
  pkg/segment/query/metadata/metamocks.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2204)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump version to 1.0.21d
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump Version to 1.0.21d (#2206)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Check if timechart query should run
  pkg/ast/pipesearch/addTimechart_test.go
  pkg/segment/structs/segstructs.go
Owners: @Macbeth98, @AndrewHess

Added tests for the InitSyncSegmeta function (#2194)
  pkg/segment/query/metadata/metamocks.go
  pkg/segment/query/metadatafilter_test.go
  pkg/segment/query/segquery.go
  pkg/segment/query/segquery_test.go
  pkg/segment/reader/record/rrcreader_test.go
  pkg/segment/segexecution_test.go
  pkg/segment/segexecutionsort_test.go
  pkg/segment/writer/packer.go
  pkg/segment/writer/segstore.go
  pkg/segment/writer/segwriter.go
Owners: @Macbeth98, @AndrewHess

Done some minor changes
  pkg/alerts/alertutils/alertutils.go
Owners: @Macbeth98, @AndrewHess

Added a switch case for APM parameters inside validateAlertTypeAndQuery Function
  pkg/alerts/alertsHandler/alertsHandler.go
Owners: @Macbeth98, @AndrewHess

Added a switch case for APM parameters inside GetContactDetails Function
  pkg/alerts/alertsqlite/alerts_sqlite.go
Owners: @Macbeth98, @AndrewHess

`Added new functionality for parsing and processing RED metrics requests in the RedMetrics handler.`
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

Use ChartJS for Logs Bar Chart
  static/js/alert.js
Owners: @sunitakawane, @sonamgupta21

Added Threshold Line to Logs Alert
  static/js/alert.js
Owners: @sunitakawane, @sonamgupta21

Padding
  static/alert.html
  static/css/siglens.css
Owners: @sonamgupta21

Update functions name
  static/js/alert.js
Owners: @sunitakawane, @sonamgupta21
