Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Once installed go binary should be available on path. No need to specify path
  tools/cb_post/benchmark.sh
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Updated readme text and formatting
  tools/cb_post/README.md
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Metrics Names Dropdown Lagging Fix
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Fix: for refresh
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Cleanup
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Fix Lint
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Fix Performance Issues with Metrics Name Dropdown (#2316)
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2317)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2320)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2323)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update README.md
  README.md
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

tidy
  pkg/segment/reader/metrics/tagstree/tagstree_test.go
Owners: @Macbeth98, @AndrewHess

Addressing review comment to add requested clarifications
  tools/cb_post/README.md
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Crosshair Functionality implementation
  static/js/metrics-explorer.js
  static/metrics-explorer.html
Owners: @sunitakawane, @sonamgupta21

Added a human readable format for total unique series count
  static/js/metrics-cardinality.js
Owners: @sunitakawane, @sonamgupta21

Added a human readable format for total unique series count (#2325)
  static/js/metrics-cardinality.js
Owners: @sunitakawane, @sonamgupta21

Added cross hairline for x-axis
  static/js/metrics-explorer.js
  static/metrics-explorer.html
Owners: @sunitakawane, @sonamgupta21

Custom Legends Metrics Graph
  static/css/metrics-explorer.css
  static/js/metrics-explorer.js
Owners: @sonamgupta21, @sunitakawane

Fix Alert and Dashboard Screens Graph
  static/alert.html
  static/css/metrics-explorer.css
  static/js/metrics-explorer.js
Owners: @sonamgupta21, @sunitakawane

Expandable Raw Query Input for Metrics
  static/css/dashboard.css
  static/css/metrics-explorer.css
  static/js/metrics-explorer.js
Owners: @sonamgupta21, @sunitakawane

Fix: Updated the Copy Icon In JSON Popup
  static/css/siglens.css
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

Expandable Raw Query Input for Metrics (#2328)
  static/css/dashboard.css
  static/css/metrics-explorer.css
  static/js/metrics-explorer.js
Owners: @sonamgupta21, @sunitakawane

Fix: Updated the Copy Icon In JSON Popup (#2329)
  static/css/siglens.css
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

Fix: Scrollable Legends with Improved Selection Behavior for Metrics Graph (#2327)
  static/alert.html
  static/css/metrics-explorer.css
  static/js/metrics-explorer.js
Owners: @sonamgupta21, @sunitakawane

ClickBench benchmark script updates, and results run against SigLens 1.0.25 release (#2315)
  tools/cb_post/README.md
  tools/cb_post/benchmark.sh
  tools/cb_post/queries.spl
  tools/cb_post/result.csv
  tools/cb_post/results/c6a.4xlarge.json
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Start integrating into our query handling
  pkg/integrations/prometheus/promql/parser.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/utils/segconsts.go
Owners: @Macbeth98, @AndrewHess

Added a cross hairline across both x and y axis
  static/js/metrics-explorer.js
  static/metrics-explorer.html
Owners: @sunitakawane, @sonamgupta21

added comments for test and added validation to ensure rate functions are sent
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
Owners: @Macbeth98, @AndrewHess

remove unused code
  pkg/segment/writer/segstore.go
  pkg/usageStats/compressedstats.go
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

Add basic validator framework
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

fix: PromQL rate and increase implementation (#2313)
  cicd/metrics_test.csv
  pkg/segment/results/mresults/seriesresult.go
  pkg/segment/results/mresults/seriesresult_test.go
Owners: @Macbeth98, @AndrewHess

Service Health Graph
  static/js/service-health-overview.js
Owners: @sunitakawane, @sonamgupta21

integrated histogram function with the query flow
  pkg/integrations/prometheus/promql/parser.go
  pkg/segment/query/metricsquery.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

test: added tests for histogram quantile functions
  pkg/segment/results/mresults/metricresults_test.go
Owners: @Macbeth98, @AndrewHess

test: added tests for histogram quantile parser
  pkg/integrations/prometheus/promql/parser_test.go
Owners: @Macbeth98, @AndrewHess

Cluster Stats Screen
  static/js/cluster-stats.js
Owners: @sunitakawane, @sonamgupta21

Changed the class-based to function-based approach
  static/js/common.js
  static/js/log-search.js
Owners: @sunitakawane, @sonamgupta21
