Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Bump version to 1.0.19 (#2167)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Require exactly one measure agg for log alerts (#2166)
  pkg/alerts/alertsHandler/alert_test.go
  pkg/alerts/alertsHandler/alertsHandler.go
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/structs/segstructs.go
  pkg/segment/structs/segstructs_test.go
Owners: @Macbeth98, @AndrewHess

Bump version to 1.0.20d
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump version to 1.0.20d (#2169)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

moved the custom query builder at top
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
Owners: @sonamgupta21

Increase font-size for Ag-grid
  static/css/siglens.css
Owners: @sonamgupta21

Increase font-size for Ag-grid (#2171)
  static/css/siglens.css
Owners: @sonamgupta21

Made suggested changes
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

Removed adding unnecessary function from this PR
  pkg/segment/tracing/handler/tracehandler.go
  pkg/server/query/entryHandlers.go
Owners: @Macbeth98, @AndrewHess

Ignore NaN and +-Inf metric values
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/integrations/prometheus/ingest/putmetrics_test.go
Owners: @Macbeth98, @AndrewHess

Generate Gantt Chart by SpanID (#2160)
  API_README.md
  pkg/segment/tracing/handler/tracehandler.go
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Moved the custom query builder elements at top
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
Owners: @sonamgupta21

Allow alerting on negative/non-integer thresholds
  static/alert.html
Owners: @sonamgupta21

Ignore NaN and +-Inf metric values (#2172)
  pkg/integrations/prometheus/ingest/putmetrics.go
  pkg/integrations/prometheus/ingest/putmetrics_test.go
Owners: @Macbeth98, @AndrewHess

Returns error if parsing a metric expression fails
  pkg/integrations/prometheus/promql/parser.go
Owners: @Macbeth98, @AndrewHess

Returns error if parsing a metric expression fails (#2175)
  pkg/integrations/prometheus/promql/parser.go
Owners: @Macbeth98, @AndrewHess

Allow alerting on negative/non-integer thresholds (#2174)
  static/alert.html
Owners: @sonamgupta21

Extract helper function
  pkg/alerts/alertsqlite/alerts_sqlite.go
Owners: @Macbeth98, @AndrewHess

Test the template rendering function
  pkg/alerts/alertsqlite/alerts_sqlite.go
  pkg/alerts/alertsqlite/alerts_sqlite_test.go
Owners: @Macbeth98, @AndrewHess

Refactor
  pkg/alerts/alertsqlite/alerts_sqlite.go
Owners: @Macbeth98, @AndrewHess

Test no substitutions
  pkg/alerts/alertsqlite/alerts_sqlite_test.go
Owners: @Macbeth98, @AndrewHess

Refactor tests
  pkg/alerts/alertsqlite/alerts_sqlite_test.go
Owners: @Macbeth98, @AndrewHess

Decode the base64 query text
  pkg/alerts/alertsqlite/alerts_sqlite.go
Owners: @Macbeth98, @AndrewHess

Fix bug with query text in alert message (#2176)
  pkg/alerts/alertsqlite/alerts_sqlite.go
  pkg/alerts/alertsqlite/alerts_sqlite_test.go
Owners: @Macbeth98, @AndrewHess

Handle metric alert message templating
  pkg/alerts/alertsqlite/alerts_sqlite.go
Owners: @Macbeth98, @AndrewHess

Handle metric alert message templating (#2177)
  pkg/alerts/alertsqlite/alerts_sqlite.go
Owners: @Macbeth98, @AndrewHess

fix: regex tag filtering
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

fix: issue with metric name being replaced
  pkg/e2etests/metrics_e2e_test.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/metricresults_test.go
Owners: @Macbeth98, @AndrewHess

fix: issue with regex on metric and regex on tag filters query
  pkg/e2etests/metrics_e2e_test.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
Owners: @Macbeth98, @AndrewHess

added negative regex tag filtering test case
  pkg/e2etests/metrics_e2e_test.go
Owners: @Macbeth98, @AndrewHess

Send correct status for webhook
  pkg/alerts/alertsHandler/notificationHandler.go
Owners: @Macbeth98, @AndrewHess

Send correct status for webhook (#2179)
  pkg/alerts/alertsHandler/notificationHandler.go
Owners: @Macbeth98, @AndrewHess

added SumSq in segstatsheader
  pkg/segment/reader/segread/segstatsreader.go
Owners: @Macbeth98, @AndrewHess

made metric query box input box expandable
  static/css/metrics-explorer.css
  static/css/query-builder.css
  static/js/common.js
  static/js/metrics-explorer.js
Owners: @sonamgupta21, @sunitakawane

removed commented code
  static/css/query-builder.css
Owners: @sonamgupta21

Handle empty indexName, add error logging, and set default value
  pkg/ast/pipesearch/searchHandler.go
Owners: @Macbeth98, @AndrewHess

Removed commented code
  static/css/metrics-explorer.css
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

code review changes
  static/css/query-builder.css
  static/css/siglens.css
Owners: @sonamgupta21

Fix metrics regex queries (#2178)
  pkg/e2etests/metrics_e2e_test.go
  pkg/segment/reader/metrics/tagstree/tagstreereader.go
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/metricresults_test.go
Owners: @Macbeth98, @AndrewHess

Removed width for custom query bulder boxes
  static/css/query-builder.css
Owners: @sonamgupta21
