Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Fixed playwright
  playwright-tests/tests/test-data.test.js
  static/js/test-data.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  playwright-tests/tests/test-data.test.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  playwright-tests/tests/test-data.test.js
  static/test-data.html
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  playwright-tests/tests/test-data.test.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  playwright-tests/tests/test-data.test.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  playwright-tests/tests/test-data.test.js
Owners: @sunitakawane, @sonamgupta21

Fix: Saved Query Retrieval
  static/js/saved-query.js
  static/js/search.js
Owners: @sunitakawane, @sonamgupta21

Fix: Saved Query Retrieval (#2468)
  static/js/saved-query.js
  static/js/search.js
Owners: @sunitakawane, @sonamgupta21

Big Number updates on query change
  static/js/dashboard-charts.js
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Big Number is updated on a query change
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

removed unnecessary comments
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Fixed eslint
  static/js/dashboard-charts.js
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

removel of some UI for cluster stats
  static/cluster-stats.html
  static/js/cluster-stats.js
Owners: @sonamgupta21, @sunitakawane

Changed year in footer
  static/alert-details.html
  static/alert.html
  static/all-alerts.html
  static/all-slos.html
  static/application-version.html
  static/cluster-stats.html
  static/contacts.html
  static/dashboard.html
  static/dashboards-home.html
  static/dependency-graph.html
  static/diagnostics.html
  static/feedback.html
  static/folder.html
  static/index.html
  static/infrastructure.html
  static/js/footer.js
  static/kubernetes-overview.html
  static/kubernetes-view.html
  static/lookups.html
  static/metric-cardinality.html
  static/metric-summary.html
  static/metrics-explorer.html
  static/metrics-ingestion.html
  static/minion-searches.html
  static/org-settings.html
  static/pqs-settings.html
  static/query-stats.html
  static/saved-queries.html
  static/search-traces.html
  static/service-health-overview.html
  static/service-health.html
  static/test-data.html
  static/trace.html
  static/traces-ingestion.html
  static/usage-stats.html
Owners: @sonamgupta21, @sunitakawane

Fix potential panic from bad data
  pkg/segment/reader/segread/timereader.go
Owners: @Macbeth98, @AndrewHess

Fix potential panic from bad data (#2472)
  pkg/segment/reader/segread/timereader.go
Owners: @Macbeth98, @AndrewHess

Changed year in footer (#2471)
  static/alert-details.html
  static/alert.html
  static/all-alerts.html
  static/all-slos.html
  static/application-version.html
  static/cluster-stats.html
  static/contacts.html
  static/dashboard.html
  static/dashboards-home.html
  static/dependency-graph.html
  static/diagnostics.html
  static/feedback.html
  static/folder.html
  static/index.html
  static/infrastructure.html
  static/js/footer.js
  static/kubernetes-overview.html
  static/kubernetes-view.html
  static/lookups.html
  static/metric-cardinality.html
  static/metric-summary.html
  static/metrics-explorer.html
  static/metrics-ingestion.html
  static/minion-searches.html
  static/org-settings.html
  static/pqs-settings.html
  static/query-stats.html
  static/saved-queries.html
  static/search-traces.html
  static/service-health-overview.html
  static/service-health.html
  static/test-data.html
  static/trace.html
  static/traces-ingestion.html
  static/usage-stats.html
Owners: @sonamgupta21, @sunitakawane

UI: Fix chart point hover effects
  static/js/usage-stats.js
Owners: @sunitakawane, @sonamgupta21

nit
  static/js/usage-stats.js
Owners: @sunitakawane, @sonamgupta21

Fixed the issue
  playwright-tests/tests/navbar-2.test.js
  static/css/siglens.css
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  playwright-tests/tests/navbar-2.test.js
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Added breadcrumbs and url param
  static/js/test-data.js
  static/metrics-ingestion.html
  static/test-data.html
  static/traces-ingestion.html
Owners: @sunitakawane, @sonamgupta21

Changed playwright tests
  playwright-tests/tests/test-data.test.js
Owners: @sunitakawane, @sonamgupta21

Made some changes
  playwright-tests/tests/navbar-2.test.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  playwright-tests/tests/test-data.test.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  playwright-tests/tests/test-data.test.js
Owners: @sunitakawane, @sonamgupta21

UI: Fix chart point hover effects (#2473)
  static/js/usage-stats.js
Owners: @sunitakawane, @sonamgupta21

Removed date picker and fixed playwright
  playwright-tests/tests/cluster-stats.test.js
  static/cluster-stats.html
  static/css/siglens.css
  static/js/cluster-stats.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  playwright-tests/tests/navbar-2.test.js
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  package-lock.json
  package.json
  playwright-tests/tests/navbar-2.test.js
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Little change related to hover
  static/css/siglens.css
Owners: @sonamgupta21

fix: metric instant query for range vector queries
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/seriesresult.go
  pkg/utils/dateutils.go
Owners: @Macbeth98, @AndrewHess

Addressed the comments
  static/js/cluster-stats.js
Owners: @sunitakawane, @sonamgupta21

removal of some UI for cluster stats (#2470)
  playwright-tests/tests/cluster-stats.test.js
  static/cluster-stats.html
  static/css/siglens.css
  static/js/cluster-stats.js
Owners: @sunitakawane, @sonamgupta21

Rename variable
  pkg/segment/reader/segread/segreader/segreader.go
Owners: @Macbeth98, @AndrewHess

Add checks to prevent nil dereference
  pkg/segment/reader/segread/segreader/segreader.go
Owners: @Macbeth98, @AndrewHess

Tidy function comment
  pkg/segment/reader/segread/segreader/segreader.go
Owners: @Macbeth98, @AndrewHess

Addressed the comments
  static/js/dependency-graph.js
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

Prevent nil dereference (#2475)
  pkg/segment/reader/segread/segreader/segreader.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
