Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

fix: issue with colvalue=* type command
  pkg/segment/structs/segsearchstructs.go
Owners: @Macbeth98, @AndrewHess

Tls cert reload fix (#2235)
  pkg/server/certreloader.go
  pkg/utils/eventutils.go
  pkg/utils/eventutils_test.go
Owners: @Macbeth98, @AndrewHess

Remove redundant tests
  pkg/segment/segexecution_test.go
Owners: @Macbeth98, @AndrewHess

Delete test using old function
  pkg/segment/segexecution_test.go
Owners: @Macbeth98, @AndrewHess

Add support for OTEL Metrics.
  pkg/otlp/metrics.go
  pkg/otlp/metrics_test.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Add support for OTEL Metrics.
  pkg/otlp/metrics_test.go
Owners: @Macbeth98, @AndrewHess

Added Lucide Icon Library
  static/js/lib/lucide.min.js
  static/js/lib/lucide.min.js.map
Owners: @sunitakawane, @sonamgupta21, @nkunal, @AndrewHess

Added Alert Cards
  static/all-alerts.html
  static/css/siglens.css
  static/js/all-alerts.js
Owners: @sonamgupta21, @sunitakawane

Fix Playwright Tests
  playwright-tests/tests/alert-logs.test.js
  playwright-tests/tests/alert-metrics.test.js
Owners: @sunitakawane, @sonamgupta21

github actions: style: format files
  static/js/all-alerts.js
Owners: @sunitakawane, @sonamgupta21

K8 card
  static/css/siglens.css
Owners: @sonamgupta21

ESlint Fix
  static/js/alert.js
  static/js/all-alerts.js
Owners: @sunitakawane, @sonamgupta21

Fix K8 overview Charts
  static/component/infrastructure/container-image-card-component.js
  static/component/infrastructure/usage-line-chart-component.js
  static/css/dashboard.css
  static/css/metrics-explorer.css
  static/css/siglens.css
  static/js/kubernetes-overview.js
Owners: @sunitakawane, @sonamgupta21

Remove redundant tests (#2241)
  pkg/segment/segexecution_test.go
Owners: @Macbeth98, @AndrewHess

Revert "ReadBlockSummaries continues on a segment error instead of returning …"
  pkg/segment/reader/microreader/microreader.go
Owners: @Macbeth98, @AndrewHess

Alert UI Enhancements (#2232)
  playwright-tests/tests/alert-logs.test.js
  playwright-tests/tests/alert-metrics.test.js
  static/alert-details.html
  static/alert.html
  static/all-alerts.html
  static/cluster-stats.html
  static/css/query-builder.css
  static/css/siglens.css
  static/js/alert-details.js
  static/js/alert.js
  static/js/all-alerts.js
  static/js/dashboard-from-logs-metrics.js
  static/js/lib/lucide.min.js
  static/js/lib/lucide.min.js.map
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21, @nkunal, @AndrewHess

Added related trace button that shows up only when trace id key is present in json data (#2234)
  static/css/siglens.css
  static/js/common.js
  static/js/log-results-grid.js
  static/js/search-traces.js
Owners: @sonamgupta21, @sunitakawane

Add support for OTEL Metrics.
  pkg/otlp/metrics_test.go
Owners: @Macbeth98, @AndrewHess

github actions: style: format files
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Added timeframe selection for histogram and enhanced the UI
  static/index.html
  static/js/histo.js
Owners: @sonamgupta21, @sunitakawane

Revert "ReadBlockSummaries continues on a segment error instead of returning …" (#2243)
  pkg/segment/reader/microreader/microreader.go
Owners: @Macbeth98, @AndrewHess

Removed the metrics page and fixed the arrow issue
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Fix K8 overview Charts (#2242)
  static/component/infrastructure/container-image-card-component.js
  static/component/infrastructure/usage-line-chart-component.js
  static/css/dashboard.css
  static/css/metrics-explorer.css
  static/css/siglens.css
  static/js/kubernetes-overview.js
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

disable js format commit changes (#2237)
  .github/workflows/jsformat.yml
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Changed the separator used to separate column and index names
  pkg/health/clusterStatsHandler.go
Owners: @Macbeth98, @AndrewHess

check if the record has k8s events and set index as k8s_events_index
  pkg/otlp/logs.go
  pkg/otlp/logs_test.go
Owners: @Macbeth98, @AndrewHess

UI: Added K8 Events Tab
  static/component/infrastructure/header-component.js
  static/js/kubernetes-view.js
  static/kubernetes-view.html
Owners: @sunitakawane, @sonamgupta21

manage multi index in otlp logs ingestion
  pkg/otlp/logs.go
  pkg/otlp/logs_test.go
Owners: @Macbeth98, @AndrewHess

Fix cluster stats column count in myorg page (#2215)
  pkg/health/clusterStatsHandler.go
Owners: @Macbeth98, @AndrewHess

fix tests and add some comments
  pkg/otlp/logs.go
  pkg/otlp/logs_test.go
Owners: @Macbeth98, @AndrewHess

go mod tidy update
  go.mod
  go.sum
Owners: @Macbeth98, @AndrewHess

Revert "github actions: style: format files"
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Change the default disk threshold and cleanup eviction (#2231)
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/hooks/hooks.go
  pkg/server/ingest/entryHandlers.go
Owners: @Macbeth98, @AndrewHess

JSON Popup
  eslint.config.mjs
  static/css/siglens.css
  static/js/common.js
  static/js/kubernetes-view.js
  static/js/log-results-grid.js
  static/kubernetes-view.html
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

UI: Added K8 Events Tab (#2245)
  eslint.config.mjs
  static/component/infrastructure/header-component.js
  static/css/siglens.css
  static/js/common.js
  static/js/kubernetes-view.js
  static/js/log-results-grid.js
  static/kubernetes-view.html
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Updated Index Name
  static/js/kubernetes-view.js
Owners: @sunitakawane, @sonamgupta21

change the index name
  pkg/otlp/logs.go
Owners: @Macbeth98, @AndrewHess

Updated Index Name (#2246)
  static/js/kubernetes-view.js
Owners: @sunitakawane, @sonamgupta21

K8s events index (#2244)
  go.mod
  go.sum
  pkg/otlp/logs.go
  pkg/otlp/logs_test.go
Owners: @Macbeth98, @AndrewHess

Not empty/Null search (#2240)
  pkg/segment/structs/evaluationstructs.go
  pkg/segment/structs/segsearchstructs.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
