Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Fixed linting error
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

added a new param to handleRelatedTraces function
  static/js/common.js
  static/js/log-results-grid.js
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

fixed varibale name
  static/js/common.js
Owners: @sunitakawane, @sonamgupta21

Add support for OTLP Metrics
  pkg/otlp/metrics.go
Owners: @Macbeth98, @AndrewHess

Add support for OTLP Metrics
  pkg/otlp/metrics.go
Owners: @Macbeth98, @AndrewHess

fix: config test
  pkg/config/config_test.go
Owners: @Macbeth98, @AndrewHess

Code review changes
  static/js/common.js
  static/js/log-results-grid.js
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

Checks if certification files have changed every x seconds
  pkg/server/certreloader.go
  pkg/utils/eventutils.go
Owners: @Macbeth98, @AndrewHess

Returns error if ds == nil
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Add support for OTLP Metrics
  pkg/otlp/metrics.go
Owners: @Macbeth98, @AndrewHess

github actions: style: format files
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Cleaned up code
  pkg/server/certreloader.go
  pkg/utils/eventutils.go
Owners: @Macbeth98, @AndrewHess

Fixed all issues of metrics submenu
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Modified test cases for detecting file changes
  pkg/utils/eventutils_test.go
Owners: @Macbeth98, @AndrewHess

Modified error message to add function name
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

github actions: style: format files
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Logs an error if ReadBlockSummaries encounters an error in a segment, but continues execution and does not return error
  pkg/segment/reader/microreader/microreader.go
Owners: @Macbeth98, @AndrewHess

Refactor navigation bar design
  static/assets/caret-down-icon-active.svg
  static/assets/caret-down-icon-inactive.svg
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Fixed error in multiple queries not executing properly (#2195)
  cicd/metrics_test.csv
  pkg/segment/results/mresults/metricresults.go
  static/js/log-results-grid.js
Owners: @Macbeth98, @AndrewHess, @sunitakawane, @sonamgupta21

disable js format commit changes
  .github/workflows/jsformat.yml
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

github actions: style: format files
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Undo format changes from github bot
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

github actions: style: format files
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Undo github bot formatting
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Undo bot formatting
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Removed extra argument
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Removed default DBS
  defaultDBs/allids.json
  defaultDBs/details/10329b95-47a8-48df-8b1d-0a0a01ec6c42.json
  defaultDBs/details/53cb3dde-fd78-4253-808c-18e4077ef0f1.json
  defaultDBs/details/a28f485c-4747-4024-bb6b-d230f101f852.json
  defaultDBs/details/bd74f11e-26c8-4827-bf65-c0b464e1f2a4.json
  defaultDBs/folder_structure.json
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Restored allids.json and folder_structure.json
  defaultDBs/allids.json
  defaultDBs/folder_structure.json
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Remove dead code
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
Owners: @Macbeth98, @AndrewHess

Remove more dead code
  pkg/integrations/loki/foreign/gogo.proto
  pkg/integrations/loki/foreign/timestamp.proto
  pkg/integrations/loki/log.proto
  pkg/integrations/loki/log/logproto.pb.go
  pkg/integrations/loki/log/push.pb.go
  pkg/integrations/loki/log/stats.pb.go
  pkg/integrations/loki/logproto.proto
  pkg/integrations/loki/loki.go
  pkg/integrations/loki/lokistructs.go
  pkg/integrations/loki/push.proto
  pkg/integrations/loki/stats.proto
Owners: @Macbeth98, @AndrewHess

Removed default dashboard test
  playwright-tests/tests/dashboards-home-1.test.js
Owners: @sunitakawane, @sonamgupta21

Do more cleanup
  pkg/server/ingest/entryHandlers.go
  pkg/server/ingest/server.go
Owners: @Macbeth98, @AndrewHess

Update documentation
  README.md
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Revert some changes
  README.md
  pkg/server/ingest/entryHandlers.go
  pkg/server/ingest/server.go
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Fix compilation
  pkg/integrations/loki/foreign/gogo.proto
  pkg/integrations/loki/foreign/timestamp.proto
  pkg/integrations/loki/log.proto
  pkg/integrations/loki/log/logproto.pb.go
  pkg/integrations/loki/log/push.pb.go
  pkg/integrations/loki/log/stats.pb.go
  pkg/integrations/loki/logproto.proto
  pkg/integrations/loki/loki.go
  pkg/integrations/loki/lokistructs.go
  pkg/integrations/loki/push.proto
  pkg/integrations/loki/stats.proto
Owners: @Macbeth98, @AndrewHess

Remove unused structs
  pkg/integrations/loki/loki.go
  pkg/integrations/loki/lokistructs.go
Owners: @Macbeth98, @AndrewHess

ReadBlockSummaries continues on a segment error instead of returning (#2236)
  pkg/segment/reader/microreader/microreader.go
Owners: @Macbeth98, @AndrewHess

Remove proto files
  pkg/integrations/loki/foreign/gogo.proto
  pkg/integrations/loki/foreign/timestamp.proto
  pkg/integrations/loki/log.proto
  pkg/integrations/loki/logproto.proto
  pkg/integrations/loki/push.proto
  pkg/integrations/loki/stats.proto
Owners: @Macbeth98, @AndrewHess

Cleanup dead code (#2239)
  README.md
  pkg/integrations/loki/foreign/gogo.proto
  pkg/integrations/loki/foreign/timestamp.proto
  pkg/integrations/loki/log.proto
  pkg/integrations/loki/logproto.proto
  pkg/integrations/loki/loki.go
  pkg/integrations/loki/lokistructs.go
  pkg/integrations/loki/push.proto
  pkg/integrations/loki/stats.proto
  pkg/server/query/entryHandlers.go
  pkg/server/query/server.go
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Fix: issue with isnotnull command
  pkg/segment/structs/evaluationstructs.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
