Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

removed comments
  static/css/siglens.css
  static/index.html
Owners: @sonamgupta21

Added tab buttons to switch between table and json view
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Addressed Comments & Added StartEpoch now-1h and endEpoch now
  static/js/common.js
  static/js/search-traces.js
  static/js/trace.js
Owners: @sunitakawane, @sonamgupta21

StartEpoch now-365days
  static/js/trace.js
Owners: @sunitakawane, @sonamgupta21

Fix time window for trace view (#2214)
  static/js/common.js
  static/js/search-traces.js
  static/js/trace.js
Owners: @sunitakawane, @sonamgupta21

minor css fixes
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Task 2- added histofram for logs
  static/index.html
  static/js/histo.js
Owners: @sonamgupta21, @sunitakawane

UI: Improve resizing on panels on gantt chart
  static/css/tracing.css
Owners: @sonamgupta21

UI: Improve resizing on panels on gantt chart (#2218)
  static/css/tracing.css
Owners: @sonamgupta21

Passed all the test cases for ParseRedMetricsRequest() in trancehandler_test.go Minor changes in other files
  pkg/alerts/alertsHandler/cronJobHandler.go
  pkg/alerts/alertsqlite/alerts_sqlite.go
  pkg/segment/tracing/handler/tracehandler.go
  pkg/segment/tracing/handler/tracehandler_test.go
  tools/sigclient/pkg/alerts/alerts.go
Owners: @Macbeth98, @AndrewHess

github actions: style: format files
  static/js/event-handlers.js
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

metrics log ingestion basic framework
  pkg/otlp/metrics.go
Owners: @Macbeth98, @AndrewHess

Add test case for extractLogRecord based on KvlistValueType
  pkg/otlp/logs_test.go
Owners: @Macbeth98, @AndrewHess

OTLP Logs Ingestion: Handle KvlistValue Type (#2212)
  pkg/otlp/logs_test.go
  pkg/otlp/utils.go
Owners: @Macbeth98, @AndrewHess

Handle timeout, cancel, etc.
  pkg/ast/pipesearch/searchHandler.go
Owners: @Macbeth98, @AndrewHess

Remove unnecessary indirection
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer_test.go
  pkg/segment/structs/resultStructs.go
Owners: @Macbeth98, @AndrewHess

Update comment
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
Owners: @Macbeth98, @AndrewHess

Add flag for whether to run timechart
  pkg/ast/pipesearch/searchHandler.go
  pkg/ast/pipesearch/searchHandler_test.go
  pkg/ast/pipesearch/wsSearchHandler.go
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

Code review changes
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

fixed linting error
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Update version.go (#2220)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Task 2- added histofram for logs
  static/css/siglens.css
  static/index.html
  static/js/histo.js
Owners: @sonamgupta21, @sunitakawane

github actions: style: format files
  static/js/histo.js
Owners: @sunitakawane, @sonamgupta21

fixed dark theme issue
  static/css/siglens.css
Owners: @sonamgupta21

Fix bug reading suffix from empty file
  pkg/segment/writer/suffix/suffix.go
  pkg/segment/writer/suffix/suffix_test.go
Owners: @Macbeth98, @AndrewHess

Start at 1000 when file is empty
  pkg/segment/writer/suffix/suffix.go
  pkg/segment/writer/suffix/suffix_test.go
Owners: @Macbeth98, @AndrewHess

Fix bug reading suffix from empty file (#2223)
  pkg/segment/writer/suffix/suffix.go
  pkg/segment/writer/suffix/suffix_test.go
Owners: @Macbeth98, @AndrewHess

Atomically update the suffix file
  pkg/segment/writer/suffix/suffix.go
Owners: @Macbeth98, @AndrewHess

Start at 0 for empty file
  pkg/segment/writer/suffix/suffix.go
  pkg/segment/writer/suffix/suffix_test.go
Owners: @Macbeth98, @AndrewHess

Add warning when file is empty
  pkg/segment/writer/suffix/suffix.go
Owners: @Macbeth98, @AndrewHess

Remove stale TODO
  pkg/segment/writer/suffix/suffix.go
Owners: @Macbeth98, @AndrewHess

Atomically update suffix files (#2224)
  pkg/segment/writer/suffix/suffix.go
  pkg/segment/writer/suffix/suffix_test.go
Owners: @Macbeth98, @AndrewHess

Verify BSU content to avoid panic
  pkg/segment/reader/microreader/microreader.go
Owners: @Macbeth98, @AndrewHess

Verify BSU content to avoid panic (#2225)
  pkg/segment/reader/microreader/microreader.go
Owners: @Macbeth98, @AndrewHess

Update version.go
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Update version.go (#2226)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Add test for truncating
  pkg/utils/fileutils_test.go
Owners: @Macbeth98, @AndrewHess

Add util to atomically write a file
  pkg/utils/fileutils.go
Owners: @Macbeth98, @AndrewHess

Add test for append
  pkg/utils/fileutils_test.go
Owners: @Macbeth98, @AndrewHess

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
