Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

Verify invalid mode doesn't corrupt the file
  pkg/utils/fileutils_test.go
Owners: @Macbeth98, @AndrewHess

css fix
  static/css/siglens.css
Owners: @sonamgupta21

Bump to 1.0.23d
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.23d (#2229)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Send correct state name
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer_test.go
Owners: @Macbeth98, @AndrewHess

Add util for atomically writing files (#2228)
  pkg/utils/fileutils.go
  pkg/utils/fileutils_test.go
Owners: @Macbeth98, @AndrewHess

Handle single channel with non-websocket query
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
Owners: @Macbeth98, @AndrewHess

Add test for one channel on non-websocket query
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer_test.go
Owners: @Macbeth98, @AndrewHess

Change the default disk threshold and cleanup eviction
  pkg/config/config.go
  pkg/hooks/hooks.go
  pkg/server/ingest/entryHandlers.go
Owners: @Macbeth98, @AndrewHess

Add backend for automatic timechart query (#2230)
  pkg/ast/pipesearch/addTimechart_test.go
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer.go
  pkg/ast/pipesearch/multiplexer/queryStateMultiplexer_test.go
  pkg/ast/pipesearch/searchHandler.go
  pkg/ast/pipesearch/searchHandler_test.go
  pkg/ast/pipesearch/wsSearchHandler.go
  pkg/segment/segexecution.go
  pkg/segment/structs/resultStructs.go
  pkg/segment/structs/segstructs.go
  pkg/segment/tracing/handler/tracehandler.go
Owners: @Macbeth98, @AndrewHess

Add support for OTLP Metrics
  pkg/otlp/metrics.go
  pkg/segment/utils/segconsts.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/segwriter.go
  pkg/server/ingest/entryHandlers.go
  pkg/server/ingest/server.go
Owners: @Macbeth98, @AndrewHess

Made changes to count
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Cleaned up the code
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Fixed tests
  pkg/segment/results/mresults/metricresults.go
  pkg/segment/results/mresults/tests/metricsresults_test.go
Owners: @Macbeth98, @AndrewHess

Removed active class of submenus
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Logs Alert Creation, Edit and From Logs
  static/alert.html
  static/css/siglens.css
  static/js/alert-details.js
  static/js/alert.js
  static/js/dashboard-from-logs-metrics.js
Owners: @sonamgupta21, @sunitakawane

Fix Alert and Metrics Alert
  static/js/alert.js
Owners: @sunitakawane, @sonamgupta21

Cleanup
  static/css/siglens.css
  static/js/alert.js
Owners: @sonamgupta21, @sunitakawane

Handle SegStats and One groupBy Value
  static/js/alert.js
Owners: @sunitakawane, @sonamgupta21

Added Interval Functionality for histogram
  static/index.html
  static/js/histo.js
Owners: @sonamgupta21, @sunitakawane

Fix the Logs Chart
  static/alert.html
  static/css/siglens.css
  static/js/alert.js
Owners: @sonamgupta21, @sunitakawane

Made some changes
  static/index.html
  static/js/histo.js
Owners: @sonamgupta21, @sunitakawane

Set Auto interval default to day
  static/index.html
  static/js/histo.js
Owners: @sonamgupta21, @sunitakawane

Added tab buttons to switch between table and json view (#2216)
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Added Threshold For Metrics Graphs
  static/alert.html
  static/css/query-builder.css
  static/js/metrics-explorer.js
Owners: @sonamgupta21, @sunitakawane

github actions: style: format files
  static/js/alert-details.js
  static/js/alert.js
Owners: @sunitakawane, @sonamgupta21

fix: remove unwanted scrollbar in the save query dialog (#2198)
  static/css/siglens.css
Owners: @sonamgupta21

Fix some CSS
  static/alert.html
  static/cluster-stats.html
  static/css/siglens.css
Owners: @sonamgupta21

Fix History Table Scrolling Issue
  static/alert-details.html
  static/css/siglens.css
Owners: @sonamgupta21

nit
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

Fix ESLint
  static/js/metrics-explorer.js
Owners: @sunitakawane, @sonamgupta21

All aggregations that take entire time series use seriesEntriesMap instead of r.DsResults
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

Kept comments consistent
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

r.Results is cleared on topK or bottomK
  pkg/segment/results/mresults/metricresults.go
Owners: @Macbeth98, @AndrewHess

github actions: style: format files
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

github actions: style: format files
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Added conditional button for related trace
  static/css/siglens.css
  static/js/log-results-grid.js
Owners: @sonamgupta21, @sunitakawane

Added test to check that count works on a subquery
  cicd/metrics_test.csv
Owners: @Macbeth98, @AndrewHess

Added click handler for related trace button
  static/js/common.js
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21

Removed comments
  static/js/log-results-grid.js
Owners: @sunitakawane, @sonamgupta21
