Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

UI: Highlight the row when its JSON popup is open (#2455)
  static/css/query-builder.css
  static/css/siglens.css
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

Handle SIGUSR1 as a special shutdown signal (#2452)
  cmd/startup/startup.go
  pkg/hooks/hooks.go
Owners: @Macbeth98, @AndrewHess

Pagination Placement
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
Owners: @sonamgupta21

CSS Fix
  static/css/siglens.css
Owners: @sonamgupta21

UI: Pagination placement (#2456)
  static/css/query-builder.css
  static/css/siglens.css
  static/index.html
Owners: @sonamgupta21

Fix concurrency bug when storing errors
  pkg/segment/structs/segstructs.go
Owners: @Macbeth98, @AndrewHess

fixup
  pkg/segment/query/querystatus.go
  pkg/segment/structs/segstructs.go
Owners: @Macbeth98, @AndrewHess

Fix off-by-1 safety check
  pkg/segment/writer/unrotatedquery.go
Owners: @Macbeth98, @AndrewHess

Include qid in log message
  pkg/segment/writer/unrotatedquery.go
Owners: @Macbeth98, @AndrewHess

Fix off-by-1 safety check (#2458)
  pkg/segment/writer/unrotatedquery.go
Owners: @Macbeth98, @AndrewHess

Fix concurrency bug when storing errors (#2457)
  pkg/segment/query/querystatus.go
  pkg/segment/structs/segstructs.go
Owners: @Macbeth98, @AndrewHess

Check for bad data when reading block summaries
  pkg/segment/reader/microreader/microreader.go
Owners: @Macbeth98, @AndrewHess

Update log messages
  pkg/segment/reader/microreader/microreader.go
Owners: @Macbeth98, @AndrewHess

Check for bad data when reading block summaries (#2459)
  pkg/segment/reader/microreader/microreader.go
Owners: @Macbeth98, @AndrewHess

Make longevity test only select ASCII values
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
  tools/sigclient/pkg/utils/strings.go
  tools/sigclient/pkg/utils/strings_test.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.32
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.32 (#2461)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.33d
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Bump to 1.0.33d (#2463)
  pkg/config/version.go
Owners: @Macbeth98, @AndrewHess

Make longevity test only select ASCII values (#2460)
  tools/sigclient/pkg/query/queryvalidator.go
  tools/sigclient/pkg/query/queryvalidator_test.go
  tools/sigclient/pkg/utils/strings.go
  tools/sigclient/pkg/utils/strings_test.go
Owners: @Macbeth98, @AndrewHess

UI: Loading Indicator for Gantt Chart
  static/js/trace.js
Owners: @sunitakawane, @sonamgupta21

UI: Loading Indicator for Gantt Chart (#2464)
  static/js/trace.js
Owners: @sunitakawane, @sonamgupta21

UI: Added Loading Indicator for Metrics Cardinality Tables
  static/css/siglens.css
  static/js/metrics-cardinality.js
  static/metric-cardinality.html
Owners: @sonamgupta21, @sunitakawane

UI: Added Loading Indicator for Metrics Cardinality Tables (#2465)
  static/css/siglens.css
  static/js/metrics-cardinality.js
  static/metric-cardinality.html
Owners: @sonamgupta21, @sunitakawane

Made some changes
  static/css/siglens.css
  static/js/test-data.js
  static/metrics-ingestion.html
  static/test-data.html
  static/traces-ingestion.html
Owners: @sonamgupta21, @sunitakawane

Final changes with the manual clicking functionality for dropdowns
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Made some changes
  static/js/test-data.js
  static/metrics-ingestion.html
  static/traces-ingestion.html
Owners: @sunitakawane, @sonamgupta21

Made a small change
  playwright-tests/tests/navbar-2.test.js
Owners: @sunitakawane, @sonamgupta21

Implemented WAL support for metric names (#2442)
  cmd/startup/startup.go
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

Add test for many matches
  tools/sigclient/pkg/query/queryvalidator_test.go
Owners: @Macbeth98, @AndrewHess

Fix parsing float as uint
  tools/sigclient/pkg/utils/numbers_test.go
Owners: @Macbeth98, @AndrewHess

Fix longevity test validator parsing large numbers (#2466)
  tools/sigclient/pkg/query/queryvalidator_test.go
  tools/sigclient/pkg/utils/numbers_test.go
Owners: @Macbeth98, @AndrewHess

Ingestion tabs design changed to cards structure
  static/css/siglens.css
  static/js/test-data.js
  static/metrics-ingestion.html
  static/test-data.html
  static/trace.html
  static/traces-ingestion.html
  static/try.html
Owners: @sonamgupta21, @sunitakawane

Fixed submenus dependency on the breadcrumbs
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Made some changes
  static/js/test-data.js
  static/try.html
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  playwright-tests/tests/test-data.test.js
  static/js/test-data.js
  static/test-data.html
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Fixed an issue
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright
  playwright-tests/tests/test-data.test.js
  static/js/test-data.js
Owners: @sunitakawane, @sonamgupta21
