Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Added a flag to trace dropdown initialization so that we do not make duplicate calls
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

addressed the comment
  static/js/service-health-overview.js
Owners: @sunitakawane, @sonamgupta21

cleanup, fix eslint
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

Addressed comment
  static/js/service-health-overview.js
Owners: @sunitakawane, @sonamgupta21

UI Changes
  static/css/siglens.css
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

UI Changes (#2511)
  static/css/siglens.css
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

Reload functionality fixed (#2506)
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

custom range fix
  static/js/service-health-overview.js
Owners: @sunitakawane, @sonamgupta21

Fix nil pointer panic
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Fix nil pointer panic (#2512)
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

-Fix issue with incorrect bucket timestamps when custom time range is selected. -Updated backend to return timestamps in epoch format instead of formatted strings.
  pkg/health/clusterStatsHandler.go
  pkg/health/clusterStatsHandler_test.go
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

Remove the redundant extraction of org id. The org id is a parameter and caller's responsibility
  pkg/health/clusterStatsHandler.go
Owners: @Macbeth98, @AndrewHess

Remove the redundant extraction of org id. The org id is a parameter and caller's responsibility (#2514)
  pkg/health/clusterStatsHandler.go
Owners: @Macbeth98, @AndrewHess

-Converted pastXhours to startTs and endTs
  pkg/health/clusterStatsHandler.go
  pkg/health/clusterStatsHandler_test.go
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

-Fix issue with incorrect bucket timestamps (#2513)
  pkg/health/clusterStatsHandler.go
  pkg/health/clusterStatsHandler_test.go
  pkg/usageStats/stats.go
Owners: @Macbeth98, @AndrewHess

Add tool to easily check Prometheus query response
  tools/promtest/README.md
  tools/promtest/docker-compose.yaml
  tools/promtest/prometheus.yaml
  tools/promtest/server.py
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

Add tool to easily check Prometheus query response (#2515)
  tools/promtest/README.md
  tools/promtest/docker-compose.yaml
  tools/promtest/prometheus.yaml
  tools/promtest/server.py
Owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess

metrics: execution flow
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/metadata/tsmeta.go
  pkg/segment/query/metricsevaluator/evaluator.go
  pkg/segment/query/metricsevaluator/seriesstream.go
  pkg/segment/query/metricsquery.go
  pkg/segment/query/metricsquery_test.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Add SeriesId type for clarity
  pkg/segment/query/metricsevaluator/evaluator.go
Owners: @Macbeth98, @AndrewHess

Setup mocking and a instant query unit test
  pkg/e2etests/metrics_e2e_test.go
  pkg/segment/query/metricsevaluator/evaluator.go
  pkg/segment/query/metricsevaluator/mockreader.go
  pkg/segment/query/metricsevaluator/seriesstream.go
  pkg/segment/query/metricsquery.go
  pkg/segment/query/metricsquery_test.go
Owners: @Macbeth98, @AndrewHess

Make the test pass
  pkg/segment/query/metricsevaluator/seriesstream.go
  pkg/segment/query/metricsquery.go
  pkg/segment/query/metricsquery_test.go
Owners: @Macbeth98, @AndrewHess

Add more tests
  pkg/segment/query/metricsevaluator/mockreader.go
  pkg/segment/query/metricsevaluator/seriesstream.go
  pkg/segment/query/metricsquery.go
  pkg/segment/query/metricsquery_test.go
Owners: @Macbeth98, @AndrewHess

Delete unused code
  pkg/segment/query/metricsevaluator/seriesstream.go
Owners: @Macbeth98, @AndrewHess

Simplify fetching
  pkg/segment/query/metricsevaluator/evaluator.go
  pkg/segment/query/metricsevaluator/seriesstream.go
Owners: @Macbeth98, @AndrewHess

Cleanup
  pkg/segment/query/metricsevaluator/evaluator.go
  pkg/segment/query/metricsevaluator/mockreader.go
  pkg/segment/query/metricsevaluator/seriesstream.go
Owners: @Macbeth98, @AndrewHess

Rename verbose constant
  pkg/e2etests/metrics_e2e_test.go
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/query/metricsevaluator/evaluator.go
  pkg/segment/query/metricsevaluator/seriesstream.go
  pkg/segment/query/metricsquery.go
  pkg/segment/query/metricsquery_test.go
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

fixup
  pkg/segment/query/metricsevaluator/seriesstream.go
Owners: @Macbeth98, @AndrewHess

Delete dead code
  pkg/segment/query/metricsquery.go
  pkg/segment/query/metricsquery_test.go
Owners: @Macbeth98, @AndrewHess

Cleanup
  pkg/segment/query/metricsquery.go
Owners: @Macbeth98, @AndrewHess

Add check to not remove empty column if query index is races/service-dependency/red-traces (#2518)
  pkg/ast/pipesearch/searchQueryParser.go
  pkg/segment/query/segquery.go
  pkg/segment/structs/segstructs.go
Owners: @Macbeth98, @AndrewHess

Cleanup
  static/js/common.js
Owners: @sunitakawane, @sonamgupta21

Granularity : Day and Month Working
  static/js/usage-stats.js
Owners: @sunitakawane, @sonamgupta21

Days working for `> 2days`
  static/js/usage-stats.js
Owners: @sunitakawane, @sonamgupta21

For less hours
  static/js/usage-stats.js
Owners: @sunitakawane, @sonamgupta21

Make the date bold
  static/js/usage-stats.js
Owners: @sunitakawane, @sonamgupta21

chartJS Library
  static/usage-stats.html
Owners: @sonamgupta21

Handle simple instant queries (#2517)
  pkg/e2etests/metrics_e2e_test.go
  pkg/integrations/prometheus/promql/metricsSearchHandler.go
  pkg/segment/metadata/tsmeta.go
  pkg/segment/query/metricsevaluator/evaluator.go
  pkg/segment/query/metricsevaluator/mockreader.go
  pkg/segment/query/metricsevaluator/seriesstream.go
  pkg/segment/query/metricsquery.go
  pkg/segment/query/metricsquery_test.go
  pkg/segment/structs/metricsstructs.go
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Cleanup
  static/js/usage-stats.js
Owners: @sunitakawane, @sonamgupta21

Cleanup
  static/js/usage-stats.js
Owners: @sunitakawane, @sonamgupta21

Fix
  static/js/usage-stats.js
Owners: @sunitakawane, @sonamgupta21

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
