Repository siglens/siglens, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nkunal, @sunitakawane, @sonamgupta21, @AndrewHess, @Macbeth98

Implemented switching of queries to promql instant queries
  static/css/metrics-explorer.css
  static/js/kubernetes-overview.js
  static/js/metrics-explorer.js
  static/metrics-explorer.html
Owners: @sonamgupta21, @sunitakawane

Tidy: rename variable
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Fix issue not detecting first block
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

tidy
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Fix issue flushing first metrics block of segment (#2447)
  pkg/segment/structs/metricsstructs.go
Owners: @Macbeth98, @AndrewHess

Added nested submenu for infrastructure
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Made some changes
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Made some changes
  static/css/metrics-explorer.css
  static/js/metrics-explorer.js
Owners: @sonamgupta21, @sunitakawane

Fixed some issues
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

hide navbar scrollbar in dark mode
  static/css/siglens.css
Owners: @sonamgupta21

Code Refactored
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

Fixing playwright tests
  playwright-tests/tests/navbar-1.test.js
  playwright-tests/tests/navbar-2.test.js
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Fixed playwright test fails
  playwright-tests/tests/navbar-2.test.js
Owners: @sunitakawane, @sonamgupta21

Done some changes
  playwright-tests/tests/navbar-1.test.js
  playwright-tests/tests/navbar-2.test.js
Owners: @sunitakawane, @sonamgupta21

Arrow issue fixed
  static/js/navbar.js
Owners: @sunitakawane, @sonamgupta21

Lock added for the metricsName[]
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Fix ESLint
  static/js/kubernetes-queries.js
  static/js/kubernetes-view.js
Owners: @sunitakawane, @sonamgupta21

Shift + Enter to run query (#2416)
  static/js/common.js
  static/js/event-handlers.js
Owners: @sunitakawane, @sonamgupta21

Arrow state of nested submenu fixed
  static/css/siglens.css
  static/js/navbar.js
Owners: @sonamgupta21, @sunitakawane

Made final changes
  static/css/siglens.css
Owners: @sonamgupta21

Fix: Search Traces Duration Filter Fix
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

Fix: Search Traces Duration Filter Fix (#2449)
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

Remove column from logs record if it is empty string
  pkg/ast/pipesearch/searchHandler.go
  pkg/segment/query/iqr/intermediateQueryResult.go
Owners: @Macbeth98, @AndrewHess

Log stats about how many queries the manager has
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

Code Refactored
  pkg/segment/writer/metrics/metricssegment.go
  pkg/segment/writer/metrics/wal/wal.go
  pkg/segment/writer/metrics/wal/wal_test.go
Owners: @Macbeth98, @AndrewHess

Increase max concurrent queries in longevity test
  tools/sigclient/cmd/sigclient.go
Owners: @Macbeth98, @AndrewHess

Limit number of in progress and runnable queries
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

fixup
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

Clean up logging
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

Avoid overwhelming the system with query validators (#2451)
  tools/sigclient/cmd/sigclient.go
  tools/sigclient/pkg/query/querymanager.go
Owners: @Macbeth98, @AndrewHess

Handle SIGUSR1 shutdown signal
  cmd/startup/startup.go
  pkg/hooks/hooks.go
Owners: @Macbeth98, @AndrewHess

fixup
  cmd/startup/startup.go
Owners: @Macbeth98, @AndrewHess

Code Refactored
  pkg/segment/writer/metrics/metricssegment.go
Owners: @Macbeth98, @AndrewHess

Now the 6 panels use instant queries
  static/component/infrastructure/big-number-card-component.js
  static/js/kubernetes-overview.js
Owners: @sunitakawane, @sonamgupta21

Fixed esLint
  static/js/search-traces.js
Owners: @sunitakawane, @sonamgupta21

Now the 6 panels use instant queries (#2453)
  static/component/infrastructure/big-number-card-component.js
  static/js/kubernetes-overview.js
Owners: @sunitakawane, @sonamgupta21

UI: Fix Kubernetes Dropdown
  static/component/infrastructure/header-component.js
Owners: @sunitakawane, @sonamgupta21

UI: Fix Kubernetes Dropdown (#2454)
  static/component/infrastructure/header-component.js
Owners: @sunitakawane, @sonamgupta21

Close the popup if clicked on the row again
  static/css/siglens.css
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

UI: Highlight the row when its JSON popup is open
  static/css/query-builder.css
  static/css/siglens.css
  static/js/common.js
Owners: @sonamgupta21, @sunitakawane

.github/CODEOWNERS:

# Default owners for everything, unless a later match takes precedence.
* @nkunal @sunitakawane @sonamgupta21 @AndrewHess

# Backend
pkg/* @Macbeth98 @AndrewHess
cicd/* @Macbeth98 @AndrewHess
*.go @Macbeth98 @AndrewHess
*.mod @Macbeth98 @AndrewHess
*.sum @Macbeth98 @AndrewHess
*.proto @Macbeth98 @AndrewHess
*.peg @Macbeth98 @AndrewHess

# Frontend
static/* @sunitakawane @sonamgupta21
static/assets/* @sonamgupta21
*.js @sunitakawane @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21
